<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="accordion" class="data-filter">
                    <div class="card-header">
                        <div class="dropdown d-inline-block">
                            <h5 class="mb-0">
                                <a href="javascript:void(0);" class="mb-2" (click)="ExColl($event)">
                                    <i class="mdi mdi-arrow-up-circle filter-icon-class" id="datafilterIcon"></i>
                                </a>
                                <span class="rc">Record:{{TotalTransactionCount}}</span>
                            </h5>
                        </div>
                        <div class="dropdown d-inline-block float-right">
                            <span class="p-input-icon-left">
                                <i class="mdi mdi-text-box-search-outline"></i>
                                <input type="text" pInputText class="form-control"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                            </span>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <form [formGroup]="FilterDetailsForm">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="StartDateTime">Start Date Time</label>
                                            <p-calendar [showTime]="true" [showSeconds]="true" [hourFormat]="'24'"
                                                pInputText autofocus class="form-control"
                                                formControlName="StartDateTime" [readonlyInput]="true"
                                                dateFormat="dd-M-yy"></p-calendar>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="EndDateTime">End Date Time</label>
                                            <p-calendar [showTime]="true" [showSeconds]="true" [hourFormat]="'24'"
                                                pInputText autofocus class="form-control" formControlName="EndDateTime"
                                                [readonlyInput]="true" dateFormat="dd-M-yy"></p-calendar>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="ShiftFilterList">Shift</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="ShiftFilterList"
                                                inputId="ShiftFilterList" [options]="ShiftData"
                                                optionLabel="ShiftNumber" optionValue="ShiftId"
                                                placeholder="Shift">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="UserFilterList">Operator</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="UserFilterList"
                                                inputId="UserFilterList" [options]="LaneUserData"
                                                optionLabel="LoginId" optionValue="UserId"
                                                placeholder="Operators">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="PlazaFilterList">Plaza</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="PlazaFilterList"
                                                inputId="PlazaFilterList" [options]="PlazaDataList" (onChange)="PlazaChange()"
                                                optionLabel="PlazaName" optionValue="PlazaId" placeholder="Plaza">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="LaneFilterList">Lane</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="LaneFilterList"
                                                inputId="LaneFilterList" [options]="LaneList"
                                                optionLabel="LaneName" optionValue="LaneId" placeholder="Lane">
                                            </p-multiSelect>
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <label for="VehicleClassFilterList">Vehicle Class</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="VehicleClassFilterList"
                                                inputId="VehicleClassFilterList" [options]="ClassData"
                                                optionLabel="SystemVehicleClassName" optionValue="SystemVehicleClassId"
                                                placeholder="Vehicle Class" (onChange)="VehicleClassChange()">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="VehicleSubClassFilterList">Vehicle Sub Class</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="VehicleSubClassFilterList"
                                                inputId="VehicleClassFilterList" [options]="SubClassData"
                                                optionLabel="FasTagVehicleClassName" optionValue="FasTagVehicleClassId"
                                                placeholder="Vehicle Sub Class">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="TransactionTypeFilterList">Transaction Type</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="TransactionTypeFilterList"
                                                inputId="TransactionTypeFilterList" [options]="TransactionTypeData"
                                                optionLabel="TransactionTypeName" optionValue="TransactionTypeId" placeholder="Transaction Type">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="PlateNumber">Plate Number</label>
                                            <input formControlName="PlateNumber" placeholder="Plate Number" type="text" pInputText required autocomplete="off" class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label for="TransactionId">Transaction Id</label>
                                            <input formControlName="TransactionId" placeholder="Transaction Id" type="text" pInputText required autocomplete="off" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 d-flex justify-content-center text-center">
                                    <button type="button" class="btn btn-info btn-circle btn-lg btn-search" (click)="FilterAllData()">
                                        <i class="mdi mdi-feature-search-outline"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive mt-3 listtablepagging-f3 listtablepadding" id="tbl">
                    <p-table #dt [value]="EventHistroyData" [rowHover]="true" [scrollable]="true"
                        [resizableColumns]="true" [showCurrentPageReport]="true" [rows]="50" [paginator]="true"
                        [globalFilterFields]="['PlazaName','LaneNumber','ShiftNumber','TransactionDateTimeStamp','PlateNumber','TransactionTypeName',
                        'VehicleClassName','VehicleSubClassName','VehicleAvcClassName','TagClassName','ReceiptNumber','TagId','LoginId']">
                        <ng-template pTemplate="header" styleClass="thead-light">
                            <tr>
                                <th>Transcation Id</th>
                                <th>Plaza</th>
                                <th>Lane</th>
                                <th>Shift</th>
                                <th>Date Time</th>
                                <th>Plate Number</th>
                                <th>Type</th>
                                <th>Sys Class</th>
                                <th>Sub Class</th>
                                <th>AVC Class</th>
                                <th>Tag Class</th>
                                <th>Receipt</th>
                                <th>Tag ID</th>
                                <th>Weight</th>
                                <th>Over Weight <br/> Penalty</th>
                                <th>FasTag <br/> Penalty</th>
                                <th>Transaction <br/> Amount</th>
                                <th>Operator</th>
                                <th>Media</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                            <tr>
                                <td>{{rowData.PlazaTransactionId}}</td>
                                <td>{{rowData.PlazaName}}</td>
                                <td>{{rowData.LaneNumber}}</td>
                                <td>{{rowData.ShiftNumber}}</td>
                                <td>{{rowData.TransactionDateTimeStamp}}</td>
                                <td>{{rowData.PlateNumber}}</td>
                                <td>{{rowData.TransactionTypeName}}</td>
                                <td>{{rowData.VehicleClassName}}</td>
                                <td>{{rowData.VehicleSubClassName}}</td>
                                <td>{{rowData.VehicleAvcClassName}}</td>
                                <td>{{rowData.TagClassName}}</td>
                                <td>{{rowData.ReceiptNumber}}</td>
                                <td>{{rowData.TagId}}</td>
                                <td class="td-amt">{{rowData.ActualVehicleWeight | number:'1.0-3'}}</td>
                                <td class="td-amt">{{rowData.OverWeightAmount| currency:'INR':true:'1.0-2'}}</td>
                                <td class="td-amt">{{rowData.TagPenaltyAmount| currency:'INR':true:'1.0-2'}}</td>
                                <td class="td-amt">{{rowData.TransactionAmount| currency:'INR':true:'1.0-2'}}</td>
                                <td>{{rowData.LoginId}}</td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0);" (click)="onMidiaView(rowData)"
                                        class="me-3 text-secondary" title="Meida Files">
                                        <i class="mdi mdi-paperclip font-size-18"></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>