
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">{{PageTitle}}</h5>
        <button type="button" class="btn-close" (click)="ClosePoup()" aria-label="Close">
            <i class="mdi mdi-close me-2"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive mt-3 listtableheight">
            <p-table #dt [value]="dataDetails.ActionHistoryDetails" [rowHover]="true" [scrollable]="true" [resizableColumns]="true"
                styleClass="table table-centered datatable dt-responsive nowrap"
                [globalFilterFields]="['ControlRoomName','ChainageNumber','Latitude','Longitude','DirectionName',
                'DataStatusName']">
                <ng-template pTemplate="header" styleClass="thead-light">
                    <tr>
                        <th>S. No.</th>
                        <th>Status</th>
                        <th>Action By</th>
                        <th>DateTime</th>
                        <th>Remark</th>
                        <th style="text-align: center;">Media</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{rowData.ActionStatusName}}</td>
                        <td>{{rowData.ActionTakenByName}}</td>
                        <td>{{rowData.ActionTakenDateTime}}</td>
                        <td>{{rowData.ActionTakenRemark}}</td>
                        <td style="text-align: center;">
                            <a href="javascript:void(0);" (click)="onMidiaView(rowData)"
                                class="me-3 text-secondary" title="Media Files">
                                <i class="fa fa-paperclip font-size-18"></i>
                            </a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>