<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">System Setting</h5>
        <button type="button" class="btn-close" (click)="ClosePoup()" aria-label="Close">
            <i class="mdi mdi-close me-2"></i>
        </button>
    </div>
    <div class="modal-body ">
        <form [formGroup]="DataDetailsForm">
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label" for="ControlRoomName">Control room name</label>
                    <input formControlName="ControlRoomName" type="text" pInputText required autocomplete="off"
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','ControlRoomName')">Control room name must be
                        required.</small>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="ProjectName">Project name</label>
                    <input formControlName="ProjectName" type="text" pInputText required autocomplete="off"
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','ProjectName')">Project name must be
                        required.</small>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="Address">Address</label>
                    <input formControlName="Address" type="text" pInputText required autocomplete="off"
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','Address')">Address must be
                        required.</small>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="RoadName">Road name</label>
                    <input formControlName="RoadName" type="text" pInputText required autocomplete="off"
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','RoadName')">Road name must be
                        required.</small>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="State">State</label>
                    <input formControlName="State" type="text" pInputText required autocomplete="off"
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','State')">State must be
                        required.</small>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="Pincode">Pincode</label>
                    <input formControlName="Pincode" type="text" pInputText required autocomplete="off"
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','Pincode')">Pincode must be
                        required.</small>
                        <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('pattern','Pincode')">
                        {{error['IndianPinCode']}}
                    </small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="ClosePoup()">Close</button>
        <button type="button" class="btn btn-success" (click)="SaveDetails()">Save changes</button>
    </div>
</div>