IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_UserM__DataS__45F365D3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_UserMaster] DROP CONSTRAINT [DF__tbl_UserM__DataS__45F365D3]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_Train__DataS__44FF419A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_TrainConfiguration] DROP CONSTRAINT [DF__tbl_Train__DataS__44FF419A]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_RoleP__DataS__412EB0B6]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_RolePermission] DROP CONSTRAINT [DF__tbl_RoleP__DataS__412EB0B6]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_RoleP__DataU__403A8C7D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_RolePermission] DROP CONSTRAINT [DF__tbl_RoleP__DataU__403A8C7D]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_RoleP__DataA__3F466844]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_RolePermission] DROP CONSTRAINT [DF__tbl_RoleP__DataA__3F466844]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_RoleP__DataV__3E52440B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_RolePermission] DROP CONSTRAINT [DF__tbl_RoleP__DataV__3E52440B]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_RoleM__DataS__3D5E1FD2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_RoleMaster] DROP CONSTRAINT [DF__tbl_RoleM__DataS__3D5E1FD2]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_Clien__DataS__3C69FB99]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_ClientConfiguration] DROP CONSTRAINT [DF__tbl_Clien__DataS__3C69FB99]
END

GO
/****** Object:  Table [dbo].[tbl_UserMaster]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_UserMaster]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_UserMaster]
GO
/****** Object:  Table [dbo].[tbl_TrainJourneyDetails]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_TrainJourneyDetails]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_TrainJourneyDetails]
GO
/****** Object:  Table [dbo].[tbl_TrainJourneyCouchDetails]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_TrainJourneyCouchDetails]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_TrainJourneyCouchDetails]
GO
/****** Object:  Table [dbo].[tbl_TrainConfiguration]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_TrainConfiguration]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_TrainConfiguration]
GO
/****** Object:  Table [dbo].[tbl_TempTrainJourneyCouchDetails]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_TempTrainJourneyCouchDetails]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_TempTrainJourneyCouchDetails]
GO
/****** Object:  Table [dbo].[tbl_TempRouteDetails]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_TempRouteDetails]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_TempRouteDetails]
GO
/****** Object:  Table [dbo].[tbl_StationConfiguration]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_StationConfiguration]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_StationConfiguration]
GO
/****** Object:  Table [dbo].[tbl_StateMaster]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_StateMaster]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_StateMaster]
GO
/****** Object:  Table [dbo].[tbl_RouteConfigurationDetails]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_RouteConfigurationDetails]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_RouteConfigurationDetails]
GO
/****** Object:  Table [dbo].[tbl_RouteConfiguration]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_RouteConfiguration]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_RouteConfiguration]
GO
/****** Object:  Table [dbo].[tbl_RolePermission]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_RolePermission]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_RolePermission]
GO
/****** Object:  Table [dbo].[tbl_RoleMaster]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_RoleMaster]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_RoleMaster]
GO
/****** Object:  Table [dbo].[tbl_MenuMaster]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_MenuMaster]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_MenuMaster]
GO
/****** Object:  Table [dbo].[tbl_EventSample]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_EventSample]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_EventSample]
GO
/****** Object:  Table [dbo].[tbl_EventMaster]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_EventMaster]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_EventMaster]
GO
/****** Object:  Table [dbo].[tbl_CouchConfiguration]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_CouchConfiguration]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_CouchConfiguration]
GO
/****** Object:  Table [dbo].[tbl_ClientConfiguration]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_ClientConfiguration]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_ClientConfiguration]
GO
/****** Object:  StoredProcedure [dbo].[USP_UsersGetByLoginId]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UsersGetByLoginId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_UsersGetByLoginId]
GO
/****** Object:  StoredProcedure [dbo].[USP_UserInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UserInsertUpdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_UserInsertUpdate]
GO
/****** Object:  StoredProcedure [dbo].[USP_UserGetbyId]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UserGetbyId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_UserGetbyId]
GO
/****** Object:  StoredProcedure [dbo].[USP_UserGetAll]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UserGetAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_UserGetAll]
GO
/****** Object:  StoredProcedure [dbo].[USP_TrainJourneyInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_TrainJourneyInsertUpdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_TrainJourneyInsertUpdate]
GO
/****** Object:  StoredProcedure [dbo].[USP_TrainJourneyGetById]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_TrainJourneyGetById]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_TrainJourneyGetById]
GO
/****** Object:  StoredProcedure [dbo].[USP_TrainJourneyGetAll]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_TrainJourneyGetAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_TrainJourneyGetAll]
GO
/****** Object:  StoredProcedure [dbo].[USP_TrainCouchDetailsGetByJourneyId]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_TrainCouchDetailsGetByJourneyId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_TrainCouchDetailsGetByJourneyId]
GO
/****** Object:  StoredProcedure [dbo].[USP_StationInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StationInsertUpdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_StationInsertUpdate]
GO
/****** Object:  StoredProcedure [dbo].[USP_StationGetByRouteId]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StationGetByRouteId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_StationGetByRouteId]
GO
/****** Object:  StoredProcedure [dbo].[USP_StationGetById]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StationGetById]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_StationGetById]
GO
/****** Object:  StoredProcedure [dbo].[USP_StationGetAll]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StationGetAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_StationGetAll]
GO
/****** Object:  StoredProcedure [dbo].[USP_StationAvailableGetByRouteId]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StationAvailableGetByRouteId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_StationAvailableGetByRouteId]
GO
/****** Object:  StoredProcedure [dbo].[USP_StateGetById]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StateGetById]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_StateGetById]
GO
/****** Object:  StoredProcedure [dbo].[USP_StateGetAll]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StateGetAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_StateGetAll]
GO
/****** Object:  StoredProcedure [dbo].[USP_RouteInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RouteInsertUpdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_RouteInsertUpdate]
GO
/****** Object:  StoredProcedure [dbo].[USP_RouteGetById]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RouteGetById]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_RouteGetById]
GO
/****** Object:  StoredProcedure [dbo].[USP_RouteGetAll]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RouteGetAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_RouteGetAll]
GO
/****** Object:  StoredProcedure [dbo].[USP_RouteDetailsInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RouteDetailsInsertUpdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_RouteDetailsInsertUpdate]
GO
/****** Object:  StoredProcedure [dbo].[USP_RouteDetailsGetByRouteId]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RouteDetailsGetByRouteId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_RouteDetailsGetByRouteId]
GO
/****** Object:  StoredProcedure [dbo].[USP_RolesGetById]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RolesGetById]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_RolesGetById]
GO
/****** Object:  StoredProcedure [dbo].[USP_RolesGetAll]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RolesGetAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_RolesGetAll]
GO
/****** Object:  StoredProcedure [dbo].[USP_RoleInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RoleInsertUpdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_RoleInsertUpdate]
GO
/****** Object:  StoredProcedure [dbo].[USP_MenuGetAll]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_MenuGetAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_MenuGetAll]
GO
/****** Object:  StoredProcedure [dbo].[USP_CouchInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_CouchInsertUpdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_CouchInsertUpdate]
GO
/****** Object:  StoredProcedure [dbo].[USP_CouchGetById]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_CouchGetById]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_CouchGetById]
GO
/****** Object:  StoredProcedure [dbo].[USP_CouchGetAvailable]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_CouchGetAvailable]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_CouchGetAvailable]
GO
/****** Object:  StoredProcedure [dbo].[USP_CouchGetAll]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_CouchGetAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_CouchGetAll]
GO
/****** Object:  StoredProcedure [dbo].[USP_ClientInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ClientInsertUpdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_ClientInsertUpdate]
GO
/****** Object:  StoredProcedure [dbo].[USP_ClientGetbyId]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ClientGetbyId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_ClientGetbyId]
GO
/****** Object:  StoredProcedure [dbo].[USP_ClientGetAll]    Script Date: 01-08-2021 22:18:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ClientGetAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_ClientGetAll]
GO
/****** Object:  StoredProcedure [dbo].[USP_ClientGetAll]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ClientGetAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_ClientGetAll]
AS BEGIN
	
		SELECT C.EntryId,C.ClientName,C.ClientAddress,C.MobileNumber,C.EmailId,C.DataStatus,C.CreatedDate,C.CreatedBy,C.ModifiedDate,C.ModifiedBy
        FROM tbl_ClientConfiguration C
		ORDER BY ModifiedDate DESC,CreatedDate DESC
END

--GO
--EXEC USP_UsersGetByLoginId
--@LoginId=''admin''
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ClientGetbyId]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ClientGetbyId]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_ClientGetbyId]
@EntryId int
AS BEGIN
	
		SELECT C.EntryId,C.ClientName,C.ClientAddress,C.MobileNumber,C.EmailId,C.DataStatus,C.CreatedDate,C.CreatedBy,C.ModifiedDate,C.ModifiedBy
        FROM tbl_ClientConfiguration C
		WHERE EntryId=@EntryId
END

--GO
--EXEC USP_UsersGetByLoginId
--@LoginId=''admin''
' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ClientInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ClientInsertUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_ClientInsertUpdate] 
@EntryId bigint,
@ClientName nvarchar(100),
@ClientAddress nvarchar (200),
@MobileNumber nvarchar (20),
@EmailId nvarchar (50),
@DataStatus smallint,
@UserId bigint,
@CDateTime DateTime
AS
BEGIN
	DECLARE @PVal varchar(4000)
	DECLARE @CVal varchar(4000)
	DECLARE @EventId smallint=1;
	CREATE TABLE #Temp(AlertMessage varchar(100))
	DECLARE @cnt int
	DECLARE @DataCount int=0;
	
	IF EXISTS(SELECT EntryId FROM tbl_ClientConfiguration where ClientName=@ClientName AND EntryId<>@EntryId)
	BEGIN
		INSERT INTO #Temp(AlertMessage)
		VALUES(''Name already exists'')
	END
	IF EXISTS(SELECT EntryId FROM tbl_ClientConfiguration where MobileNumber=@MobileNumber AND EntryId<>@EntryId)
	BEGIN
		INSERT INTO #Temp(AlertMessage)
		VALUES(''Mobile number already exists'')
	END
	IF EXISTS(SELECT EntryId FROM tbl_ClientConfiguration where EmailId=@EmailId AND EntryId<>@EntryId)
	BEGIN
		INSERT INTO #Temp(AlertMessage)
		VALUES(''Email id already exists'')
	END
	IF(@EntryId<>0 AND @DataStatus<>1)
	BEGIN
		IF EXISTS(SELECT EntryId FROM tbl_PlazaConfiguration where ClientId=@EntryId AND @DataStatus=1)
		BEGIN
			INSERT INTO #Temp(AlertMessage)
			VALUES(''Client cannot inactive due to plaza already conncted!'');
		END	
	END
	
	SELECT @cnt=COUNT(AlertMessage)  FROM #Temp
	IF(@cnt=0)
		BEGIN
			IF(@EntryId=0)
			BEGIN
				insert into tbl_ClientConfiguration(ClientName,ClientAddress,MobileNumber,EmailId,DataStatus,CreatedDate,CreatedBy)
				values(@ClientName,@ClientAddress,@MobileNumber,@EmailId,@DataStatus,@CDateTime,@UserId);
				SELECT @EntryId=@@IDENTITY
				
				Set @CVal =''ClientId:''+convert(varchar,@EntryId)+'',ClientName:''+@ClientName+'',ClientAddress:''+@ClientAddress+
				'',EmailId:''+@EmailId+'',MobileNumber:''+@MobileNumber+'',Status:''+CONVERT(varchar,@DataStatus)			
				
				INSERT INTO tbl_ActivityLog(UserId,CurrentColumn,Action,EventId,CreatedDate)
				VALUES(@UserId,@CVal,''Insert'',@EventId,@CDateTime);
				
				INSERT INTO #Temp(AlertMessage)VALUES(''success'');
			END
			ELSE
			BEGIN
				Declare @LDataStatus smallint		
				Declare @LClientName nvarchar(100)	Declare @LClientAddress nvarchar(200)	Declare @LEmailId nvarchar(50)
				Declare @LMobileNumber nvarchar(30)	
				


				Select @LDataStatus=DataStatus,
				@LClientName=ClientName,@LClientAddress=ClientAddress,@LEmailId=EmailId,@LMobileNumber=MobileNumber
				from tbl_ClientConfiguration where EntryId=@EntryId;

				UPDATE tbl_ClientConfiguration SET ClientName=@ClientName,ClientAddress=@ClientAddress,MobileNumber=@MobileNumber,EmailId=@EmailId,
				DataStatus=@DataStatus,ModifiedDate=@CDateTime,ModifiedBy=@UserId
				WHERE EntryId=@EntryId
			
				Set @CVal =''ClientId:''+convert(varchar,@EntryId)+'',ClientName:''+@ClientName+'',ClientAddress:''+@ClientAddress+
				'',EmailId:''+@EmailId+'',MobileNumber:''+@MobileNumber+'',Status:''+CONVERT(varchar,@DataStatus)		
				
				Set @PVal =''ClientId:''+convert(varchar,@EntryId)+'',ClientName:''+@LClientName+'',ClientAddress:''+@LClientAddress+
				'',EmailId:''+@LEmailId+'',MobileNumber:''+@LMobileNumber+'',Status:''+CONVERT(varchar,@LDataStatus)		
					
				INSERT INTO tbl_ActivityLog(UserId,PrevColumn,CurrentColumn,Action,EventId,CreatedDate)
				VALUES(@UserId,@PVal,@CVal,''Update'',@EventId,@CDateTime);

				INSERT INTO #Temp(AlertMessage)VALUES(''success'');
			END
		END
		select * from #Temp;
END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CouchGetAll]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_CouchGetAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_CouchGetAll]

AS BEGIN
	SELECT EntryId,CouchNumber,CouchKey,MPUKey,DataStatus,CreatedDate,CreatedBy,ModifiedDate,ModifiedBy
	FROM tbl_CouchConfiguration 
	ORDER BY ModifiedDate DESC,CreatedDate DESC
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CouchGetAvailable]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_CouchGetAvailable]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_CouchGetAvailable]

AS BEGIN
	SELECT EntryId,CouchNumber,CouchKey,MPUKey,DataStatus,CreatedDate,CreatedBy,ModifiedDate,ModifiedBy
	FROM tbl_CouchConfiguration 
	WHERE EntryId NOT IN (SELECT CouchId FROM tbl_TrainJourneyCouchDetails)
	ORDER BY ModifiedDate DESC,CreatedDate DESC
END




' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CouchGetById]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_CouchGetById]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_CouchGetById]
@EntryId int
AS BEGIN
	SELECT EntryId,CouchNumber,CouchKey,MPUKey,DataStatus,CreatedDate,CreatedBy,ModifiedDate,ModifiedBy
	FROM tbl_CouchConfiguration 
	WHERE EntryId=@EntryId
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CouchInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_CouchInsertUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_CouchInsertUpdate] 
@EntryId bigint,
@CouchNumber varchar(10),
@CouchKey varchar(50),
@MPUKey varchar(50),
@DataStatus smallint,
@UserId bigint,
@CDateTime DateTime

AS
BEGIN
	PRINT ''A''
	DECLARE @PVal varchar(4000)
	DECLARE @CVal varchar(4000)
	DECLARE @EventId smallint=2;
	CREATE TABLE #Temp(AlertMessage varchar(100))
	DECLARE @cnt int
	IF EXISTS(SELECT EntryId FROM tbl_CouchConfiguration where CouchKey=@CouchKey and EntryId<>@EntryId)
	BEGIN
		INSERT INTO #Temp(AlertMessage)
		VALUES(''Couch id already exists!'')
	END
	IF EXISTS(SELECT EntryId FROM tbl_CouchConfiguration where MPUKey=@MPUKey and EntryId<>@EntryId)
	BEGIN
		INSERT INTO #Temp(AlertMessage)
		VALUES(''MPU code already exists!'')
	END
	SELECT @cnt=COUNT(AlertMessage)  FROM #Temp
	IF(@cnt=0)
		BEGIN
			IF(@EntryId=0)
			BEGIN
				insert into tbl_CouchConfiguration(CouchNumber,CouchKey,MPUKey,DataStatus,CreatedDate,CreatedBy)
				values(@CouchNumber,@CouchKey,@MPUKey,@DataStatus,@CDateTime,@UserId);
				SELECT @EntryId=@@IDENTITY
				
				--Set @CVal =''RoleId:''+convert(varchar,@EntryId)+'',RoleName:''+@RoleName+'',Status:''+CONVERT(varchar,@DataStatus)
				--+'',ClientId:''+CONVERT(varchar,@ClientId)+'',PlazaId:''+CONVERT(varchar,@PlazaId)				
				
				--INSERT INTO tbl_ActivityLog(UserId,CurrentColumn,Action,EventId,CreatedDate)
				--VALUES(@UserId,@CVal,''Insert'',@EventId,@CDateTime);
				
				INSERT INTO #Temp(AlertMessage)VALUES(''success'');
			END
			ELSE
			BEGIN
				--Declare @LClientId smallint			Declare @LPlazaId smallint			
				--Declare @LRoleName nvarchar(200)	Declare @LDataStatus smallint
			
				--Select @LClientId=ClientId,@LPlazaId=PlazaId,@LRoleName=RoleName,@LDataStatus=DataStatus
				--from tbl_RoleMaster where EntryId=@EntryId;

				UPDATE tbl_CouchConfiguration SET CouchNumber=@CouchNumber,CouchKey=@CouchKey,MPUKey=@MPUKey,
				DataStatus=@DataStatus,ModifiedDate=@CDateTime,ModifiedBy=@UserId
				WHERE EntryId=@EntryId
			
				--Set @CVal =''RoleId:''+convert(varchar,@EntryId)+'',RoleName:''+@RoleName+'',Status:''+CONVERT(varchar,@DataStatus)
				--	+'',ClientId:''+CONVERT(varchar,@ClientId)+'',PlazaId:''+CONVERT(varchar,@PlazaId)		
				--Set @PVal =''RoleId:''+convert(varchar,@EntryId)+'',RoleName:''+@LRoleName+'',Status:''+CONVERT(varchar,@LDataStatus)
				--	+'',ClientId:''+CONVERT(varchar,@LClientId)+'',PlazaId:''+CONVERT(varchar,@LPlazaId)
					
				--INSERT INTO tbl_ActivityLog(UserId,PrevColumn,CurrentColumn,Action,EventId,CreatedDate)
				--VALUES(@UserId,@PVal,@CVal,''Update'',@EventId,@CDateTime);

				INSERT INTO #Temp(AlertMessage)VALUES(''success'');
			END
		END
		select * from #Temp;
END
--GO
--EXEC USP_StationInsertUpdate
--@EntryId =0,
--@StationName =''Ghaziabad'',
--@StationCode =''GZB'',
--@StationAddress ='''',
--@Latitude=28.457267,
--@Longitude=77.306759,
--@AudioPath =''Station_20210418.wav'',
--@StateId =33,
--@DataStatus =1,
--@UserId =0,
--@CDateTime =''04-18-2021''

' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MenuGetAll]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_MenuGetAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_MenuGetAll]
AS BEGIN
	
		SELECT M.EntryId,M.MenuName,M.MenuURL,M.MenuIcon,M.OderBy,M.ParentId
        FROM tbl_MenuMaster M
		WHERE M.MennuAccess<>2
		ORDER BY OderBy
END

--GO
--EXEC USP_UsersGetByLoginId
--@LoginId=''admin''

' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RoleInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RoleInsertUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_RoleInsertUpdate] 
@EntryId bigint,
@ClientId smallint,
@PlazaId smallint,
@RoleName nvarchar(200),
@DataStatus smallint,
@UserId bigint,
@CDateTime DateTime

AS
BEGIN
	DECLARE @PVal varchar(4000)
	DECLARE @CVal varchar(4000)
	DECLARE @EventId smallint=2;
	CREATE TABLE #Temp(AlertMessage varchar(100))
	DECLARE @cnt int
	IF EXISTS(SELECT EntryId FROM tbl_RoleMaster where RoleName=@RoleName and EntryId<>@EntryId)
		BEGIN
			INSERT INTO #Temp(AlertMessage)
			VALUES(''Role name already exists!'')
		END
	IF(@EntryId<>0 AND @DataStatus<>1)
	BEGIN
		IF EXISTS(SELECT RoleId FROM tbl_UserMaster where RoleId=@EntryId AND @DataStatus=1)
		BEGIN
			INSERT INTO #Temp(AlertMessage)
			VALUES(''Role cannot inactive due to users already conncted!'')
		END	
	END
	SELECT @cnt=COUNT(AlertMessage)  FROM #Temp
	IF(@cnt=0)
		BEGIN
			IF(@EntryId=0)
			BEGIN
				insert into tbl_RoleMaster(ClientId,PlazaId,RoleName,DataStatus,CreatedDate,CreatedBy)
				values(@ClientId,@PlazaId,@RoleName,@DataStatus,@CDateTime,@UserId);
				SELECT @EntryId=@@IDENTITY
				
				Set @CVal =''RoleId:''+convert(varchar,@EntryId)+'',RoleName:''+@RoleName+'',Status:''+CONVERT(varchar,@DataStatus)
				+'',ClientId:''+CONVERT(varchar,@ClientId)+'',PlazaId:''+CONVERT(varchar,@PlazaId)				
				
				INSERT INTO tbl_ActivityLog(UserId,CurrentColumn,Action,EventId,CreatedDate)
				VALUES(@UserId,@CVal,''Insert'',@EventId,@CDateTime);
				
				INSERT INTO #Temp(AlertMessage)VALUES(''success'');
			END
			ELSE
			BEGIN
				Declare @LClientId smallint			Declare @LPlazaId smallint			
				Declare @LRoleName nvarchar(200)	Declare @LDataStatus smallint
			
				Select @LClientId=ClientId,@LPlazaId=PlazaId,@LRoleName=RoleName,@LDataStatus=DataStatus
				from tbl_RoleMaster where EntryId=@EntryId;

				UPDATE tbl_RoleMaster SET ClientId=@ClientId,PlazaId=@PlazaId,RoleName=@RoleName,
				DataStatus=@DataStatus,ModifiedDate=@CDateTime,ModifiedBy=@UserId
				WHERE EntryId=@EntryId
			
				Set @CVal =''RoleId:''+convert(varchar,@EntryId)+'',RoleName:''+@RoleName+'',Status:''+CONVERT(varchar,@DataStatus)
					+'',ClientId:''+CONVERT(varchar,@ClientId)+'',PlazaId:''+CONVERT(varchar,@PlazaId)		
				Set @PVal =''RoleId:''+convert(varchar,@EntryId)+'',RoleName:''+@LRoleName+'',Status:''+CONVERT(varchar,@LDataStatus)
					+'',ClientId:''+CONVERT(varchar,@LClientId)+'',PlazaId:''+CONVERT(varchar,@LPlazaId)
					
				INSERT INTO tbl_ActivityLog(UserId,PrevColumn,CurrentColumn,Action,EventId,CreatedDate)
				VALUES(@UserId,@PVal,@CVal,''Update'',@EventId,@CDateTime);

				INSERT INTO #Temp(AlertMessage)VALUES(''success'');
			END
		END
		select * from #Temp;
END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RolesGetAll]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RolesGetAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_RolesGetAll]

AS BEGIN
	--SELECT R.EntryId,RoleName,R.DataStatus,R.CreatedDate,R.CreatedBy,R.ModifiedDate,R.ModifiedBy,
	--CASE COUNT(EventId) WHEN 0 THEN ''Not set'' ELSE ''Set'' END PermissionStatus  
	--FROM tbl_RoleMaster R LEFT JOIN tbl_RolePermission P ON R.EntryId=P.RoleId where R.DataStatus<>0
	--GROUP BY  R.EntryId,RoleName,R.DataStatus,R.CreatedDate,R.CreatedBy,R.ModifiedDate,R.ModifiedBy

	SELECT EntryId,ClientId,PlazaId,RoleName,DataStatus,CreatedDate,CreatedBy,ModifiedDate,ModifiedBy FROM tbl_RoleMaster 
	ORDER BY ModifiedDate DESC,CreatedDate DESC
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RolesGetById]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RolesGetById]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_RolesGetById]
@EntryId int
AS BEGIN
	SELECT EntryId,ClientId,PlazaId,RoleName,DataStatus,CreatedDate,CreatedBy,ModifiedDate,ModifiedBy	
	FROM tbl_RoleMaster where EntryId=@EntryId
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RouteDetailsGetByRouteId]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RouteDetailsGetByRouteId]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_RouteDetailsGetByRouteId]
@RouteId bigint

AS BEGIN
	SELECT RC.RouteId,RC.StationId,RC.OrderBy,RC.DataStatus,RC.CreatedDate,RC.CreatedBy,RC.ModifiedDate,RC.ModifiedBy,
	RS.StationName,RS.StationCode,RS.Latitude,RS.Longitude,
	R.TrainNumber,R.SourceStationId,R.DestinationStationId,R.Direction,
	S.StationName AS SourceStationName,S.StationCode AS SourceStationCode,D.StationName AS DestinationStationName,
	D.StationCode AS DestinationStationCode
	FROM tbl_RouteConfigurationDetails RC
	INNER JOIN tbl_RouteConfiguration R ON RC.RouteId = R.EntryId
	INNER JOIN tbl_StationConfiguration S ON R.SourceStationId = S.EntryId
	INNER JOIN tbl_StationConfiguration D ON R.DestinationStationId = D.EntryId
	INNER JOIN tbl_StationConfiguration RS ON RC.StationId = RS.EntryId
	WHERE RC.RouteId=@RouteId
	ORDER BY RC.OrderBy
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RouteDetailsInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RouteDetailsInsertUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_RouteDetailsInsertUpdate] 
@SessionId varchar(20),
@DataStatus smallint,
@UserId bigint,
@CDateTime DateTime

AS
BEGIN
	PRINT ''A''
	DECLARE @PVal varchar(4000)
	DECLARE @CVal varchar(4000)
	DECLARE @EventId smallint=2;
	CREATE TABLE #Temp(AlertMessage varchar(100))
	CREATE TABLE #TempDetails(RouteId bigint,StationId bigint,OrderBy smallint)
	
	INSERT INTO #TempDetails (RouteId,StationId,OrderBy)
	SELECT RouteId,StationId,OrderBy FROM tbl_TempRouteDetails 
	WHERE SessionId=@SessionId

	DELETE FROM tbl_RouteConfigurationDetails  WHERE RouteId IN (SELECT RouteId FROM #TempDetails)
	DELETE FROM tbl_TempRouteDetails  WHERE SessionId=@SessionId

	INSERT INTO tbl_RouteConfigurationDetails(RouteId,StationId,OrderBy,DataStatus,CreatedDate,CreatedBy,ModifiedDate,ModifiedBy)
	SELECT RouteId,StationId,OrderBy,@DataStatus,@CDateTime,@UserId,@CDateTime,@UserId FROM #TempDetails 
	
	INSERT INTO #Temp(AlertMessage)VALUES(''success'');
	select * from #Temp;
END
--GO
--EXEC USP_StationInsertUpdate
--@EntryId =0,
--@StationName =''Ghaziabad'',
--@StationCode =''GZB'',
--@StationAddress ='''',
--@Latitude=28.457267,
--@Longitude=77.306759,
--@AudioPath =''Station_20210418.wav'',
--@StateId =33,
--@DataStatus =1,
--@UserId =0,
--@CDateTime =''04-18-2021''

' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RouteGetAll]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RouteGetAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_RouteGetAll]

AS BEGIN
	SELECT R.EntryId,TrainNumber,TrainName,Direction,R.DataStatus,
	R.CreatedDate,R.CreatedBy,R.ModifiedDate,R.ModifiedBy,
	R.SourceStationId,S.StationName AS SourceStationName,S.StationCode AS SourceStationCode,S.Latitude AS SourceLatitude,S.Longitude AS SourceLongitude,
	R.DestinationStationId,D.StationName AS DestinationStationName,D.StationCode AS DestinationStationCode,D.Latitude AS DestinationLatitude,D.Longitude AS DestinationLongitude
	FROM tbl_RouteConfiguration R INNER JOIN tbl_StationConfiguration S ON R.SourceStationId = S.EntryId
	INNER JOIN tbl_StationConfiguration D ON R.DestinationStationId = D.EntryId
	ORDER BY R.ModifiedDate DESC,R.CreatedDate DESC
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RouteGetById]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RouteGetById]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_RouteGetById]
@EntryId bigint

AS BEGIN
	SELECT R.EntryId,TrainNumber,TrainName,Direction,R.DataStatus,
	R.CreatedDate,R.CreatedBy,R.ModifiedDate,R.ModifiedBy,
	R.SourceStationId,S.StationName AS SourceStationName,S.StationCode AS SourceStationCode,S.Latitude AS SourceLatitude,S.Longitude AS SourceLongitude,
	R.DestinationStationId,D.StationName AS DestinationStationName,D.StationCode AS DestinationStationCode,D.Latitude AS DestinationLatitude,D.Longitude AS DestinationLongitude
	FROM tbl_RouteConfiguration R INNER JOIN tbl_StationConfiguration S ON R.SourceStationId = S.EntryId
	INNER JOIN tbl_StationConfiguration D ON R.DestinationStationId = D.EntryId
	WHERE R.EntryId=@EntryId
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RouteInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_RouteInsertUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_RouteInsertUpdate] 
@EntryId bigint,
@TrainNumber varchar(50),
@TrainName varchar(100),
@Direction smallint,
@SourceStationId bigint,
@DestinationStationId bigint,
@DataStatus smallint,
@UserId bigint,
@CDateTime DateTime

AS
BEGIN
	PRINT ''A''
	DECLARE @PVal varchar(4000)
	DECLARE @CVal varchar(4000)
	DECLARE @EventId smallint=2;
	CREATE TABLE #Temp(AlertMessage varchar(100))
	DECLARE @cnt int
	IF EXISTS(SELECT EntryId FROM tbl_RouteConfiguration where TrainNumber=@TrainNumber and EntryId<>@EntryId)
	BEGIN
		INSERT INTO #Temp(AlertMessage)
		VALUES(''Train number name already exists!'')
	END
	IF EXISTS(SELECT EntryId FROM tbl_RouteConfiguration where TrainName=@TrainName AND Direction=@Direction and EntryId<>@EntryId)
	BEGIN
		INSERT INTO #Temp(AlertMessage)
		VALUES(''Train name name already exists!'')
	END
	IF(@SourceStationId=@DestinationStationId)
	BEGIN
		INSERT INTO #Temp(AlertMessage)
		VALUES(''Source and Destination must be different!'')
	END
	SELECT @cnt=COUNT(AlertMessage)  FROM #Temp
	IF(@cnt=0)
		BEGIN
			IF(@EntryId=0)
			BEGIN
				insert into tbl_RouteConfiguration(TrainNumber,TrainName,Direction,SourceStationId,DestinationStationId,DataStatus,CreatedDate,CreatedBy)
				values(@TrainNumber,@TrainName,@Direction,@SourceStationId,@DestinationStationId,@DataStatus,@CDateTime,@UserId);
				SELECT @EntryId=@@IDENTITY
				
				--Set @CVal =''RoleId:''+convert(varchar,@EntryId)+'',RoleName:''+@RoleName+'',Status:''+CONVERT(varchar,@DataStatus)
				--+'',ClientId:''+CONVERT(varchar,@ClientId)+'',PlazaId:''+CONVERT(varchar,@PlazaId)				
				
				--INSERT INTO tbl_ActivityLog(UserId,CurrentColumn,Action,EventId,CreatedDate)
				--VALUES(@UserId,@CVal,''Insert'',@EventId,@CDateTime);
				
				INSERT INTO #Temp(AlertMessage)VALUES(''success'');
			END
			ELSE
			BEGIN
				--Declare @LClientId smallint			Declare @LPlazaId smallint			
				--Declare @LRoleName nvarchar(200)	Declare @LDataStatus smallint
			
				--Select @LClientId=ClientId,@LPlazaId=PlazaId,@LRoleName=RoleName,@LDataStatus=DataStatus
				--from tbl_RoleMaster where EntryId=@EntryId;

				UPDATE tbl_RouteConfiguration SET TrainNumber=@TrainNumber,TrainName=@TrainName,SourceStationId=@SourceStationId,DestinationStationId=@DestinationStationId,
				DataStatus=@DataStatus,ModifiedDate=@CDateTime,ModifiedBy=@UserId
				WHERE EntryId=@EntryId
			
				--Set @CVal =''RoleId:''+convert(varchar,@EntryId)+'',RoleName:''+@RoleName+'',Status:''+CONVERT(varchar,@DataStatus)
				--	+'',ClientId:''+CONVERT(varchar,@ClientId)+'',PlazaId:''+CONVERT(varchar,@PlazaId)		
				--Set @PVal =''RoleId:''+convert(varchar,@EntryId)+'',RoleName:''+@LRoleName+'',Status:''+CONVERT(varchar,@LDataStatus)
				--	+'',ClientId:''+CONVERT(varchar,@LClientId)+'',PlazaId:''+CONVERT(varchar,@LPlazaId)
					
				--INSERT INTO tbl_ActivityLog(UserId,PrevColumn,CurrentColumn,Action,EventId,CreatedDate)
				--VALUES(@UserId,@PVal,@CVal,''Update'',@EventId,@CDateTime);

				INSERT INTO #Temp(AlertMessage)VALUES(''success'');
			END
		END
		select * from #Temp;
END
--GO
--EXEC USP_StationInsertUpdate
--@EntryId =0,
--@StationName =''Ghaziabad'',
--@StationCode =''GZB'',
--@StationAddress ='''',
--@Latitude=28.457267,
--@Longitude=77.306759,
--@AudioPath =''Station_20210418.wav'',
--@StateId =33,
--@DataStatus =1,
--@UserId =0,
--@CDateTime =''04-18-2021''

' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_StateGetAll]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StateGetAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_StateGetAll]

AS BEGIN
	SELECT StateId,StateName,Languages,DataStatus,CreatedDate,CreatedBy,ModifiedDate,ModifiedBy
	FROM tbl_StateMaster 
	ORDER BY ModifiedDate DESC,CreatedDate DESC
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_StateGetById]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StateGetById]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_StateGetById]
@EntryId int
AS BEGIN
	SELECT StateId,StateName,Languages,DataStatus,CreatedDate,CreatedBy,ModifiedDate,ModifiedBy
	FROM tbl_StateMaster WHERE StateId=@EntryId
	
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_StationAvailableGetByRouteId]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StationAvailableGetByRouteId]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_StationAvailableGetByRouteId]
@RouteId bigint
AS BEGIN
	CREATE TABLE #tempNotRequiredStation(StationId bigint)
	DECLARE @SourceStationId bigint 
	DECLARE @DestinationStationId bigint 
	SELECT @SourceStationId=SourceStationId,@DestinationStationId=DestinationStationId FROM tbl_RouteConfiguration WHERE EntryId=@RouteId
	

	INSERT INTO #tempNotRequiredStation(StationId)
	SELECT StationId FROM tbl_RouteConfigurationDetails WHERE RouteId=@RouteId
	INSERT INTO #tempNotRequiredStation(StationId) VALUES(@SourceStationId)
	INSERT INTO #tempNotRequiredStation(StationId) VALUES(@DestinationStationId)


	SELECT EntryId,StationName,StationCode,StationAddress,Latitude,Longitude,AudioPath,S.StateId,S.StationLength,
	S.DataStatus,S.CreatedDate,S.CreatedBy,S.ModifiedDate,S.ModifiedBy,
	SM.StateName,SM.Languages
	FROM tbl_StationConfiguration S INNER JOIN tbl_StateMaster SM ON S.StateId=SM.StateId
	WHERE EntryId NOT IN (SELECT StationId FROM #tempNotRequiredStation)
	
	
	
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_StationGetAll]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StationGetAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_StationGetAll]

AS BEGIN
	SELECT EntryId,StationName,StationCode,StationAddress,Latitude,Longitude,AudioPath,S.StateId,S.StationLength,
	S.DataStatus,S.CreatedDate,S.CreatedBy,S.ModifiedDate,S.ModifiedBy,
	SM.StateName,SM.Languages
	FROM tbl_StationConfiguration S INNER JOIN tbl_StateMaster SM ON S.StateId=SM.StateId
	ORDER BY ModifiedDate DESC,CreatedDate DESC
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_StationGetById]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StationGetById]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_StationGetById]
@EntryId int
AS BEGIN
	SELECT EntryId,StationName,StationCode,StationAddress,Latitude,Longitude,AudioPath,S.StateId,S.StationLength,
	S.DataStatus,S.CreatedDate,S.CreatedBy,S.ModifiedDate,S.ModifiedBy,
	SM.StateName,SM.Languages
	FROM tbl_StationConfiguration S INNER JOIN tbl_StateMaster SM ON S.StateId=SM.StateId
	WHERE S.EntryId =@EntryId 
	ORDER BY S.ModifiedDate DESC,S.CreatedDate DESC
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_StationGetByRouteId]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StationGetByRouteId]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_StationGetByRouteId]
@RouteId bigint
AS BEGIN
	DECLARE @SourceStationId bigint 
	DECLARE @DestinationStationId bigint 
	SELECT @SourceStationId=SourceStationId,@DestinationStationId=DestinationStationId FROM tbl_RouteConfiguration WHERE EntryId=@RouteId


	SELECT EntryId,StationName,StationCode,StationAddress,Latitude,Longitude,AudioPath,S.StateId,S.StationLength,
	S.DataStatus,S.CreatedDate,S.CreatedBy,S.ModifiedDate,S.ModifiedBy,
	SM.StateName,SM.Languages
	FROM tbl_StationConfiguration S INNER JOIN tbl_StateMaster SM ON S.StateId=SM.StateId
	WHERE EntryId NOT IN (@SourceStationId,@DestinationStationId)
	
	
	
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_StationInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_StationInsertUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_StationInsertUpdate] 
@EntryId bigint,
@StationName nvarchar(255),
@StationCode nvarchar(10),
@StationAddress nvarchar(255),
@Latitude decimal(10,6),
@Longitude decimal(10,6),
@AudioPath nvarchar(255),
@StateId smallint,
@StationLength smallint,
@DataStatus smallint,
@UserId bigint,
@CDateTime DateTime

AS
BEGIN
	PRINT ''A''
	DECLARE @PVal varchar(4000)
	DECLARE @CVal varchar(4000)
	DECLARE @EventId smallint=2;
	CREATE TABLE #Temp(AlertMessage varchar(100))
	DECLARE @cnt int
	IF EXISTS(SELECT EntryId FROM tbl_StationConfiguration where StationName=@StationName and EntryId<>@EntryId)
	BEGIN
		INSERT INTO #Temp(AlertMessage)
		VALUES(''Station name already exists!'')
	END
	IF EXISTS(SELECT EntryId FROM tbl_StationConfiguration where StationCode=@StationCode and EntryId<>@EntryId)
	BEGIN
		INSERT INTO #Temp(AlertMessage)
		VALUES(''Station code already exists!'')
	END
	IF EXISTS(SELECT EntryId FROM tbl_StationConfiguration where Latitude=@Latitude AND Longitude=@Longitude and EntryId<>@EntryId)
	BEGIN
		INSERT INTO #Temp(AlertMessage)
		VALUES(''Coordinate code already exists!'')
	END
	
	SELECT @cnt=COUNT(AlertMessage)  FROM #Temp
	IF(@cnt=0)
		BEGIN
			IF(@EntryId=0)
			BEGIN
				insert into tbl_StationConfiguration(StationName,StationCode,StationAddress,Latitude,Longitude,AudioPath,StateId,StationLength,DataStatus,CreatedDate,CreatedBy)
				values(@StationName,@StationCode,@StationAddress,@Latitude,@Longitude,@AudioPath,@StateId,@StationLength,@DataStatus,@CDateTime,@UserId);
				SELECT @EntryId=@@IDENTITY
				
				--Set @CVal =''RoleId:''+convert(varchar,@EntryId)+'',RoleName:''+@RoleName+'',Status:''+CONVERT(varchar,@DataStatus)
				--+'',ClientId:''+CONVERT(varchar,@ClientId)+'',PlazaId:''+CONVERT(varchar,@PlazaId)				
				
				--INSERT INTO tbl_ActivityLog(UserId,CurrentColumn,Action,EventId,CreatedDate)
				--VALUES(@UserId,@CVal,''Insert'',@EventId,@CDateTime);
				
				INSERT INTO #Temp(AlertMessage)VALUES(''success'');
			END
			ELSE
			BEGIN
				--Declare @LClientId smallint			Declare @LPlazaId smallint			
				--Declare @LRoleName nvarchar(200)	Declare @LDataStatus smallint
			
				--Select @LClientId=ClientId,@LPlazaId=PlazaId,@LRoleName=RoleName,@LDataStatus=DataStatus
				--from tbl_RoleMaster where EntryId=@EntryId;

				UPDATE tbl_StationConfiguration SET StationName=@StationName,StationCode=@StationCode,StationAddress=@StationAddress,
				Latitude=@Latitude,Longitude=@Longitude,AudioPath=@AudioPath,StateId=@StateId,StationLength=@StationLength,
				DataStatus=@DataStatus,ModifiedDate=@CDateTime,ModifiedBy=@UserId
				WHERE EntryId=@EntryId
			
				--Set @CVal =''RoleId:''+convert(varchar,@EntryId)+'',RoleName:''+@RoleName+'',Status:''+CONVERT(varchar,@DataStatus)
				--	+'',ClientId:''+CONVERT(varchar,@ClientId)+'',PlazaId:''+CONVERT(varchar,@PlazaId)		
				--Set @PVal =''RoleId:''+convert(varchar,@EntryId)+'',RoleName:''+@LRoleName+'',Status:''+CONVERT(varchar,@LDataStatus)
				--	+'',ClientId:''+CONVERT(varchar,@LClientId)+'',PlazaId:''+CONVERT(varchar,@LPlazaId)
					
				--INSERT INTO tbl_ActivityLog(UserId,PrevColumn,CurrentColumn,Action,EventId,CreatedDate)
				--VALUES(@UserId,@PVal,@CVal,''Update'',@EventId,@CDateTime);

				INSERT INTO #Temp(AlertMessage)VALUES(''success'');
			END
		END
		select * from #Temp;
END
--GO
--EXEC USP_StationInsertUpdate
--@EntryId =0,
--@StationName =''Ghaziabad'',
--@StationCode =''GZB'',
--@StationAddress ='''',
--@Latitude=28.457267,
--@Longitude=77.306759,
--@AudioPath =''Station_20210418.wav'',
--@StateId =33,
--@DataStatus =1,
--@UserId =0,
--@CDateTime =''04-18-2021''

' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TrainCouchDetailsGetByJourneyId]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_TrainCouchDetailsGetByJourneyId]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_TrainCouchDetailsGetByJourneyId]
@JourneyId bigint
AS BEGIN
	SELECT JC.JourneyId,JC.CouchId,JC.CouchName,JC.CouchOrder,CC.CouchKey,CC.MPUKey 
	FROM tbl_TrainJourneyCouchDetails JC INNER JOIN tbl_CouchConfiguration CC ON JC.CouchId=CC.EntryId
	WHERE  JC.JourneyId=@JourneyId
	ORDER BY JC.CouchOrder
	
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TrainJourneyGetAll]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_TrainJourneyGetAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_TrainJourneyGetAll]

AS BEGIN
	SELECT TJ.EntryId,TJ.JourneyDateTime,TJ.RouteId,CONVERT(varchar,TrainNumber)+'' ''+TrainName AS TrainName,TJ.DataStatus,TJ.CreatedDate,TJ.CreatedBy,TJ.ModifiedDate,TJ.ModifiedBy 
	FROM tbl_TrainJourneyDetails TJ INNER JOIN tbl_RouteConfiguration RC ON TJ.RouteId=RC.EntryId
	ORDER BY ModifiedDate DESC,CreatedDate DESC
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TrainJourneyGetById]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_TrainJourneyGetById]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_TrainJourneyGetById]
@EntryId bigint
AS BEGIN
	SELECT TJ.EntryId,TJ.JourneyDateTime,TJ.RouteId,CONVERT(varchar,TrainNumber)+'' ''+TrainName AS TrainName,TJ.DataStatus,TJ.CreatedDate,TJ.CreatedBy,TJ.ModifiedDate,TJ.ModifiedBy 
	FROM tbl_TrainJourneyDetails TJ INNER JOIN tbl_RouteConfiguration RC ON TJ.RouteId=RC.EntryId
	WHERE  TJ.EntryId=@EntryId
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TrainJourneyInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_TrainJourneyInsertUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_TrainJourneyInsertUpdate] 
@EntryId bigint,
@JourneyDateTime dateTime,
@RouteId bigint,
@SessionId varchar(20),
@DataStatus smallint,
@UserId bigint,
@CDateTime DateTime

AS
BEGIN
	PRINT ''A''
	DECLARE @PVal varchar(4000)
	DECLARE @CVal varchar(4000)
	DECLARE @EventId smallint=2;
	CREATE TABLE #Temp(AlertMessage varchar(100))
	

IF(@EntryId=0)
BEGIN
	INSERT INTO tbl_TrainJourneyDetails(JourneyDateTime,RouteId,DataStatus,CreatedDate,CreatedBy)
	VALUES(@JourneyDateTime,@RouteId,@DataStatus,@CDateTime,@UserId)
	SELECT @EntryId=@@IDENTITY

	DELETE FROM tbl_TrainJourneyCouchDetails WHERE JourneyId=@EntryId
	
	DELETE FROM tbl_TrainJourneyCouchDetails 
	WHERE CouchId IN (SELECT CouchId FROM tbl_TempTrainJourneyCouchDetails WHERE SessionId=@SessionId)
	
	INSERT INTO tbl_TrainJourneyCouchDetails(JourneyId,CouchId,CouchName,CouchOrder)
	SELECT @EntryId,CouchId,CouchName,CouchOrder FROM tbl_TempTrainJourneyCouchDetails WHERE SessionId=@SessionId
	DELETE FROM tbl_TempTrainJourneyCouchDetails WHERE SessionId=@SessionId 

	INSERT INTO #Temp(AlertMessage)VALUES(''success'');
END
ELSE
BEGIN
	UPDATE tbl_TrainJourneyDetails SET 
	JourneyDateTime=@JourneyDateTime,
	RouteId=@RouteId,
	ModifiedBy=@UserId,
	ModifiedDate=@CDateTime
	WHERE EntryId=@EntryId

	DELETE FROM tbl_TrainJourneyCouchDetails WHERE JourneyId=@EntryId

	INSERT INTO tbl_TrainJourneyCouchDetails(JourneyId,CouchId,CouchName,CouchOrder)
	SELECT @EntryId,CouchId,CouchName,CouchOrder FROM tbl_TempTrainJourneyCouchDetails WHERE SessionId=@SessionId
	DELETE FROM tbl_TempTrainJourneyCouchDetails WHERE SessionId=@SessionId 

	INSERT INTO #Temp(AlertMessage)VALUES(''success'');
END

	
	select * from #Temp;
END
--GO
--EXEC USP_StationInsertUpdate
--@EntryId =0,
--@StationName =''Ghaziabad'',
--@StationCode =''GZB'',
--@StationAddress ='''',
--@Latitude=28.457267,
--@Longitude=77.306759,
--@AudioPath =''Station_20210418.wav'',
--@StateId =33,
--@DataStatus =1,
--@UserId =0,
--@CDateTime =''04-18-2021''

' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UserGetAll]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UserGetAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_UserGetAll]

AS BEGIN
	
	SELECT U.EntryId,U.ClientId,C.ClientName,U.PlazaId,U.LoginId,U.LoginPassword,U.FirstName,U.LastName,U.EmailId,U.MobileNumber,U.AccountExpiredDate,U.RoleId,R.RoleName,U.DataStatus,U.CreatedDate,U.CreatedBy,U.ModifiedDate,U.ModifiedBy 
	FROM tbl_UserMaster U 
	Left Join tbl_RoleMaster R ON U.RoleId=R.EntryId
	Left Join tbl_ClientConfiguration C ON U.ClientId=C.EntryId
	ORDER BY ModifiedDate DESC,CreatedDate DESC
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UserGetbyId]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UserGetbyId]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_UserGetbyId]
@EntryId int
AS BEGIN
	
	SELECT U.EntryId,U.ClientId,C.ClientName,U.PlazaId,U.LoginId,U.LoginPassword,U.FirstName,U.LastName,U.EmailId,U.MobileNumber,U.AccountExpiredDate,U.RoleId,R.RoleName,U.DataStatus,U.CreatedDate,U.CreatedBy,U.ModifiedDate,U.ModifiedBy 
	FROM tbl_UserMaster U 
	Left Join tbl_RoleMaster R ON U.RoleId=R.EntryId
	Left Join tbl_ClientConfiguration C ON U.ClientId=C.EntryId
	WHERE U.EntryId=@EntryId
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UserInsertUpdate]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UserInsertUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_UserInsertUpdate] 
@EntryId bigint,
@ClientId smallint,
@PlazaId smallint,
@LoginId nvarchar (40),
@LoginPassword nvarchar (200),
@FirstName nvarchar (40),
@LastName nvarchar (40),
@EmailId nvarchar (50),
@MobileNumber nvarchar (30),
@AccountExpiredDate Date,
@RoleId int,
@DataStatus smallint,
@UserId bigint,
@CDateTime DateTime
AS
BEGIN
	DECLARE @PVal varchar(4000)
	DECLARE @CVal varchar(4000)
	DECLARE @EventId smallint=3;
	CREATE TABLE #Temp(AlertMessage varchar(100))
	DECLARE @cnt int
	
	IF EXISTS(SELECT EntryId FROM tbl_UserMaster where MobileNumber=@MobileNumber AND EntryId<>@EntryId)
			BEGIN
				INSERT INTO #Temp(AlertMessage)
				VALUES(''Mobile number already exists'')
			END
	IF EXISTS(SELECT EntryId FROM tbl_UserMaster where EmailId=@EmailId AND EntryId<>@EntryId)
		BEGIN
			INSERT INTO #Temp(AlertMessage)
			VALUES(''Email id already exists'')
		END
	IF EXISTS(SELECT EntryId FROM tbl_UserMaster where LoginId=@LoginId AND EntryId<>@EntryId)
		BEGIN
			INSERT INTO #Temp(AlertMessage)
			VALUES(''Login id already exists'')
		END
	SELECT @cnt=COUNT(AlertMessage)  FROM #Temp
	IF(@cnt=0)
		BEGIN
			IF(@EntryId=0)
			BEGIN
				insert into tbl_UserMaster(ClientId,PlazaId,LoginId,LoginPassword,FirstName,LastName,EmailId,MobileNumber,AccountExpiredDate,RoleId,DataStatus,CreatedDate,CreatedBy)
				values(@ClientId,@PlazaId,@LoginId,@LoginPassword,@FirstName,@LastName,@EmailId,@MobileNumber,@AccountExpiredDate,@RoleId,@DataStatus,@CDateTime,@UserId);
				SELECT @EntryId=@@IDENTITY
				
				Set @CVal =''UserId:''+convert(varchar,@EntryId)+'',FirstName:''+@FirstName+'',LastName:''+@LastName+
				'',EmailId:''+@EmailId+'',MobileNumber:''+@MobileNumber+'',RoleId:''+@RoleId+
				'',Status:''+CONVERT(varchar,@DataStatus)+'',ClientId:''+CONVERT(varchar,@ClientId)+'',PlazaId:''+CONVERT(varchar,@PlazaId)				
				
				INSERT INTO tbl_ActivityLog(UserId,CurrentColumn,Action,EventId,CreatedDate)
				VALUES(@UserId,@CVal,''Insert'',@EventId,@CDateTime);
				
				INSERT INTO #Temp(AlertMessage)VALUES(''success'');
			END
			ELSE
			BEGIN
				Declare @LClientId smallint			Declare @LPlazaId smallint				Declare @LDataStatus smallint		
				Declare @LFirstName nvarchar(40)	Declare @LLastName nvarchar (40)		Declare @LEmailId nvarchar (50)
				Declare @LMobileNumber nvarchar(30)	Declare @LAccountExpiredDate Date		Declare @LRoleId int
				
				Select @LClientId=ClientId,@LPlazaId=PlazaId,@LDataStatus=DataStatus,
				@LFirstName=FirstName,@LLastName=LastName,@LEmailId=EmailId,@LMobileNumber=MobileNumber,@LAccountExpiredDate=AccountExpiredDate,
				@LRoleId=RoleId
				from tbl_UserMaster where EntryId=@EntryId;

				UPDATE tbl_UserMaster SET ClientId=@ClientId,PlazaId=@PlazaId,DataStatus=@DataStatus,ModifiedDate=@CDateTime,ModifiedBy=@UserId,
				FirstName=@FirstName,LastName=@LastName,EmailId=@EmailId,MobileNumber=@MobileNumber,AccountExpiredDate=@AccountExpiredDate,RoleId=@RoleId
				WHERE EntryId=@EntryId
			
				Set @CVal =''UserId:''+convert(varchar,@EntryId)+'',FirstName:''+@FirstName+'',LastName:''+@LastName+
				'',EmailId:''+@EmailId+'',MobileNumber:''+@MobileNumber+'',RoleId:''+convert(varchar,@RoleId)+
				'',Status:''+CONVERT(varchar,@DataStatus)+'',ClientId:''+CONVERT(varchar,@ClientId)+'',PlazaId:''+CONVERT(varchar,@PlazaId)		
				
				Set @PVal =''UserId:''+convert(varchar,@EntryId)+'',FirstName:''+@LFirstName+'',LastName:''+@LLastName+
				'',EmailId:''+@LEmailId+'',MobileNumber:''+@LMobileNumber+'',RoleId:''+convert(varchar,@LRoleId)+
				'',Status:''+CONVERT(varchar,@DataStatus)+'',ClientId:''+CONVERT(varchar,@ClientId)+'',PlazaId:''+CONVERT(varchar,@PlazaId)	
					
				INSERT INTO tbl_ActivityLog(UserId,PrevColumn,CurrentColumn,Action,EventId,CreatedDate)
				VALUES(@UserId,@PVal,@CVal,''Update'',@EventId,@CDateTime);

				INSERT INTO #Temp(AlertMessage)VALUES(''success'');
			END
		END
		select * from #Temp;
END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UsersGetByLoginId]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UsersGetByLoginId]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[USP_UsersGetByLoginId]
@LoginId varchar(50)
AS BEGIN
	
	SELECT U.EntryId,U.ClientId,C.ClientName,U.PlazaId,U.LoginId,U.LoginPassword,U.FirstName,U.LastName,U.EmailId,U.MobileNumber,U.AccountExpiredDate,U.RoleId,R.RoleName,U.DataStatus,U.CreatedDate,U.CreatedBy,U.ModifiedDate,U.ModifiedBy 
	FROM tbl_UserMaster U 
	Left Join tbl_RoleMaster R ON U.RoleId=R.EntryId
	Left Join tbl_ClientConfiguration C ON U.ClientId=C.EntryId
	WHERE LoginId = @LoginId;
	
	
	
END

--GO
--EXEC USP_UsersGetByLoginId
--@LoginId=''admin''
' 
END
GO
/****** Object:  Table [dbo].[tbl_ClientConfiguration]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_ClientConfiguration]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_ClientConfiguration](
	[EntryId] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](50) NULL,
	[ClientAddress] [nvarchar](100) NULL,
	[MobileNumber] [nvarchar](10) NULL,
	[EmailId] [nvarchar](25) NULL,
	[DataStatus] [smallint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tbl_CouchConfiguration]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_CouchConfiguration]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_CouchConfiguration](
	[EntryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CouchNumber] [varchar](10) NULL,
	[CouchKey] [varchar](50) NULL,
	[MPUKey] [varchar](50) NULL,
	[DataStatus] [smallint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_EventMaster]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_EventMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_EventMaster](
	[EventId] [smallint] IDENTITY(1,1) NOT NULL,
	[EventName] [varchar](100) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_EventSample]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_EventSample]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_EventSample](
	[Sr# No#] [float] NULL,
	[Event ID] [nvarchar](255) NULL,
	[Event] [nvarchar](255) NULL,
	[Data structure JOSN] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL,
	[F7] [nvarchar](255) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tbl_MenuMaster]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_MenuMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_MenuMaster](
	[EntryId] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [varchar](40) NULL,
	[MenuURL] [varchar](100) NULL,
	[MenuIcon] [varchar](100) NULL,
	[MennuAccess] [smallint] NULL,
	[OderBy] [smallint] NULL,
	[ParentId] [bigint] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_RoleMaster]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_RoleMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_RoleMaster](
	[EntryId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [smallint] NULL,
	[PlazaId] [smallint] NULL,
	[RoleName] [nvarchar](100) NULL,
	[DataStatus] [smallint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tbl_RolePermission]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_RolePermission]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_RolePermission](
	[ClientId] [smallint] NULL,
	[EventId] [smallint] NULL,
	[RoleId] [smallint] NULL,
	[DataView] [smallint] NULL,
	[DataAdd] [smallint] NULL,
	[DataUpdate] [smallint] NULL,
	[CreationDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModificationDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DataStatus] [smallint] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tbl_RouteConfiguration]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_RouteConfiguration]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_RouteConfiguration](
	[EntryId] [bigint] IDENTITY(1,1) NOT NULL,
	[TrainNumber] [varchar](50) NULL,
	[TrainName] [varchar](100) NULL,
	[Direction] [smallint] NULL,
	[SourceStationId] [int] NULL,
	[DestinationStationId] [int] NULL,
	[DataStatus] [smallint] NULL DEFAULT ((1)),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_RouteConfigurationDetails]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_RouteConfigurationDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_RouteConfigurationDetails](
	[RouteId] [bigint] NULL,
	[StationId] [bigint] NULL,
	[OrderBy] [smallint] NULL,
	[DataStatus] [smallint] NULL DEFAULT ((1)),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tbl_StateMaster]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_StateMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_StateMaster](
	[StateId] [smallint] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](100) NULL,
	[Languages] [varchar](100) NULL,
	[DataStatus] [smallint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_StationConfiguration]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_StationConfiguration]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_StationConfiguration](
	[EntryId] [bigint] IDENTITY(1,1) NOT NULL,
	[StationName] [nvarchar](255) NULL,
	[StationCode] [nvarchar](10) NULL,
	[StationAddress] [nvarchar](255) NULL,
	[Latitude] [decimal](10, 6) NULL,
	[Longitude] [decimal](10, 6) NULL,
	[AudioPath] [nvarchar](255) NULL,
	[StateId] [smallint] NULL,
	[StationLength] [smallint] NULL,
	[DataStatus] [smallint] NULL DEFAULT ((1)),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tbl_TempRouteDetails]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_TempRouteDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_TempRouteDetails](
	[RouteId] [bigint] NULL,
	[StationId] [bigint] NULL,
	[OrderBy] [smallint] NULL,
	[SessionId] [varchar](20) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_TempTrainJourneyCouchDetails]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_TempTrainJourneyCouchDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_TempTrainJourneyCouchDetails](
	[CouchId] [bigint] NULL,
	[CouchName] [varchar](20) NULL,
	[CouchOrder] [smallint] NULL,
	[SessionId] [varchar](20) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_TrainConfiguration]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_TrainConfiguration]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_TrainConfiguration](
	[EntryId] [bigint] IDENTITY(1,1) NOT NULL,
	[RouteId] [bigint] NULL,
	[ScheduleId] [smallint] NULL,
	[StartTiming] [time](7) NULL,
	[EndTiming] [time](7) NULL,
	[DataStatus] [smallint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tbl_TrainJourneyCouchDetails]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_TrainJourneyCouchDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_TrainJourneyCouchDetails](
	[JourneyId] [bigint] NULL,
	[CouchId] [bigint] NULL,
	[CouchName] [varchar](20) NULL,
	[CouchOrder] [smallint] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_TrainJourneyDetails]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_TrainJourneyDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_TrainJourneyDetails](
	[EntryId] [bigint] IDENTITY(1,1) NOT NULL,
	[JourneyDateTime] [datetime] NULL,
	[RouteId] [bigint] NULL,
	[DataStatus] [smallint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tbl_UserMaster]    Script Date: 01-08-2021 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_UserMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_UserMaster](
	[EntryId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [smallint] NULL,
	[PlazaId] [smallint] NULL,
	[LoginId] [nvarchar](20) NULL,
	[LoginPassword] [nvarchar](100) NULL,
	[FirstName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NULL,
	[EmailId] [nvarchar](25) NULL,
	[MobileNumber] [nvarchar](15) NULL,
	[AccountExpiredDate] [date] NULL,
	[RoleId] [int] NULL,
	[DataStatus] [smallint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[tbl_CouchConfiguration] ON 

GO
INSERT [dbo].[tbl_CouchConfiguration] ([EntryId], [CouchNumber], [CouchKey], [MPUKey], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'S1', N'KMPO9898', N'134YHGKI', 1, CAST(N'2021-04-18 18:14:39.997' AS DateTime), 0, CAST(N'2021-04-18 18:14:56.377' AS DateTime), 0)
GO
INSERT [dbo].[tbl_CouchConfiguration] ([EntryId], [CouchNumber], [CouchKey], [MPUKey], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'S4', N'KMPO9899', N'MMPO9899', 1, CAST(N'2021-04-18 23:47:17.417' AS DateTime), 0, CAST(N'2021-04-18 23:48:33.750' AS DateTime), 0)
GO
INSERT [dbo].[tbl_CouchConfiguration] ([EntryId], [CouchNumber], [CouchKey], [MPUKey], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'S3', N'KMPO9890', N'MKMPO9890', 1, CAST(N'2021-04-18 23:47:32.223' AS DateTime), 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_CouchConfiguration] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_EventMaster] ON 

GO
INSERT [dbo].[tbl_EventMaster] ([EventId], [EventName]) VALUES (1, N'gps coordinates ')
GO
INSERT [dbo].[tbl_EventMaster] ([EventId], [EventName]) VALUES (2, N'any AD-hocChange made data/config in MPU')
GO
INSERT [dbo].[tbl_EventMaster] ([EventId], [EventName]) VALUES (3, N'Kilometer Age of MPU')
GO
SET IDENTITY_INSERT [dbo].[tbl_EventMaster] OFF
GO
INSERT [dbo].[tbl_EventSample] ([Sr# No#], [Event ID], [Event], [Data structure JOSN], [Description], [F6], [F7]) VALUES (1, N'01', N'gps coordinates ', N'Event ID : integer value
source id :  integer value
destination : integer value
device unique id : String
Login Detail : string
creation datetime : datatime
Route Number : string
gps latitude : string 
gps longitude :string', N'Runtime event', NULL, NULL)
GO
INSERT [dbo].[tbl_EventSample] ([Sr# No#], [Event ID], [Event], [Data structure JOSN], [Description], [F6], [F7]) VALUES (2, N'02', N'any AD-hocChange made data/config in MPU', N'Event ID : integer value
source id :  integer value
destination : integer value
device unique id : String
Login Detail : string
creation datetime : datatime
Route Number : string
previous user details : string ', N'Operator name/id
change made in', N'all with time stamp', NULL)
GO
INSERT [dbo].[tbl_EventSample] ([Sr# No#], [Event ID], [Event], [Data structure JOSN], [Description], [F6], [F7]) VALUES (3, N'03', N'Kilometer Age of MPU', N'Event ID : integer value
source id :  integer value
destination : integer value
device unique id : String
Login Detail : string
creation datetime : datatime
Route Number : string
Running Kilometer velue : integer ', N'Kilometarage
date and Time', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_MenuMaster] ON 

GO
INSERT [dbo].[tbl_MenuMaster] ([EntryId], [MenuName], [MenuURL], [MenuIcon], [MennuAccess], [OderBy], [ParentId]) VALUES (1, N'Dashboard', N'dashboard', N'fa fa-tachometer', 1, 1, 0)
GO
INSERT [dbo].[tbl_MenuMaster] ([EntryId], [MenuName], [MenuURL], [MenuIcon], [MennuAccess], [OderBy], [ParentId]) VALUES (2, N'Station Configuration', N'stationConfig', N'fa fa-subway', 1, 2, 0)
GO
INSERT [dbo].[tbl_MenuMaster] ([EntryId], [MenuName], [MenuURL], [MenuIcon], [MennuAccess], [OderBy], [ParentId]) VALUES (3, N'Route Configuration', N'routeConfig', N'fa fa-outdent', 1, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[tbl_MenuMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_RouteConfiguration] ON 

GO
INSERT [dbo].[tbl_RouteConfiguration] ([EntryId], [TrainNumber], [TrainName], [Direction], [SourceStationId], [DestinationStationId], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'JN1001', N'Jan Satabdi', 1, 2, 8, 1, CAST(N'2021-04-22 15:28:54.310' AS DateTime), 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_RouteConfiguration] OFF
GO
INSERT [dbo].[tbl_RouteConfigurationDetails] ([RouteId], [StationId], [OrderBy], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, 1, 1, 1, CAST(N'2021-04-22 15:30:10.920' AS DateTime), 0, CAST(N'2021-04-22 15:30:10.920' AS DateTime), 0)
GO
INSERT [dbo].[tbl_RouteConfigurationDetails] ([RouteId], [StationId], [OrderBy], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, 3, 2, 1, CAST(N'2021-04-22 15:30:10.920' AS DateTime), 0, CAST(N'2021-04-22 15:30:10.920' AS DateTime), 0)
GO
INSERT [dbo].[tbl_RouteConfigurationDetails] ([RouteId], [StationId], [OrderBy], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, 4, 3, 1, CAST(N'2021-04-22 15:30:10.920' AS DateTime), 0, CAST(N'2021-04-22 15:30:10.920' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[tbl_StateMaster] ON 

GO
INSERT [dbo].[tbl_StateMaster] ([StateId], [StateName], [Languages], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'Andaman & Nicobar Islands', N'Bengali', 1, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tbl_StateMaster] ([StateId], [StateName], [Languages], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'Andhra Pradesh', N'Telugu', 1, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tbl_StateMaster] ([StateId], [StateName], [Languages], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'Arunachal Pradesh', N'Nishi', 1, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_StateMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_StationConfiguration] ON 

GO
INSERT [dbo].[tbl_StationConfiguration] ([EntryId], [StationName], [StationCode], [StationAddress], [Latitude], [Longitude], [AudioPath], [StateId], [StationLength], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'Ghaziabad', N'GZB', N'Ghaziabaad', CAST(28.669200 AS Decimal(10, 6)), CAST(77.453800 AS Decimal(10, 6)), N'Station_20210418.wav', 33, 500, 1, CAST(N'2021-04-18 01:56:44.187' AS DateTime), 0, CAST(N'2021-04-21 12:45:47.030' AS DateTime), 0)
GO
INSERT [dbo].[tbl_StationConfiguration] ([EntryId], [StationName], [StationCode], [StationAddress], [Latitude], [Longitude], [AudioPath], [StateId], [StationLength], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'Delhi', N'DLI', N'Delhi', CAST(28.704100 AS Decimal(10, 6)), CAST(77.102500 AS Decimal(10, 6)), N'Station_20210418.wav', 9, 300, 1, CAST(N'2021-04-18 01:58:51.923' AS DateTime), 0, CAST(N'2021-04-21 12:45:39.613' AS DateTime), 0)
GO
INSERT [dbo].[tbl_StationConfiguration] ([EntryId], [StationName], [StationCode], [StationAddress], [Latitude], [Longitude], [AudioPath], [StateId], [StationLength], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'Meerut', N'MRT', N'Meerut', CAST(28.984500 AS Decimal(10, 6)), CAST(77.706400 AS Decimal(10, 6)), N'Station_20210418.wav', 33, 200, 1, CAST(N'2021-04-18 18:37:17.597' AS DateTime), 0, CAST(N'2021-04-21 12:46:40.273' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[tbl_StationConfiguration] OFF
GO
INSERT [dbo].[tbl_TrainJourneyCouchDetails] ([JourneyId], [CouchId], [CouchName], [CouchOrder]) VALUES (1, 1, N'S1', 1)
GO
INSERT [dbo].[tbl_TrainJourneyCouchDetails] ([JourneyId], [CouchId], [CouchName], [CouchOrder]) VALUES (1, 4, N'S2', 2)
GO
INSERT [dbo].[tbl_TrainJourneyCouchDetails] ([JourneyId], [CouchId], [CouchName], [CouchOrder]) VALUES (1, 3, N'S3', 3)
GO
SET IDENTITY_INSERT [dbo].[tbl_TrainJourneyDetails] ON 

GO
INSERT [dbo].[tbl_TrainJourneyDetails] ([EntryId], [JourneyDateTime], [RouteId], [DataStatus], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, CAST(N'2021-04-22 14:23:05.000' AS DateTime), 1, 1, CAST(N'2021-04-21 19:53:50.047' AS DateTime), 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_TrainJourneyDetails] OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_Clien__DataS__3C69FB99]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_ClientConfiguration] ADD  DEFAULT ((1)) FOR [DataStatus]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_RoleM__DataS__3D5E1FD2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_RoleMaster] ADD  DEFAULT ((1)) FOR [DataStatus]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_RoleP__DataV__3E52440B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_RolePermission] ADD  DEFAULT ((1)) FOR [DataView]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_RoleP__DataA__3F466844]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_RolePermission] ADD  DEFAULT ((1)) FOR [DataAdd]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_RoleP__DataU__403A8C7D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_RolePermission] ADD  DEFAULT ((1)) FOR [DataUpdate]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_RoleP__DataS__412EB0B6]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_RolePermission] ADD  DEFAULT ((1)) FOR [DataStatus]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_Train__DataS__44FF419A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_TrainConfiguration] ADD  DEFAULT ((1)) FOR [DataStatus]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tbl_UserM__DataS__45F365D3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tbl_UserMaster] ADD  DEFAULT ((1)) FOR [DataStatus]
END

GO
