<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="accordion" class="data-filter">
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <form [formGroup]="FilterDetailsForm">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="ShiftFilterList">Category</label>
                                            <p-dropdown appendTo="body" formControlName="CategoryId"
                                                inputId="CategoryId" [options]="ReportMasterData"
                                                optionLabel="ReportName" optionValue="ReportId" placeholder="Select"
                                                class="form-control select2"
                                                (onChange)="CategoryChange($event.value)"></p-dropdown>
                                            <small class="p-error"
                                                *ngIf="submitted && FilterDetailsForm.hasError('required','CategoryId')">
                                                Category must be selected.</small>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="ShiftFilterList">Report</label>
                                            <p-dropdown appendTo="body" formControlName="ReportId" inputId="ReportId"
                                                [options]="SubReportMasterData" optionLabel="ReportName"
                                                optionValue="ReportId" placeholder="Select"
                                                class="form-control select2"></p-dropdown>
                                            <small class="p-error"
                                                *ngIf="submitted && FilterDetailsForm.hasError('required','ReportId')">
                                                Report must be selected.</small>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="StartDateTime">Start Date Time</label>
                                            <p-calendar [showTime]="true" [showSeconds]="true" [hourFormat]="'24'"
                                                pInputText autofocus class="form-control"
                                                formControlName="StartDateTime" [readonlyInput]="true"
                                                dateFormat="dd-M-yy"></p-calendar>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="EndDateTime">End Date Time</label>
                                            <p-calendar [showTime]="true" [showSeconds]="true" [hourFormat]="'24'"
                                                pInputText autofocus class="form-control" formControlName="EndDateTime"
                                                [readonlyInput]="true" dateFormat="dd-M-yy"></p-calendar>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="ShiftFilterList">Shift</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="ShiftFilterList"
                                                inputId="ShiftFilterList" [options]="ShiftData" optionLabel="DataName"
                                                optionValue="DataId" placeholder="Shift">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="TCUserFilterList">Operator</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="TCUserFilterList"
                                                inputId="TCUserFilterList" [options]="LaneUserData"
                                                optionLabel="DataName" optionValue="DataId" placeholder="Operators">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="PlazaFilterList">Plaza</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="PlazaFilterList"
                                                inputId="PlazaFilterList" [options]="PlazaDataList"
                                                (onChange)="PlazaChange()" optionLabel="DataName" optionValue="DataId"
                                                placeholder="Plaza">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="LaneFilterList">Lane</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="LaneFilterList"
                                                inputId="LaneFilterList" [options]="LaneList" optionLabel="DataName"
                                                optionValue="DataId" placeholder="Lane">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="VehicleClassFilterList">Vehicle Class</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="VehicleClassFilterList"
                                                inputId="VehicleClassFilterList" [options]="ClassData"
                                                optionLabel="DataName" optionValue="DataId" placeholder="Vehicle Class"
                                                (onChange)="VehicleClassChange()">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="VehicleSubClassFilterList">Vehicle Sub Class</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="VehicleSubClassFilterList"
                                                inputId="VehicleClassFilterList" [options]="SubClassList"
                                                optionLabel="DataName" optionValue="DataId"
                                                placeholder="Vehicle Sub Class">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="TransactionTypeFilterList">Transaction Type</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="TransactionTypeFilterList"
                                                inputId="TransactionTypeFilterList" [options]="TransactionTypeData"
                                                optionLabel="DataName" optionValue="DataId"
                                                placeholder="Transaction Type">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="PlateNumber">Plate Number</label>
                                            <input formControlName="PlateNumber" placeholder="Plate Number" type="text"
                                                pInputText autocomplete="off" class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label for="TransactionId">Transaction Id</label>
                                            <input formControlName="TransactionId" placeholder="Transaction Id"
                                                type="text" pInputText autocomplete="off"
                                                class="form-control" />
                                        </div>
                                        <div class="col-md-3">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 align-self-center">
                                    <button type="button" class="btn btn-info btn-circle btn-lg btn-search"
                                        (click)="FilterAllData()">
                                        <i class="mdi mdi-feature-search-outline"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>