<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="accordion" class="data-filter">
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <form [formGroup]="FilterDetailsForm">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="ShiftFilterList">Category</label>
                                            <p-dropdown appendTo="body" formControlName="CategoryId"
                                                inputId="CategoryId" [options]="ReportMasterData" optionLabel="ReportName"
                                                optionValue="ReportId" placeholder="Select" class="form-control select2"
                                                (onChange)="CategoryChange($event.value)"></p-dropdown>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="ShiftFilterList">Report</label>
                                            <p-dropdown appendTo="body" formControlName="ReportId" inputId="ReportId"
                                                [options]="SubReportMasterData" optionLabel="ReportName" optionValue="ReportId"
                                                placeholder="Select" class="form-control select2"></p-dropdown>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="StartDateTime">Start Date Time</label>
                                            <p-calendar [showTime]="true" [showSeconds]="true" [hourFormat]="'24'"
                                                pInputText autofocus class="form-control"
                                                formControlName="StartDateTime" [readonlyInput]="true"
                                                dateFormat="dd-M-yy"></p-calendar>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="EndDateTime">End Date Time</label>
                                            <p-calendar [showTime]="true" [showSeconds]="true" [hourFormat]="'24'"
                                                pInputText autofocus class="form-control" formControlName="EndDateTime"
                                                [readonlyInput]="true" dateFormat="dd-M-yy"></p-calendar>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="ShiftFilterList">Shift</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="ShiftFilterList"
                                                inputId="ShiftFilterList" [options]="ShiftData" optionLabel="DataName"
                                                optionValue="DataId" placeholder="Shift">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="TCUserFilterList">Operator</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="TCUserFilterList"
                                                inputId="TCUserFilterList" [options]="LaneUserData"
                                                optionLabel="DataName" optionValue="DataId" placeholder="Operators">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="PlazaFilterList">Plaza</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="PlazaFilterList"
                                                inputId="PlazaFilterList" [options]="PlazaDataList"
                                                (onChange)="PlazaChange()" optionLabel="DataName" optionValue="DataId"
                                                placeholder="Plaza">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="LaneFilterList">Lane</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="LaneFilterList"
                                                inputId="LaneFilterList" [options]="LaneList" optionLabel="DataName"
                                                optionValue="DataId" placeholder="Lane">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="VehicleClassFilterList">Vehicle Class</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="VehicleClassFilterList"
                                                inputId="VehicleClassFilterList" [options]="ClassData"
                                                optionLabel="DataName" optionValue="DataId" placeholder="Vehicle Class"
                                                (onChange)="VehicleClassChange()">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="VehicleSubClassFilterList">Vehicle Sub Class</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="VehicleSubClassFilterList"
                                                inputId="VehicleClassFilterList" [options]="SubClassList"
                                                optionLabel="DataName" optionValue="DataId"
                                                placeholder="Vehicle Sub Class">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="TransactionTypeFilterList">Transaction Type</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="TransactionTypeFilterList"
                                                inputId="TransactionTypeFilterList" [options]="TransactionTypeData"
                                                optionLabel="DataName" optionValue="DataId"
                                                placeholder="Transaction Type">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="PlateNumber">Plate Number</label>
                                            <input formControlName="PlateNumber" placeholder="Plate Number" type="text"
                                                pInputText required autocomplete="off" class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label for="TransactionId">Transaction Id</label>
                                            <input formControlName="TransactionId" placeholder="Transaction Id"
                                                type="text" pInputText required autocomplete="off"
                                                class="form-control" />
                                        </div>
                                        <div class="col-md-3">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 align-self-center">
                                    <button type="button" class="btn btn-info btn-circle btn-lg btn-search"
                                        (click)="FilterAllData()">
                                        <i class="mdi mdi-feature-search-outline"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--<form [formGroup]="DetailsForm">
    <p-fieldset legend="Report Category">
        <div class="form-row">
            <div class="col-md-6 reportControll">
                <mat-form-field>
                    <mat-select placeholder="Category" formControlName="CategoryId" required (selectionChange)="CategoryChange($event.value)">
                        <mat-option *ngFor=" let ht of CategoryData;" [value]="ht.EntryId">
                            {{ht.CategoryName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="DetailsForm.get('CategoryId').hasError('required')">
                        Category must be selected.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6 reportControll">
                <mat-form-field>
                    <mat-select placeholder="Sub Category" formControlName="SubCategoryId" required (selectionChange)="SubCategoryChange($event.value)">
                        <mat-option *ngFor=" let ht of SubCategoryData;" [value]="ht.EntryId">
                            {{ht.CategoryName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="DetailsForm.get('SubCategoryId').hasError('required')">
                        Sub Category must be selected.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </p-fieldset>
    <p-fieldset legend="Report Filter">
        <div class="form-row">
            <div class="col-md-3 reportControll">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="Start Date" formControlName="StartDate" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="DetailsForm.get('StartDate').hasError('required')">
                        Start Date must be selected.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3 reportControll" *ngIf="SubCategoryId!=9">
                <mat-form-field class="test">
                    <input class="form-control" placeholder="Start Time" matInput type="time" formControlName="StartTime" required autocomplete="off">
                    <mat-error *ngIf="DetailsForm.get('StartTime').hasError('required')">
                        Start Time must be entered.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3 reportControll" *ngIf="SubCategoryId!=9">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="End Date" formControlName="EndDate" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="DetailsForm.get('EndDate').hasError('required')">
                        End Date must be selected.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3 reportControll" *ngIf="SubCategoryId!=9">
                <mat-form-field class="test">
                    <input class="form-control" placeholder="End Time" matInput type="time" formControlName="EndTime" required autocomplete="off">
                    <mat-error *ngIf="DetailsForm.get('EndTime').hasError('required')">
                        End Time must be entered.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4 reportControll" *ngIf="SubCategoryId!=30">
                <mat-form-field>
                    <mat-select placeholder="Shift" formControlName="ShiftId" multiple [(ngModel)]="selectedShiftType" [disabled]="disableShift">
                        <mat-option #shiftallSelected (click)="toggleAllSelection('Shift')" [value]="0" selected>{{ShiftAll}}</mat-option>
                        <mat-option *ngFor="let ht of ShiftData" [value]="ht.EntryId" (click)="toggleClickShift(selectedShiftType)">Shift {{ht.EntryId}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="DetailsForm.get('ShiftId').hasError('required')">
                        Shift must be entered.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="SubCategoryId==0||SubCategoryId==6||SubCategoryId==7||SubCategoryId==8||SubCategoryId==11||SubCategoryId==22||SubCategoryId==27||SubCategoryId==28">
                <mat-form-field>
                    <mat-select placeholder="Lane Type" formControlName="LaneTypeId" multiple [(ngModel)]="selectedLaneTypeName" [disabled]="disableLaneType">
                        <mat-option #TypeallSelected (click)="toggleAllSelection('LaneType')" [value]="0" selected>{{LaneTypeAll}}</mat-option>
                        <mat-option *ngFor="let Lt of LaneTypeData" [value]="Lt.Id">{{Lt.Name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="DetailsForm.get('LaneTypeId').hasError('required')">
                        Lane Type must be entered.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="SubCategoryId==0||SubCategoryId==6||SubCategoryId==7||SubCategoryId==8||SubCategoryId==11||SubCategoryId==15||SubCategoryId==22||SubCategoryId==28||SubCategoryId==30">
                <mat-form-field>
                    <mat-select placeholder="Lane" formControlName="LaneId" multiple [(ngModel)]="selectedLaneType" [disabled]="disableLane">
                        <mat-option #laneallSelected (click)="toggleAllSelection('Lane')" [value]="0" selected>{{LaneAll}}</mat-option>
                        <mat-option *ngFor="let ht of LaneData" [value]="ht.LaneNumber">Lane {{ht.LaneNumber}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="DetailsForm.get('LaneId').hasError('required')">
                        Lane must be entered.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6 reportControll" *ngIf="SubCategoryId==0||SubCategoryId==8||SubCategoryId==11||SubCategoryId==15||SubCategoryId==20||SubCategoryId==22||SubCategoryId==27||SubCategoryId==28">
                <mat-form-field >
                    <mat-select placeholder="Vehicle Class" formControlName="ClassId" multiple [(ngModel)]="selectedClassType" [disabled]="disableClass">
                        <mat-option #classallSelected (click)="toggleAllSelection('Class')" [value]="0" selected>{{ClassAll}}</mat-option>
                        <mat-option *ngFor="let ht of ClassData" [value]="ht.ClassId">{{ht.ClassName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="DetailsForm.get('ClassId').hasError('required')">
                        Vehicle Class must be entered.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6 reportControll" *ngIf="SubCategoryId==0||SubCategoryId==8||SubCategoryId==9||SubCategoryId==11||SubCategoryId==18||SubCategoryId==22||SubCategoryId==28">
                <mat-form-field>
                    <mat-select placeholder="Operator" formControlName="LaneUserId" multiple [(ngModel)]="selectedLaneUser" [disabled]="disableLaneUser">
                        <mat-option #laneUserallSelected (click)="toggleAllSelection('User')" [value]="0" selected>{{LaneUserAll}}</mat-option>
                        <mat-option *ngFor="let ht of LaneUserData" [value]="ht.EntryId">{{ht.LoginId}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 reportControll" *ngIf="SubCategoryId==0||SubCategoryId==8||SubCategoryId==11||SubCategoryId==28">
                <mat-form-field>
                    <mat-select placeholder="Transactions Type" formControlName="TranTypeId" multiple [(ngModel)]="selectedTranType" (selectionChange)="TranTypeChange($event.value)" [disabled]="disableTranType">
                        <mat-option #TranTypeallSelected (click)="toggleAllSelection('TranType')" [value]="0" selected>{{TranTypeAll}}</mat-option>
                        <mat-option *ngFor="let ht of TranTypeData" [value]="ht.EntryId">{{ht.TransactionTypeName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="DetailsForm.get('TranTypeId').hasError('required')">
                        Transactions Type must be entered.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4 reportControll" *ngIf="SubCategoryId==0||SubCategoryId==8||SubCategoryId==22||SubCategoryId==28">
                <mat-form-field>
                    <mat-select placeholder="Exempt Type" formControlName="ExemptTypeId" multiple [(ngModel)]="selectedExemptType" [disabled]="disableExemptType">
                        <mat-option #ExemptTypeallSelected (click)="toggleAllSelection('ExemptType')" [value]="0" selected>{{ExemptTypeAll}}</mat-option>
                        <mat-option *ngFor="let ht of ExemptTypeData" [value]="ht.EntryId">{{ht.ExemptTypeName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="DetailsForm.get('ExemptTypeId').hasError('required')">
                        Exempt Type must be entered.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4 reportControll" *ngIf="SubCategoryId==0||SubCategoryId==8||SubCategoryId==28">
                <mat-form-field>
                    <mat-select  placeholder="Payment Type" formControlName="PaymentTypeId" multiple [(ngModel)]="selectedPaymentType" [disabled]="disablePaymentType">
                        <mat-option #PaymentTypeallSelected (click)="toggleAllSelection('PaymentType')" [value]="0" selected>{{PaymentTypeAll}}</mat-option>
                        <mat-option *ngFor="let ht of PaymentTypeData" [value]="ht.EntryId">{{ht.PaymentTypeName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="DetailsForm.get('PaymentTypeId').hasError('required')">
                        Payment Type must be entered.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6 reportControll"  *ngIf="SubCategoryId==0||SubCategoryId==6||SubCategoryId==7||SubCategoryId==8||SubCategoryId==11||SubCategoryId==15||SubCategoryId==22||SubCategoryId==28">
                <mat-form-field>
                    <mat-select  placeholder="Journey" formControlName="JourneyId" multiple [(ngModel)]="selectedJourney"[disabled]="disableJourney">
                        <mat-option #JouneyallSelected (click)="toggleAllSelection('Journey')" [value]="0" selected>{{JourneyAll}}</mat-option>
                        <mat-option *ngFor="let jt of JourneyData" [value]="jt.JourneyId" >{{jt.JourneyName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="DetailsForm.get('JourneyId').hasError('required')">
                        Journey must be entered.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="mat-fab-btn" style="float: right;">
            <button mat-fab color="warn" aria-label="reset" (click)="ResetFilter()" matTooltip="Reset">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
        <div class="mat-fab-btn" style="float: right;margin-right: 10px;">
            <button mat-fab color="primary" aria-label="Filter" (click)="FilterData()" matTooltip="Generate PDF">
                <mat-icon>picture_as_pdf</mat-icon>
            </button>
        </div>
         <div class="mat-fab-btn" style="float: right;margin-right: 10px;"  *ngIf="SubCategoryId!=30">
            <button mat-fab color="primary" aria-label="Filter" (click)="FilterCsvData()" matTooltip="Generate CSV">
                
            </button>
        </div> 
        
    </p-fieldset>
</form> -->