<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">{{PageTitle}}</h5>
        <button type="button" class="btn-close" (click)="ClosePoup()" aria-label="Close">
            <i class="mdi mdi-close me-2"></i>
        </button>
    </div>
    <div class="modal-body ">
        <form [formGroup]="DataDetailsForm">
            <div class="row">
                <div class="col-md-6">
                    <label for="ManufactureName">Manufacture Name</label>
                    <input formControlName="ManufactureName" type="text" pInputText required autofocus
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','ManufactureName')">Manufacture Name is
                        required.</small>
                </div>
                <div class="col-md-6">
                    <label for="ManufactureAddress">Manufacture Address</label>
                    <input formControlName="ManufactureAddress" type="text" pInputText required autofocus
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','ManufactureAddress')">Manufacture Address is
                        required.</small>
                </div>
                <div class="col-md-6">
                    <label for="ManufactureEmailId">Manufacture EmailId</label>
                    <input formControlName="ManufactureEmailId" type="text" pInputText required autofocus
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','ManufactureEmailId')">Manufacture Email id is
                        required.</small>
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('pattern','EquipmentManufactureEmailId')">Vaild
                        Manufacture Email Id is required.</small>
                </div>
                <div class="col-md-6">
                    <label for="ManufactureMobileNumber">Manufacture Mobile</label>
                    <input formControlName="ManufactureMobileNumber" type="text" pInputText required autofocus
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','ManufactureMobileNumber')">Manufacture Mobile Number is
                        required.</small>
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('pattern','ManufactureMobileNumber')">Vaild
                        Manufacture Mobile Number is required.</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="formCheck2" formControlName="DataStatus">
                        <label class="form-check-label" for="formCheck2">
                            Status
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="ClosePoup()">Close</button>
        <button type="button" class="btn btn-success" (click)="SaveDetails()">Save changes</button>
    </div>
</div>