<div class="row">
    <div class="col-md-2">
        <fieldset class="calculated-height">
            <legend>Vehicle Class</legend>
            <p-listbox [options]="VehicleClasss" [(ngModel)]="selectedVehicleClasss" 
            optionLabel="SystemVehicleClassName"
            optionValue="SystemVehicleClassId"
            [filter]="true"  
            (onChange)="onVehicleChange($event.value)"
             />
          </fieldset>
    </div>
    <div class="col-md-2">
        <fieldset class="calculated-height">
            <legend>Transaction Type</legend>
            <p-listbox [options]="TransactionTypeMaster" [(ngModel)]="selectedTransactionType" 
            optionLabel="TransactionTypeName"
            optionValue="TransactionTypeId"
            [filter]="true"  
            (onChange)="onVehicleChange($event.value)"
             />
          </fieldset>
    </div>
</div>