<div class="main-body">
    <div class="body-top-part">
        <div class="row">
            <div class="col-md-2">
                <fieldset>
                    <legend>Vehicle Class</legend>
                    <p-listbox [options]="VehicleClasss" [(ngModel)]="selectedVehicleClasss"
                        optionLabel="SystemVehicleClassName" optionValue="SystemVehicleClassId" [filter]="false"
                        (onChange)="onVehicleChange($event.value)" />
                </fieldset>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Transaction Type</legend>
                            <div class="row d-flex justify-content-center pd-tb-4">
                                <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                    <button type="button" class="btn wt-90"
                                        [ngClass]="{'btn-outline-info': ttyselectedButton !== 'FasTag', 'btn-dark': ttyselectedButton === 'FasTag'}"
                                        (click)="onttySeclect(1,'FasTag')">FasTag</button>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                    <button type="button" class="btn wt-90"
                                        [ngClass]="{'btn-outline-info': ttyselectedButton !== 'Excempt', 'btn-dark': ttyselectedButton === 'Excempt'}"
                                        (click)="onttySeclect(3,'Excempt')">Excempt</button>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                    <button type="button" class="btn wt-90"
                                        [ngClass]="{'btn-outline-info': ttyselectedButton !== 'Cash', 'btn-dark': ttyselectedButton === 'Cash'}"
                                        (click)="onttySeclect(2,'Cash')">Cash</button>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                    <button type="button" class="btn wt-90"
                                        [ngClass]="{'btn-outline-info': ttyselectedButton !== 'Retrun', 'btn-dark': ttyselectedButton === 'Retrun'}"
                                        (click)="onttySeclect(5,'Retrun')">Retrun</button>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="col-md-12 pd-tb-4">
                        <fieldset>
                            <legend>Transaction Event</legend>
                            <div class="row d-flex justify-content-center pd-tb-4">
                                <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                    <button type="button" class="btn wt-90"
                                        [ngClass]="{'btn-outline-warning': FleetStart==false, 'btn-dark': FleetStart}"
                                        (click)="onFleetStart()">
                                        {{ FleetStart ? 'Fleet-Started' : 'Fleet-Start' }}
                                    </button>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                    <button type="button" class="btn wt-90"
                                    [ngClass]="{'btn-outline-warning': TowStart==false, 'btn-dark': TowStart}"
                                    (click)="ontteSeclect(2)">
                                    {{ TowStart ? 'Tow-Started' : 'Tow-Start' }}
                                </button>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                    <button type="button" class="btn btn-warning wt-90"
                                    (click)="onVRN()">VRN</button>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                    <button type="button" class="btn btn-warning wt-90">Mid-Declare</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-4 trans-box">
                <fieldset>
                    <legend>Current Transaction</legend>
                    <form [formGroup]="FormDetails">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="TransactionTypeName" class="col-sm-6 col-form-label">Transaction
                                        Type:</label>
                                    <div class="col-sm-6">
                                        <input formControlName="TransactionTypeName" type="text" pInputText
                                            autocomplete="off" class="form-control lbl" placeholder="Transaction type"
                                            readonly="true" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="VehicleClassName" class="col-sm-6 col-form-label">Vehicle class:</label>
                                    <div class="col-sm-6">
                                        <input formControlName="VehicleClassName" type="text" pInputText readonly="true"
                                            autocomplete="off" class="form-control lbl" placeholder="Vehicle class" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="VehicleWeight" class="col-sm-6 col-form-label">Vehicle Weight:</label>
                                    <div class="col-sm-6">
                                        <p-inputNumber class="lbl" formControlName="VehicleWeight" suffix="kg "
                                            mode="decimal"></p-inputNumber>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="TollFare" class="col-sm-6 col-form-label">Toll Fare:</label>
                                    <div class="col-sm-6">
                                        <p-inputNumber class="lbl" formControlName="TollFare" prefix="&#8377; "
                                            mode="decimal"></p-inputNumber>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="TransactionSubTypeName" class="col-sm-6 col-form-label">Sub
                                        Type:</label>
                                    <div class="col-sm-6">
                                        <input formControlName="TransactionSubTypeName" type="text" pInputText
                                            autocomplete="off" class="form-control lbl" placeholder="Sub type" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="VehicleClassSubName" class="col-sm-6 col-form-label">Sub class:</label>
                                    <div class="col-sm-6">
                                        <input formControlName="VehicleClassSubName" type="text" pInputText
                                            readonly="true" autocomplete="off" class="form-control lbl"
                                            placeholder="Sub class" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="OverweightPenalty"
                                        class="col-sm-6 col-form-label">Overweight(P):</label>
                                    <div class="col-sm-6">
                                        <p-inputNumber class="lbl" formControlName="TagPenalty" prefix="&#8377; "
                                            mode="decimal"></p-inputNumber>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="TagPenalty" class="col-sm-6 col-form-label">Tag Penalty:</label>
                                    <div class="col-sm-6">
                                        <p-inputNumber class="lbl" formControlName="TagPenalty" prefix="&#8377; "
                                            mode="decimal"></p-inputNumber>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="JourneyTypeId" class="col-sm-3 col-form-label">Journey Type:</label>
                                    <div class="col-sm-6">
                                        <div class="flex align-items-center justify-content-start">
                                            <div class="radio-group">
                                                <p-radioButton inputId="testSingle" value="S"
                                                    formControlName="JourneyTypeId" />
                                                <label for="testSingle" class="ml-2 text-white">Single</label>
                                            </div>
                                            <div class="radio-group">
                                                <p-radioButton inputId="testReturn" value="R"
                                                    formControlName="JourneyTypeId" />
                                                <label for="testReturn" class="ml-2 text-white">Return</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="PlateNumber" class="col-sm-3 col-form-label">Plate Number:</label>
                                    <div class="col-sm-9">
                                        <input formControlName="PlateNumber" #plateNumberInput type="text" pInputText autocomplete="off"
                                            class="form-control" placeholder="Plate number" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Remark" class="col-sm-3 col-form-label">Remark:</label>
                                    <div class="col-sm-9">
                                        <input formControlName="Remark" #remarkInput type="text" pInputText autocomplete="off"
                                            class="form-control" placeholder="Remark" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                        <button type="button" class="btn btn-danger wt-90" (click)="reset_form()">Reset</button>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                        <button type="button" class="btn btn-success wt-90"
                                            (click)="submit_trans()" *ngIf="TransactionTypeId!=1">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset>
                    <legend>Live View</legend>
                    <canvas id="ptz0" class="live-stream">
                    </canvas>
                    <!-- <img [src]="lpicViewUrl" alt="LPIC Camera" class="live-stream"> -->
                </fieldset>
            </div>
        </div>
    </div>
    <div class="body-bottom-part">
        <div class="row">
            <div class="col-md-4">
                <fieldset>
                    <legend>RFID Queue</legend>
                    <div class="table-responsive mt-1">
                        <p-table #dt [value]="rfidDataQueue" [rowHover]="true" [scrollable]="true"
                            [resizableColumns]="true" styleClass="" selectionMode="single">
                            <ng-template pTemplate="header" styleClass="thead-light">
                                <tr>
                                    <th>TID</th>
                                    <th>EPC</th>
                                    <th>Date Time</th>
                                    <th>VRN</th>
                                    <th>Class</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                <tr [pSelectableRow]="rowData">
                                    <td>{{rowData.TID}}</td>
                                    <td>{{rowData.EPC}}</td>
                                    <td>{{rowData.TransactionDateTime}}</td>
                                    <td>{{rowData.Plate}}</td>
                                    <td>{{rowData.Class}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset>
                    <legend>WIM Queue</legend>
                    <div class="table-responsive mt-1">
                        <p-table #dt [value]="wimDataQueue" [rowHover]="true" [scrollable]="true"
                            [resizableColumns]="true" styleClass="" selectionMode="single">
                            <ng-template pTemplate="header" styleClass="thead-light">
                                <tr>
                                    <th>Date Time</th>
                                    <th>Axle Count</th>
                                    <th>Total Weight</th>
                                    <th>Reverse Direction</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                <tr [pSelectableRow]="rowData">
                                    <td>{{rowData.TransactionDateTime}}</td>
                                    <td>{{rowData.AxleCount}}</td>
                                    <td>{{rowData.TotalWeight}}</td>
                                    <td>{{rowData.IsReverseDirection}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset>
                    <legend>Recent Transaction</legend>
                    <div class="table-responsive mt-1">
                        <p-table #dt [value]="laneRecentData" [rowHover]="true" [scrollable]="true"
                            [resizableColumns]="true" styleClass="" selectionMode="single">
                            <ng-template pTemplate="header" styleClass="thead-light">
                                <tr>
                                    <th>Id</th>
                                    <th>Type</th>
                                    <th>Vehicle</th>
                                    <th>Date Time</th>
                                    <th>Toll Fare</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                <tr [pSelectableRow]="rowData">
                                    <td>{{rowData.LaneTransactionId}}</td>
                                    <td>{{rowData.TransactionTypeName}}</td>
                                    <td>{{rowData.VehicleClassName}}-{{rowData.VehicleSubClassName}}</td>
                                    <td>{{rowData.TransactionDateTime}}</td>
                                    <td>{{rowData.TransactionAmount | currency:'INR':'symbol':'1.0-2'}}</td>
                                    <!-- | currency:'INR':true:'1.0-2' -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="body-footer-part">
        <div class="icon-row">
            <span *ngFor="let item of equipmentListDetais" class="icon-item justify-content-center">
                <i [class]="getIconName(item)"></i>
                <div class="icon-label justify-content-center">{{ item.EquipmentTypeName }}</div>
            </span>
        </div>
    </div>
</div>
