
.vs/TollDataManagement/config/applicationhost.config
.vs/TollDataManagement/config/applicationhost.config
.vs/TollDataManagement/config/applicationhost.config
.vs/TollDataManagement/FileContentIndex/0aac5b2a-fff2-410d-9357-41869aa8e36d.vsidx
*.vsidx
.vs/TollDataManagement/config/applicationhost.config
.vs/TollDataManagement/FileContentIndex/read.lock
.vs/TollDataManagement/config/applicationhost.config
.vs/TollDataManagement/FileContentIndex/0aac5b2a-fff2-410d-9357-41869aa8e36d.vsidx
.vs/TollDataManagement/FileContentIndex/1bdfc94d-4ad6-4adb-be63-804e572a7166.vsidx
.vs/TollDataManagement/FileContentIndex/261140c4-fc6e-494e-8dec-ba56394e9c89.vsidx
.vs/TollDataManagement/FileContentIndex/2f508ed9-12ef-4c37-89be-ff454eaf3ef3.vsidx
.vs/TollDataManagement/FileContentIndex/341310c7-8303-44f6-9841-08827102960f.vsidx
.vs/TollDataManagement/FileContentIndex/3e502a99-b963-4720-a0f7-9d322438651a.vsidx
.vs/TollDataManagement/FileContentIndex/49e98113-bd28-422c-a769-b52ca7118ade.vsidx
.vs/TollDataManagement/FileContentIndex/4bc8823e-4c15-4c8b-bdc0-7acadabb369f.vsidx
.vs/TollDataManagement/FileContentIndex/66cceb26-8ce0-4877-9347-e7c43550a3f9.vsidx
.vs/TollDataManagement/FileContentIndex/70c82442-ff4c-4d83-a1c0-83f24ea51251.vsidx
.vs/TollDataManagement/FileContentIndex/73e456c0-1e03-4408-9c0e-8fa67ba0bf18.vsidx
.vs/TollDataManagement/FileContentIndex/7516fe87-1850-435d-9cc5-3cf73d430505.vsidx
.vs/TollDataManagement/FileContentIndex/83694e34-bd0c-48e1-9493-077efadd7da4.vsidx
.vs/TollDataManagement/FileContentIndex/8453481b-04f5-432e-81ba-c6f47ce24dbc.vsidx
.vs/TollDataManagement/FileContentIndex/bcff4a59-58ef-439e-9db2-ec81d24b8588.vsidx
.vs/TollDataManagement/FileContentIndex/d476ca0b-cc05-418b-8034-04c702f8b32a.vsidx
.vs/TollDataManagement/FileContentIndex/df8b62c2-0019-47ff-a9b4-759852481b38.vsidx
.vs/TollDataManagement/FileContentIndex/e63f283e-a8d6-4c96-8683-962140c1e297.vsidx
.vs/TollDataManagement/FileContentIndex/ffa21e7e-7a2f-40fa-958a-77db13e16dd8.vsidx
.vs/TollDataManagement/FileContentIndex/read.lock
.vs/TollDataManagement/v16/.suo
.vs/TollDataManagement/v17/fileList.bin
.vs/TollDataManagement/config/applicationhost.config
.vs/TollDataManagement/FileContentIndex/14a3253f-f12d-481e-9aa6-a16bd1e40130.vsidx
.vs/TollDataManagement/FileContentIndex/981b2d1a-9e9e-4be2-a6cb-411b567f19f3.vsidx
.vs/TollDataManagement/FileContentIndex/c8648655-3127-4812-92f3-6c8384d38636.vsidx
.vs/TollDataManagement/v16/.suo
.vs/TollDataManagement/config/applicationhost.config
.vs/TollDataManagement/FileContentIndex/14a3253f-f12d-481e-9aa6-a16bd1e40130.vsidx
.vs/TollDataManagement/FileContentIndex/981b2d1a-9e9e-4be2-a6cb-411b567f19f3.vsidx
.vs/TollDataManagement/FileContentIndex/c8648655-3127-4812-92f3-6c8384d38636.vsidx
.vs/TollDataManagement/v16/.suo
.vs/TollDataManagement/v16/.suo
.vs/TollDataManagement/v16/.suo
.vs/TollDataManagement/v16/.suo
*.config
.vs/TollDataManagement/config/applicationhost.config
Softomation/TollDataManagement/WindowsService/PlazaDataSynchronization/obj/Debug/PlazaDataSynchronization.csproj.AssemblyReference.cache
