
.vs/HighwaySoluations/config/applicationhost.config
.vs/HighwaySoluations/config/applicationhost.config
.vs/HighwaySoluations/config/applicationhost.config
.vs/HighwaySoluations/FileContentIndex/0aac5b2a-fff2-410d-9357-41869aa8e36d.vsidx
*.vsidx
.vs/HighwaySoluations/config/applicationhost.config
.vs/HighwaySoluations/config/applicationhost.config
.vs/HighwaySoluations/FileContentIndex/
.vs/HighwaySoluations/v16/.suo
.vs/HighwaySoluations/v17/fileList.bin
.vs/HighwaySoluations/config/applicationhost.config
.vs/HighwaySoluations/v16/.suo
.vs/HighwaySoluations/config/applicationhost.config
.vs/HighwaySoluations/v16/.suo
.vs/HighwaySoluations/v16/.suo
.vs/HighwaySoluations/v16/.suo
.vs/HighwaySoluations/v16/.suo
.vs/HighwaySoluations/config/applicationhost.config
Softomation/HighwaySoluations/WindowsService/PlazaDataSynchronization/obj/Debug/PlazaDataSynchronization.csproj.AssemblyReference.cache
.vs/HighwaySoluations/v17/.suo
.vs/HighwaySoluations/v17/fileList.bin
*.cache
*.cache
bin
obj
*.pyc
*/Softomation/HighwaySolutions/WebApi/TMSNodeAPI/EventMedia/reports
*/Softomation/HighwaySolutions/WebApi/TMSNodeAPI/node_modules
*/Softomation/HighwaySolutions/WebApi/ICD2.5Api/node_modules
Softomation/HighwaySolutions/dockerFile/docker_ufd_build/nopysy_v1.tar
Softomation/HighwaySolutions/dockerFile/docker_ufd_build_1/nopysy_v1.tar
*.tar
*.csv
*.filepart
*.gpg
*.log
*.xml
*.pdf
/Softomation/HighwaySolutions/WebApi/TMSNodeAPI/node_modules
/Softomation/HighwaySolutions/WebApi/TMSNodeAPI/node_modules
*.rar
*.zip
/Softomation/HighwaySolutions/WebApi/LiveViewApi/node_modules
*.mp4
*.jpg
