<div class="main-content">
    <header id="page-topbar ">
        <div class="navbar-header theam-bg">
            <div class="row wt-100">
                <div class="col-md-2 d-flex align-items-center"><span>{{LoginBy}}</span></div>
                <div class="col-md-2 d-flex justify-content-center align-items-center"><span>{{LoginAt}}</span></div>
                <div class="col-md-2 d-flex justify-content-center align-items-center"><span>{{currentTime}}</span></div>
                <div class="col-md-2 d-flex justify-content-center align-items-center"><span [ngClass]="{ 'text-danger': isLessThanTenMinutes }">{{remainingTime}}</span></div>
                <div class="col-md-2 d-flex justify-content-center align-items-center"><span>{{ShiftDetails}}</span></div>
                <div class="col-md-1 d-flex justify-content-center align-items-center"><span>{{SystemVersion}}</span></div>
                <div class="col-md-1 d-flex justify-content-end align-items-center text-danger logout">
                    <i class="mdi mdi-power font-size-16 text-danger"></i> Logout
                </div>
            </div>
        </div>
    </header>
    <div class="page-content theam-bg">
        <router-outlet></router-outlet>
    </div>
</div>