::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(66, 134, 244);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: rgb(66, 134, 244);
    background-color: rgb(66, 134, 244);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #72777a;
}

::ng-deep .mat-radio-label-content {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 0px;
    padding-right: 0;
    font-size: 10px;
}

::ng-deep .mat-radio-button {
    margin-top: 22px;
}


/* .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
} */