<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">{{PageTitle}}</h5>
        <button type="button" class="btn-close" (click)="ClosePoup()" aria-label="Close">
            <i class="mdi mdi-close me-2"></i>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="Masterform">
            <div class="ims-form-data">
                <div class="row">
                    <div class="col-md-3">
                        <label for="SourceSystemId">Incident Source*</label>
                        <p-dropdown appendTo="body" formControlName="SourceSystemId" [options]="SourceList"
                            optionLabel="SourceName" optionValue="SourceId" placeholder="Source of Incident"
                            (onChange)="FillDevice($event.value)" class="form-control select2">
                        </p-dropdown>
                        <small class="p-error"
                            *ngIf="submitted && Masterform.hasError('required','SourceSystemId')">Source is
                            required.</small>
                    </div>
                    <div class="col-md-3">
                        <label for="EquipmentId">Equipment</label>
                        <p-dropdown appendTo="body" formControlName="EquipmentId" [options]="IncidentDeviceList"
                            optionLabel="EquipmentName" optionValue="EquipmentId" placeholder="Source equipment"
                            class="form-control select2" (onChange)="FillLocation($event.value)">
                        </p-dropdown>
                    </div>
                    <div class="col-md-3">
                        <label for="IncidentCategoryId">Category*</label>
                        <p-dropdown appendTo="body" formControlName="IncidentCategoryId" inputId="IncidentCategoryId"
                            [options]="IncidentCategoryList" optionLabel="IncidentCategoryName"
                            optionValue="IncidentCategoryId" placeholder="Incident category"
                            class="form-control select2" (onChange)="FillPriority($event.value)">
                        </p-dropdown>
                        <small class="p-error"
                            *ngIf="submitted && Masterform.hasError('required','IncidentCategoryId')">Category is
                            required.</small>
                    </div>
                    <div class="col-md-3">
                        <label for="PriorityId">Priority*</label>
                        <p-dropdown appendTo="body" formControlName="PriorityId" [options]="PriorityList"
                            optionLabel="Name" optionValue="Id" placeholder="Incident Priority"
                            class="form-control select2">
                        </p-dropdown>
                        <small class="p-error"
                            *ngIf="submitted && Masterform.hasError('required','PriorityId')">Priority is
                            required.</small>
                    </div>
                    <div class="col-md-3">
                        <label for="DirectionId">Direction*</label>
                        <p-dropdown appendTo="body" formControlName="DirectionId" [options]="DirectionList"
                            optionLabel="Name" optionValue="Id" placeholder="Incident direction"
                            class="form-control select2">
                        </p-dropdown>
                        <small class="p-error"
                            *ngIf="submitted && Masterform.hasError('required','DirectionId')">Direction is
                            required.</small>
                    </div>
                    <div class="col-md-3">
                        <label for="Longitude">Chainage Number*</label>
                        <input formControlName="ChainageNumber" type="text" pInputText class="form-control" />
                        <small class="p-error"
                            *ngIf="submitted && Masterform.hasError('required','ChainageNumber')">Chainage Number is
                            required.</small>
                        <small class="p-error"
                            *ngIf="submitted && Masterform.hasError('pattern','ChainageNumber')">Valid
                            Chainage Number is required.</small>
                    </div>
                    <div class="col-md-3">
                        <label for="Latitude">Latitude*</label>
                        <input formControlName="Latitude" type="text" pInputText class="form-control" />
                        <small class="p-error" *ngIf="submitted && Masterform.hasError('required','Latitude')">Latitude
                            is
                            required.</small>
                        <small class="p-error" *ngIf="submitted && Masterform.hasError('pattern','Latitude')">Valid
                            Latitude
                            is
                            required.</small>
                    </div>
                    <div class="col-md-3">
                        <label for="Longitude">Longitude*</label>
                        <input formControlName="Longitude" type="text" pInputText class="form-control" />
                        <small class="p-error"
                            *ngIf="submitted && Masterform.hasError('required','Longitude')">Longitude is
                            required.</small>
                        <small class="p-error" *ngIf="submitted && Masterform.hasError('pattern','Longitude')">Valid
                            Longitude is
                            required.</small>
                    </div>
                    <div class="col-md-3">
                        <label for="AssignedToId">Assigned To</label>
                        <p-dropdown appendTo="body" formControlName="AssignedToId" [options]="PetrollingTeamList"
                            optionLabel="LoginId" optionValue="UserId" placeholder="Select Patrolling team"
                            class="form-control select2">
                        </p-dropdown>
                        <small class="p-error"
                            *ngIf="submitted && Masterform.hasError('required','AssignedToId')">Assigning Team is
                            required.</small>
                    </div>
                    <div class="col-md-3">
                        <label for="VehicleClassId">Vehicle Class</label>
                        <p-dropdown appendTo="body" formControlName="VehicleClassId" [options]="VehicleClassList"
                            optionLabel="VehicleClassName" optionValue="VehicleClassId"
                            placeholder="Incident Vehicle Class" class="form-control select2">
                        </p-dropdown>
                    </div>
                    <div class="col-md-3">
                        <label for="VehiclePlateNumber">Vehicle No</label>
                        <input formControlName="VehiclePlateNumber" type="text" pInputText class="form-control" />
                    </div>
                    <div class="col-md-12">
                        <p-fileUpload (onSelect)="uploadFileEvt($event)" (onClear)="removeFileEvt()"
                            [showUploadButton]="false" [multiple]="false" [maxFileSize]="2000000"
                            accept="image/png, image/jpeg, image/jpg">
                            <ng-template pTemplate="content">
                            </ng-template>
                        </p-fileUpload>
                    </div>
                    <div class="col-md-12">
                        <label for="IncidentDescription">Description</label>
                        <input formControlName="IncidentDescription" type="text" pInputText class="form-control" />
                        <small class="p-error"
                            *ngIf="submitted && Masterform.hasError('required','IncidentDescription')">Description is
                            required.</small>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="ClosePoup()">Close</button>
        <button type="button" class="btn btn-success" (click)="ProcessDetails()">Save changes</button>
    </div>
</div>