<div class="top-bar">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 d-md-block d-none">
            <p><i class="arrow right"></i><i class="arrow right"></i> Lane Configuration</p>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-md-end justify-content-between pheader">
                <i *ngIf="DataAdd==1" class="pi pi-plus-circle layout-menuitem-icon" matTooltip="Create new entry" (click)="NewEntry()"></i>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive table-height-master">
    <p-table #dt [value]="DevicesData" [rowHover]="true" [scrollable]="true" [resizableColumns]="true" 
    [style]="{'min-width':'1100px'}" styleClass="p-datatable-striped p-datatable-gridlines" 
    [globalFilterFields]="['ControlRoomName','GantryName','LaneNumber','LaneDirectionName','DataStatusName']">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>S. No.</th>
                <th pSortableColumn="EntryId">Lane Id <p-sortIcon field="EntryId"></p-sortIcon>
                </th>
                <th pSortableColumn="ControlRoomName">Control Room <p-sortIcon field="ControlRoomName"></p-sortIcon>
                </th>
                <th pSortableColumn="GantryName">Gantry <p-sortIcon field="PlazaName"></p-sortIcon>
                </th>
                <th pSortableColumn="LaneNumber">Lane Number <p-sortIcon field="LaneNumber"></p-sortIcon>
                </th>
                <th pSortableColumn="LaneDirectionName">Direction <p-sortIcon field="LaneDirectionName"></p-sortIcon>
                </th>
                <th pSortableColumn="DataStatusName">Status <p-sortIcon field="DataStatusName"></p-sortIcon>
                </th>
                <th *ngIf="DataUpdate==1"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
            <tr style="font-size: 10px;">
                <td>{{i+1}}</td>
                <td>{{rowData.EntryId}}</td>
                <td>{{rowData.ControlRoomName}}</td>
                <td>{{rowData.GantryName}}</td>
                <td>{{rowData.LaneNumber}}</td>
                <td>{{rowData.LaneDirectionName}}</td>
                <td>{{rowData.DataStatusName}}</td>
                <td style="text-align: center;" *ngIf="DataUpdate==1">
                    <i class="icon-holder c-blue-500 pi pi-pencil" (click)="onRowEditInit(rowData)"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>