<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Change Password</h5>
        <button type="button" class="btn-close" (click)="ClosePoup()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="PasswordForm">
            <div class="form-row">
                <div class="col-md-12">
                    <label for="CurrentPassword">Current Password</label>
                    <p-password [toggleMask]="true" class="form-control" formControlName="CurrentPassword"
                        pInputText required [feedback]="false"></p-password>
                    <small class="p-error"
                        *ngIf="submitted && PasswordForm.hasError('required','CurrentPassword')">Current Password is
                        required.</small>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <label for="NewPassword">New Password</label>
                    <p-password [toggleMask]="true" class="form-control" formControlName="NewPassword"
                        pInputText required [feedback]="false"></p-password>
                    <small class="p-error"
                        *ngIf="submitted && PasswordForm.hasError('required','NewPassword')">New Password is
                        required.</small>
                    <small class="p-error"
                    *ngIf="submitted && PasswordForm.hasError('pattern','NewPassword')">Vaild Password is
                    required.</small>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <p-password [toggleMask]="true" class="form-control" formControlName="ConfirmPassword"
                        pInputText required [feedback]="false"> </p-password>
                    <small class="p-error"
                        *ngIf="submitted && PasswordForm.hasError('required','ConfirmPassword')">Confirm Password is
                        required.</small>
                        <small class="p-error" *ngIf="PasswordForm.hasError('confirmPasswordValidator','ConfirmPassword')">Passsword and
                            Confirm Password didn't match. </small>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="ClosePoup()">Close</button>
        <button type="button" class="btn btn-success" (click)="UpdatePassword()">Save changes</button>
    </div>
</div>