<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <a href="javascript:void(0);" class="btn btn-success mb-2">
                        Closed Incident
                    </a>
                    <div class="dropdown d-inline-block float-right">
                        <span class="p-input-icon-left">
                            <i class="fa fa-search"></i>
                            <input type="text" pInputText class="form-control" (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                        </span>
                    </div>
                </div>
                <div class="table-responsive mt-3 listtableheight">
                    <p-table #dt [value]="ClosedData" [rowHover]="true" [scrollable]="true"
                    [resizableColumns]="true" styleClass="p-datatable-striped p-datatable-gridlines"
                    [globalFilterFields]="['IncidentId','IncidentCategoryName','PriorityName','EquipmentName','ChainageName','DirectionName']">
                    <ng-template pTemplate="header" styleClass="thead-light">
                        <tr>
                            <th>S. No.</th>
                            <th>Incident Id</th>
                            <th pSortableColumn="IncidentCategoryName">Type <p-sortIcon
                                    field="IncidentCategoryName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="PriorityName">Priority <p-sortIcon
                                    field="PriorityName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="EquipmentName">Source Equipment<p-sortIcon
                                    field="EquipmentName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="ChainageName">Chainage <p-sortIcon
                                    field="ChainageName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="DirectionName">Direction <p-sortIcon
                                    field="DirectionName"></p-sortIcon>
                            </th>
                            <th style="text-align: center;">Meida</th>
                            <th style="text-align: center;">Re-open</th>
                            <th style="text-align: center;">History</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{rowData.IncidentId}}</td>
                            <td>{{rowData.IncidentCategoryName}}</td>
                            <td>{{rowData.PriorityName}}</td>
                            <td>{{rowData.EquipmentName}}</td>
                            <td>{{rowData.ChainageName}}</td>
                            <td>{{rowData.DirectionName}}</td>
                            <td style="text-align: center;">
                                <a href="javascript:void(0);" (click)="onMidiaView(rowData)"
                                    class="me-3 text-secondary" title="Meida Files">
                                    <i class="fa fa-paperclip font-size-18"></i>
                                </a>
                            </td>
                            <td style="text-align: center;">
                                <a href="javascript:void(0);" (click)="onReAssigned(rowData)"
                                    class="me-3 text-danger" title="Meida Files">
                                    <i class="fa fa-reply-all font-size-18"></i>
                                </a>
                            </td>
                            <td style="text-align: center;">
                                <a href="javascript:void(0);" (click)="onActionHistory(rowData)"
                                    class="me-3 text-primary" data-bs-container="#tooltip-container0"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                    <i class="mdi mdi-format-list-bulleted font-size-18"></i>
                                </a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                </div>
            </div>
        </div>
    </div>
</div>