<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">{{PageTitle}}</h5>
        <button type="button" class="btn-close" (click)="ClosePoup()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="Masterform">
            <div class="row">
                <div class="col-md-3">
                    <label for="SourceId">Incident Source*</label>
                    <p-dropdown appendTo="body" formControlName="SourceId" [options]="SourceList"
                        optionLabel="SourceName" optionValue="SourceId" placeholder="Select Source of Incident"
                        (onChange)="FillDevice($event.value)" class="form-control select2">
                    </p-dropdown>
                    <small class="p-error" *ngIf="submitted && Masterform.hasError('required','SourceId')">Source is
                        required.</small>
                </div>
                <div class="col-md-3">
                    <label for="DeviceId">Device Source</label>
                    <p-dropdown appendTo="body" formControlName="DeviceId" [options]="IncidentDeviceList"
                        optionLabel="DeviceName" optionValue="EntryId" placeholder="Select Source device"
                        (onChange)="FillChainage($event)"  class="form-control select2">
                    </p-dropdown>
                </div>
                <!-- <div class="col-md-3">
                    <label for="SourceId">Direction*</label>
                    <p-dropdown appendTo="body" formControlName="DirectionId" [options]="DirectionList"
                        optionLabel="Name" optionValue="EntryId" placeholder="Select Direction"
                        (onChange)="FillNearByVMS($event.value)">
                    </p-dropdown>
                    <small class="p-error"
                        *ngIf="submitted && Masterform.hasError('required','DirectionId')">DirectionId is
                        required.</small>
                </div> -->
                <!-- <div class="col-md-3">
                    <label for="CategoryId">Category*</label>
                    <p-dropdown appendTo="body" formControlName="CategoryId" inputId="IncidentCategory"
                        [options]="IncidentCategoryList" optionLabel="CategoryName" optionValue="EntryId"
                        placeholder="Select">
                    </p-dropdown>
                    <small class="p-error" *ngIf="submitted && Masterform.hasError('required','CategoryId')">Category is
                        required.</small>
                </div> -->
                <!-- <div class="col-md-3">
                    <label for="Longitude">Chainage Number*</label>
                    <input formControlName="ChainageNumber" type="text" (ngModelChange)="FillCoordinates()"
                        pInputText />
                    <small class="p-error"
                        *ngIf="submitted && Masterform.hasError('required','ChainageNumber')">Chainage Number is
                        required.</small>
                    <small class="p-error" *ngIf="submitted && Masterform.hasError('pattern','ChainageNumber')">Valid
                        Chainage Number is required.</small>
                </div> -->
                <div class="col-md-3">
                    <label for="Latitude">Latitude*</label>
                    <input formControlName="Latitude" type="text" pInputText class="form-control" />
                    <small class="p-error" *ngIf="submitted && Masterform.hasError('required','Latitude')">Latitude is
                        required.</small>
                    <small class="p-error" *ngIf="submitted && Masterform.hasError('pattern','Latitude')">Valid Latitude
                        is
                        required.</small>
                </div>
                <div class="col-md-3">
                    <label for="Longitude">Longitude*</label>
                    <input formControlName="Longitude" type="text" pInputText class="form-control" />
                    <small class="p-error" *ngIf="submitted && Masterform.hasError('required','Longitude')">Longitude is
                        required.</small>
                    <small class="p-error" *ngIf="submitted && Masterform.hasError('pattern','Longitude')">Valid
                        Longitude is
                        required.</small>
                </div>
                <div class="col-md-3">
                    <label for="NearByVMS">Display on nearby VMS</label>
                    <input readonly formControlName="NearByVMS" type="text" pInputText class="form-control" />
                </div>
                <div class="col-md-3">
                    <label for="VehicleNo">Vehicle No</label>
                    <input formControlName="VehicleNo" type="text" pInputText class="form-control" />
                </div>
                <!-- <div class="col-md-3">
                    <label for="SourceId">Vehicle Class</label>
                    <p-dropdown appendTo="body" formControlName="VehicleClassId" [options]="AllVehicleClassList"
                        optionLabel="VehicleClassName" optionValue="VehicleClassId" placeholder="Select Vehicle Class">
                    </p-dropdown>
                </div> -->
                <!-- <div class="col-md-3">
                    <label for="SourceId">Assign To Patrolling Team*</label>
                    <p-dropdown appendTo="body" [disabled]="incidentstatusId" formControlName="AssigneeId" [options]="AllPatrollingVehicleList"
                        optionLabel="DeviceName" optionValue="EntryId" placeholder="Select Patrolling team">
                    </p-dropdown>
                    <small class="p-error" *ngIf="submitted && Masterform.hasError('required','AssigneeId')">Assigning
                        To Patrolling Team is
                        required.</small>
                </div> -->
                <div class="col-md-12">
                    <label for="Description">Remarks/Description</label>
                    <input formControlName="Description" type="text" pInputText class="form-control" />
                </div>
                <!-- <div class="col-md-12">
                    <p-fileUpload (onSelect)="uploadFileEvt($event)" (onClear)="removeFileEvt()"
                        [showUploadButton]="false" [multiple]="multiple" [maxFileSize]="maxFileSize"
                        accept="image/png, image/jpeg, image/jpg">
                        <ng-template pTemplate="content">
                        </ng-template>
                    </p-fileUpload>
                </div> -->
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="ClosePoup()">Close</button>
        <button type="button" class="btn btn-success" (click)="SaveDetails()">Save changes</button>
    </div>
</div>