<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">ICD Response Pending</h5>
        
        <button type="button" class="btn-close" (click)="ClosePoup()" aria-label="Close">
            <i class="mdi mdi-close me-2"></i>
        </button>
    </div>
    <div class="modal-body ">
        <div class="table-responsive ft-popup">
            <p-table  #dt [value]="EventHistroyData" [rowHover]="true" [scrollable]="true" [resizableColumns]="true"
                [showCurrentPageReport]="true" [rows]="20" [paginator]="true" [totalRecords]="TotalRecords">
                <ng-template pTemplate="header" styleClass="thead-light">
                    <tr>
                        <th>Tag Read Date/Time</th>
                        <th>Lane</th>
                        <th>Tag ID</th>
                        <th>Tag EPC</th>
                        <th>Tag Class</th>
                        <th>Vehicle SubClass</th>
                        <th>Vehicle Class</th>
                        <th>Vehicle Avc Class</th>
                        <th>Request Date/Time</th>
                        <th>Trans Hours</th>
                        <th>Requested Hours</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                    <tr>
                        <td>{{rowData.TagReadDateTime | date: 'dd-MMM-yyyy HH:mm:ss':'UTC'}}</td>
                        <td>{{rowData.LaneId}}</td>
                        <td>{{rowData.TID}}</td>
                        <td>{{rowData.TagEPC}}</td>
                        <td>{{rowData.TagClassId}}</td>
                        <td>{{rowData.VehicleSubClassId}}</td>
                        <td>{{rowData.VehicleClassId}}</td>
                        <td>{{rowData.VehicleAvcClassId}}</td>
                        <td>{{rowData.RequestDateTime | date: 'dd-MMM-yyyy HH:mm:ss':'UTC'}}</td>
                        <td>{{rowData.HoursDifference}}</td>
                        <td>{{rowData.RequestedDifference}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="p-d-flex float-start">
            <span>Total Records: {{ TotalRecords }}</span>
        </div>
        <button type="button" class="btn btn-success" (click)="SaveDetails()">Check status</button>
        <button type="button" class="btn btn-secondary" (click)="ClosePoup()">Close</button>
    </div>
</div>