<!-- <div class="top-bar">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 d-md-block d-none">
            <p><i class="arrow right"></i><i class="arrow right"></i> Vehicle Class Configuration</p>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-md-end justify-content-between pheader">
                <i *ngIf="DataAdd==1" class="pi pi-plus-circle layout-menuitem-icon" matTooltip="Create new entry" (click)="NewEntry()"></i>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <a href="javascript:void(0);" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"><i class="mdi mdi-plus me-2"></i> Add Module</a>
                    <div class="dropdown d-inline-block float-right">
                        <button type="button" class="btn header-item noti-icon right-bar-toggle1 waves-effect height-45">
                            <i class="mdi mdi-filter-menu-outline"></i>
                        </button>
                    </div>
                </div>
                <div class="table-responsive mt-3 listtableheight">
                    <div class="table-responsive table-height-master">
                        <p-table #dt sortField="EntryId" [sortOrder]="-1" [value]="DevicesData" [rowHover]="true" [scrollable]="true" 
                        [resizableColumns]="true" [style]="{'min-width':'1100px'}" styleClass="p-datatable-striped p-datatable-gridlines"
                        [globalFilterFields]="['EntryId','ClassName','ClassDescription','VehicleSpeed','DataStatusName']">
                            <ng-template pTemplate="caption">
                                <div style="text-align: right">
                                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                    <!-- <input type="text" pInputText size="50" placeholder="Filter" (input)="dt.filterGlobal($any($event.target).value, 'contains')" style="width:auto"> -->
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>S. No.</th>
                                    <th pSortableColumn="EntryId">Class Id <p-sortIcon field="EntryId"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="ClassName">Class Name <p-sortIcon field="ClassName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="ClassDescription">Description <p-sortIcon field="ClassDescription"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="VehicleSpeed">Allowed Speed(KMPH) <p-sortIcon field="VehicleSpeed"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="DataStatusName">Status <p-sortIcon field="DataStatusName"></p-sortIcon>
                                    </th>
                                    <th style="text-align: center;" *ngIf="DataUpdate==1">Update</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                <tr style="font-size: 10px;">
                                    <td>{{i+1}}</td>
                                    <td>{{rowData.EntryId}}</td>
                                    <td>{{rowData.ClassName}}</td>
                                    <td>{{rowData.ClassDescription}}</td>
                                    <td>{{rowData.VehicleSpeed}}</td>
                                    <td>{{rowData.DataStatusName}}</td>
                                    <td style="text-align: center;" *ngIf="DataUpdate==1">
                                        <i class="icon-holder c-blue-500 pi pi-pencil" (click)="onRowEditInit(rowData)"></i>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="float-right">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
