<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Change Password</h5>
        <button type="button" class="btn-close" (click)="ClosePoup()" aria-label="Close">
            <i class="mdi mdi-close me-2"></i>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="PasswordForm">
            <div class="form-row">
                <div class="col-md-12">
                    <label for="CurrentPassword">Current Password</label>
                    <div class="input-group grouplist-border">
                        <input class="form-control" formControlName="CurrentPassword" placeholder="Enter password Here"
                            [type]="hide ? 'password' : 'text'">
                        <i class="mdi  user-icon" [ngClass]="hide1 ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
                            (click)="hide = !hide"></i>
                    </div>
                    <small class="p-error"
                        *ngIf="submitted && PasswordForm.hasError('required','CurrentPassword')">Current Password is
                        required.</small>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <label for="NewPassword">New Password</label>
                    <div class="input-group grouplist-border">
                        <input class="form-control" formControlName="NewPassword" placeholder="Enter new password Here"
                            [type]="hide1 ? 'password' : 'text'">
                        <i class="mdi  user-icon" [ngClass]="hide1 ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
                            (click)="hide1 = !hide1"></i>
                    </div>

                    <small class="p-error" *ngIf="submitted && PasswordForm.hasError('required','NewPassword')">New
                        Password is
                        required.</small>
                    <small class="p-error"
                        *ngIf="submitted && PasswordForm.hasError('pattern','NewPassword')">{{error['Password']}}</small>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <div class="input-group grouplist-border">
                        <input class="form-control" formControlName="ConfirmPassword"
                            placeholder="Enter confirm password Here" [type]="hide2 ? 'password' : 'text'">
                        <i class="mdi  user-icon" [ngClass]="hide2 ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
                            (click)="hide2 = !hide2"></i>
                    </div>
                    <small class="p-error"
                        *ngIf="submitted && PasswordForm.hasError('required','ConfirmPassword')">Confirm Password is
                        required.</small>
                    <small class="p-error"
                        *ngIf="PasswordForm.hasError('confirmPasswordValidator','ConfirmPassword')">Passsword and
                        Confirm Password didn't match. </small>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="ClosePoup()">Close</button>
        <button type="button" class="btn btn-success" (click)="UpdatePassword()">Save changes</button>
    </div>
</div>