<div class="mat-fab-btn" style="float: right;">
    <button mat-fab color="warn" aria-label="Close" mat-dialog-close matTooltip="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>
<form [formGroup]="DataDetailsForm">
    <h2 mat-dialog-title>{{PageTitle}}</h2>
    <div class="popupBox">
        <div class="form-row">
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="ControlRoomName" autocomplete="off">
                    <mat-error *ngIf="DataDetailsForm.get('ControlRoomName').hasError('required')">
                        Control Room Name must be entered.
                    </mat-error>
                    <mat-error *ngIf="DataDetailsForm.get('ControlRoomName').hasError('pattern')">
                        {{error.AlphaNumericSingleSpace}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <mat-checkbox [checked]="DataStatus" (change)="onChange($event)">Status</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <div align="end">
        <div class="mat-fab-btn" style="float: right;">
            <button mat-fab color="primary" aria-label="Add" (click)="ClearDetails()" matTooltip="Clear">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
        <div class="mat-fab-btn" style="float: right;">
            <button mat-fab color="primary" aria-label="Add" (click)="SaveDetails()" matTooltip="Save">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </div>
</form>