<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="accordion" class="data-filter">
                    <div class="card-header">
                        <div class="dropdown d-inline-block">
                            <h5 class="mb-0">
                                <a href="javascript:void(0);" class="mb-2" (click)="ExColl()">
                                    <i class="mdi mdi-arrow-up-circle filter-icon-class" id="datafilterIcon"></i>
                                </a>
                                <span class="rc">Record:{{TotalCount}}</span>
                            </h5>
                        </div>
                        <div class="dropdown d-inline-block float-right">
                            <span class="p-input-icon-left">
                                <i class="fa fa-search"></i>
                                <input type="text" pInputText class="form-control"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                            </span>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <form [formGroup]="FilterDetailsForm">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="StartDateTime">Start Date Time</label>
                                            <p-calendar [showTime]="true" [showSeconds]="true" [hourFormat]="'24'"
                                                pInputText autofocus class="form-control"
                                                formControlName="StartDateTime" [readonlyInput]="true"
                                                dateFormat="dd-M-yy"></p-calendar>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="EndDateTime">End Date Time</label>
                                            <p-calendar [showTime]="true" [showSeconds]="true" [hourFormat]="'24'"
                                                pInputText autofocus class="form-control" formControlName="EndDateTime"
                                                [readonlyInput]="true" dateFormat="dd-M-yy"></p-calendar>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="ControlRoomFilterList">Control Room</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="ControlRoomFilterList"
                                                inputId="ControlRoomFilterList" [options]="ControlRoomData"
                                                (onChange)="FillPackages()" optionLabel="DataName" optionValue="DataId"
                                                placeholder="Control Room">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="PackageFilterList">Package</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="PackageFilterList"
                                                inputId="PackageFilterList" [options]="PackageFilter"
                                                (onChange)="FillChainage()" optionLabel="DataName" optionValue="DataId"
                                                placeholder="Package">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="ChainageFilterList">Chainage</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="ChainageFilterList"
                                                inputId="ChainageFilterList" [options]="ChainageFilter"
                                                optionLabel="DataName" optionValue="DataValue" placeholder="Chainage">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="DirectionFilterList">Direction</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="DirectionFilterList"
                                                inputId="DirectionFilterList" [options]="DirectionList"
                                                optionLabel="DataName" optionValue="DataValue" placeholder="Direction">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="LaneFilterList">Lane</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="LaneFilterList"
                                                inputId="LaneFilterList" [options]="LaneDetailsList"
                                                optionLabel="LaneName" optionValue="LaneNumber" placeholder="Lane">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="EventFilterList">Event Type</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="EventFilterList"
                                                inputId="EventFilterList" [options]="EventData"
                                                optionLabel="EventTypeName" optionValue="EventTypeId"
                                                placeholder="Event Type">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="VehicleClassFilterList">Vehicle Class</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="VehicleClassFilterList"
                                                inputId="VehicleClassFilterList" [options]="VehicleClassDataList"
                                                optionLabel="VehicleClassName" optionValue="VehicleClassId"
                                                placeholder="Vehicle Class">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="PlateNumber">Plate Number</label>
                                            <input formControlName="PlateNumber" type="text" pInputText autofocus
                                                class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 d-flex justify-content-center text-center">
                                    <button type="button" class="btn btn-info btn-circle btn-lg btn-search"
                                        (click)="SearchEntry()">
                                        <i class="mdi mdi-feature-search-outline"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive mt-3 listtablepagging listtablepadding" id="tbl">
                    <p-table #dt [value]="EventHistroyData" [rowHover]="true" [scrollable]="true"
                        [resizableColumns]="true" [showCurrentPageReport]="true" [rows]="50" [paginator]="true"
                        [globalFilterFields]="['PackageName','ChainageName','DirectionName','LaneName','EventDateStamp',
                        'PlateNumber','VehicleClassName','AllowedSpeed','RadarSpeed','CameraSpeed','EventTypeName']">
                        <ng-template pTemplate="header" styleClass="thead-light">
                            <tr>
                                <th>S. No.</th>
                                <th pSortableColumn="PackageName">Package <p-sortIcon field="PackageName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="ChainageName">Chainage <p-sortIcon
                                        field="ChainageName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="DirectionName">Direction <p-sortIcon
                                        field="DirectionName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="LaneName">Lane <p-sortIcon field="LaneName"></p-sortIcon>
                                </th>

                                <th pSortableColumn="EventDateStamp">Event Time <p-sortIcon
                                        field="EventDateStamp"></p-sortIcon>
                                </th>
                                <th pSortableColumn="PlateNumber">Plate Number <p-sortIcon
                                        field="PlateNumber"></p-sortIcon>
                                </th>
                                <th pSortableColumn="VehicleClassName">Vehicle Class <p-sortIcon
                                        field="VehicleClassName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="AllowedSpeed">Allowed Speed <p-sortIcon
                                        field="AllowedSpeed"></p-sortIcon>
                                </th>
                                <th pSortableColumn="RadarSpeed">Radar Speed <p-sortIcon
                                        field="RadarSpeed"></p-sortIcon>
                                </th>
                                <th pSortableColumn="EventTypeName">Event Type <p-sortIcon
                                        field="EventTypeName"></p-sortIcon>
                                </th>
                                <th style="text-align: center;">Meida</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{rowData.PackageName}}</td>
                                <td>{{rowData.ChainageName}}</td>
                                <td>{{rowData.DirectionName}}</td>
                                <td>{{rowData.LaneName}}</td>
                                <td>{{rowData.EventDateStamp}}</td>
                                <td>{{rowData.PlateNumber}}</td>
                                <td>{{rowData.VehicleClassName}}</td>
                                <td>{{rowData.AllowedSpeed}}</td>
                                <td>{{rowData.RadarSpeed}}</td>
                                <td>{{rowData.EventTypeName}}</td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0);" (click)="onMidiaView(rowData)"
                                        class="me-3 text-secondary" title="Meida Files">
                                        <i class="fa fa-paperclip font-size-18"></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>