<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="accordion" class="data-filter">
                    <div class="card-header">
                        <div class="dropdown d-inline-block">
                            <h5 class="mb-0">
                                <a href="javascript:void(0);" class="mb-2" (click)="ExColl()">
                                    <i class="mdi mdi-arrow-up-circle filter-icon-class" id="datafilterIcon"></i>
                                </a>
                                <span class="rc">Record:{{TotalCount}}</span>
                            </h5>
                        </div>
                        <div class="dropdown d-inline-block float-right">
                            <span class="p-input-icon-left">
                                <i class="fa fa-search"></i>
                                <input type="text" pInputText class="form-control"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                            </span>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <form [formGroup]="FilterDetailsForm">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="StartDateTime">Start Date Time</label>
                                            <p-calendar [showTime]="true" [showSeconds]="true" [hourFormat]="'24'"
                                                pInputText autofocus class="form-control"
                                                formControlName="StartDateTime" [readonlyInput]="true"
                                                dateFormat="dd-M-yy"></p-calendar>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="EndDateTime">End Date Time</label>
                                            <p-calendar [showTime]="true" [showSeconds]="true" [hourFormat]="'24'"
                                                pInputText autofocus class="form-control" formControlName="EndDateTime"
                                                [readonlyInput]="true" dateFormat="dd-M-yy"></p-calendar>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="ControlRoomFilterList">Control Room</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="ControlRoomFilterList"
                                                inputId="ControlRoomFilterList" [options]="ControlRoomData"
                                                (onChange)="FillPackages()" optionLabel="DataName" optionValue="DataId"
                                                placeholder="Control Room">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="PackageFilterList">Package</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="PackageFilterList"
                                                inputId="PackageFilterList" [options]="PackageFilter"
                                                (onChange)="FillChainage()" optionLabel="DataName" optionValue="DataId"
                                                placeholder="Package">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="ChainageFilterList">Chainage</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="ChainageFilterList"
                                                inputId="ChainageFilterList" [options]="ChainageFilter"
                                                optionLabel="DataName" optionValue="DataValue" placeholder="Chainage">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="DirectionFilterList">Direction</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="DirectionFilterList"
                                                inputId="DirectionFilterList" [options]="DirectionList"
                                                optionLabel="DataName" optionValue="DataValue" placeholder="Direction">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="PositionFilterList">VMS View</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="PositionFilterList"
                                                inputId="PositionFilterList" [options]="PositionList"
                                                optionLabel="DataName" optionValue="DataValue" placeholder="VMS View">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="MessageFilterList">Message Type</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="MessageFilterList"
                                                inputId="MessageFilterList" [options]="MessageTypeList"
                                                optionLabel="DataName" optionValue="DataValue" placeholder="Message Type">
                                            </p-multiSelect>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 d-flex justify-content-center text-center">
                                    <button type="button" class="btn btn-info btn-circle btn-lg btn-search"
                                        (click)="SearchEntry()">
                                        <i class="mdi mdi-feature-search-outline"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive mt-3 listtablepagging listtablepadding" id="tbl">
                    <p-table #dt [value]="EventHistroyData" [rowHover]="true" [scrollable]="true" [resizableColumns]="true"
                        styleClass="table table-centered datatable dt-responsive nowrap"
                        [globalFilterFields]="['PackageName','StartChainageNumber','EndChainageNumber','DataStatusName']"
                        >
                        <ng-template pTemplate="header" styleClass="thead-light">
                            <tr>
                                <th>S. No.</th>
                                <th>VMS List</th>
                                <th>Message Type</th>
                                <th>Display Timout</th>
                                <th>Valid Till</th>
                                <th>Message Details</th>
                                <th pSortableColumn="DataStatusName">Status <p-sortIcon
                                        field="DataStatusName"></p-sortIcon>
                                </th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                            <tr>
                                <td>{{i+1}}</td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0);" (click)="onRowEditInit(rowData)"
                                        class="me-3 text-primary" data-bs-container="#tooltip-container0"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                        <i class="mdi mdi-message-bulleted mdi-icon"></i>
                                    </a>
                                </td>
                                <td>{{rowData.MessageTypeName}}</td>
                                <td>{{rowData.DisplayTimout}}</td>
                                <td>{{rowData.ValidTillDateStamp}}</td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0);" (click)="onMidiaView(rowData)"
                                        class="me-3 text-secondary" title="Media Files">
                                        <i class="mdi mdi-multimedia mdi-icon"></i>
                                    </a>
                                </td>
                                <td>{{rowData.DataStatusName}}</td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0);" (click)="onRowEditInit(rowData)"
                                        class="me-3 text-primary" data-bs-container="#tooltip-container0"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                        <i class="mdi mdi-pencil mdi-icon"></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>