<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">{{PageTitle}}</h5>
        <button type="button" class="btn-close" (click)="ClosePoup()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="DataDetailsForm">
            <div class="row">
                <div class="col-md-6">
                    <label for="FirstName">First Name</label>
                    <input formControlName="FirstName" type="text" pInputText required autofocus
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','FirstName')">First Name is
                        required.</small>
                </div>
                <div class="col-md-6">
                    <label for="LastName">Last Name</label>
                    <input formControlName="LastName" type="text" pInputText required autofocus
                        class="form-control" />
                    <small class="p-error" *ngIf="submitted && DataDetailsForm.hasError('required','LastName')">Last
                        Name is
                        required.</small>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <label for="MobileNumber">Mobile Number</label>
                    <input formControlName="MobileNumber" type="text" pInputText required autofocus
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','MobileNumber')">Mobile Number is
                        required.</small>
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('pattern','MobileNumber')">Vaild Mobile Number
                        is
                        required.</small>
                </div>
                <div class="col-md-6">
                    <label for="EmailId">Email Id</label>
                    <input formControlName="EmailId" type="text" pInputText required autofocus
                        class="form-control" />
                    <small class="p-error" *ngIf="submitted && DataDetailsForm.hasError('required','EmailId')">Email
                        Id is
                        required.</small>
                    <small class="p-error" *ngIf="submitted && DataDetailsForm.hasError('pattern','EmailId')">Vaild
                        Email Id is
                        required.</small>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <label for="LoginId">Login Id</label>
                    <input formControlName="LoginId" type="text" pInputText required autofocus
                        class="form-control" />
                    <small class="p-error" *ngIf="submitted && DataDetailsForm.hasError('required','LoginId')">Login
                        Id is
                        required.</small>
                    <small class="p-error" *ngIf="submitted && DataDetailsForm.hasError('pattern','LoginId')">Vaild
                        Login Id is
                        required.</small>
                </div>
                <div class="col-md-6">
                    <label for="LoginPassword">Login Password</label>
                    <input formControlName="LoginPassword" type="text" pInputText required autofocus
                        class="form-control" />
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','LoginPassword')">Login Password is
                        required.</small>
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('pattern','LoginPassword')">Vaild Login
                        Password is
                        required.</small>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <label for="RoleId">Role & Rights</label>
                    <p-dropdown appendTo="body" formControlName="RoleId" inputId="RoleId" [options]="RoleData"
                        optionLabel="RoleName" optionValue="RoleId" placeholder="Select"
                        class="form-control select2" [style]="{'width':'100%'}"></p-dropdown>
                    <small class="p-error" *ngIf="submitted && DataDetailsForm.hasError('required','RoleId')">Role &
                        Rights is
                        required.</small>
                </div>
                <div class="col-md-6">
                    <label for="UserTypeId">User Type</label>
                    <p-dropdown appendTo="body" formControlName="UserTypeId" inputId="UserTypeId"
                        [options]="UserTypeList" optionLabel="Name" optionValue="Id" placeholder="Select"
                        class="form-control select2" [style]="{'width':'100%'}"></p-dropdown>
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','UserTypeId')">User Type is
                        required.</small>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <label for="AccountExpiredDate">Account Expire Date</label>
                    <p-calendar class="form-control custom-cal" formControlName="AccountExpiredDate" [showIcon]="true"
                        appendTo="body" dateFormat="dd-M-yy"></p-calendar>
                    <small class="p-error"
                        *ngIf="submitted && DataDetailsForm.hasError('required','AccountExpiredDate')">Account
                        Expiry
                        Date must be selected.</small>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="formCheck2"
                            formControlName="DataStatus">
                        <label class="form-check-label" for="formCheck2">
                            Status
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="ClosePoup()">Close</button>
        <button type="button" class="btn btn-success" (click)="SaveDetails()">Save changes</button>
    </div>
</div>