<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">{{PageTitle}}</h5>
        <button type="button" class="btn-close" (click)="ClosePoup()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="DataDetailsForm">
            <div class="row">
                <div class="col-md-6">
                    <label for="RoleName">Role & Right Name</label>
                    <input formControlName="RoleName" type="text" pInputText required autofocus class="form-control"/>
                    <small class="p-error" *ngIf="submitted && DataDetailsForm.hasError('required','RoleName')">Role & Right Name is
                        required.</small>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="formCheck2" formControlName="DataStatus">
                        <label  class="form-check-label" for="formCheck2">
                            Status
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="ClosePoup()">Close</button>
        <button type="button" class="btn btn-success" (click)="SaveDetails()">Save changes</button>
    </div>
</div>