<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">{{PageTitle}}</h5>
        <button type="button" class="btn-close" (click)="ClosePoup()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <mat-stepper linear #stepper>
            <mat-step [stepControl]="LocationDetailsForm" [editable]="isEditable">
                <form [formGroup]="LocationDetailsForm">
                    <ng-template matStepLabel>Location</ng-template>
                    <div class="form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select class="form-control" placeholder="Control room"
                                        formControlName="ControlRoomId" required (selectionChange)="ControlChnage($event.value)">
                                        <mat-option *ngFor=" let ht of ControlRoomData;" [value]="ht.ControlRoomId">
                                            {{ht.ControlRoomName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="LocationDetailsForm.get('ControlRoomId').hasError('required')">
                                        Control room must be selected.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select class="form-control" placeholder="Package"
                                        formControlName="PackageId" required>
                                        <mat-option *ngFor=" let ht of PackageFilter;" [value]="ht.PackageId">
                                            {{ht.PackageName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="LocationDetailsForm.get('PackageId').hasError('required')">
                                        Package must be selected.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select class="form-control" placeholder="System" formControlName="SystemId" required>
                                        <mat-option *ngFor=" let ht of SystemTypeData;" [value]="ht.SystemId">
                                            {{ht.SystemName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="LocationDetailsForm.get('SystemId').hasError('required')">
                                        System must be selected.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select class="form-control" placeholder="Direction" formControlName="EquipmentDirectionId" required>
                                        <mat-option *ngFor=" let ht of DirectionList;" [value]="ht.Id">
                                            {{ht.Name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="LocationDetailsForm.get('EquipmentDirectionId').hasError('required')">
                                        Direction must be selected.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                         <div class="clearfix"></div>
                         <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Chainage" formControlName="EquipmentChainageNumber" autocomplete="off" required>
                                    <mat-error *ngIf="LocationDetailsForm.get('EquipmentChainageNumber').hasError('required')">
                                        Chainage must be entered.
                                    </mat-error>
                                    <mat-error *ngIf="LocationDetailsForm.get('EquipmentChainageNumber').hasError('pattern')">
                                        Chainage must be vaild.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Equipment Name" formControlName="EquipmentName" autocomplete="off" required>
                                    <mat-error *ngIf="LocationDetailsForm.get('EquipmentName').hasError('required')">
                                        Equipment Name must be entered.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Latitude" formControlName="EquipmentLatitude" autocomplete="off" required>
                                    <mat-error *ngIf="LocationDetailsForm.get('EquipmentLatitude').hasError('required')">
                                        Latitude must be entered.
                                    </mat-error>
                                    <mat-error *ngIf="LocationDetailsForm.get('EquipmentLatitude').hasError('pattern')">
                                        Latitude must be vaild.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Longitude" formControlName="EquipmentLongitude" autocomplete="off" required>
                                    <mat-error *ngIf="LocationDetailsForm.get('EquipmentLongitude').hasError('required')">
                                        Longitude must be entered.
                                    </mat-error>
                                    <mat-error *ngIf="LocationDetailsForm.get('EquipmentLongitude').hasError('pattern')">
                                        Longitude must be vaild.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                         </div>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="DeviceDetailsForm" [editable]="isEditable">
              <form [formGroup]="DeviceDetailsForm">
                <ng-template matStepLabel>Assets</ng-template>
                <div class="form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput placeholder="MacAddress" formControlName="EquipmentMacAddress" autocomplete="off" required>
                                <mat-error *ngIf="DeviceDetailsForm.get('EquipmentMacAddress').hasError('required')">
                                    MacAddress must be entered.
                                </mat-error>
                                <mat-error *ngIf="DeviceDetailsForm.get('EquipmentMacAddress').hasError('pattern')">
                                    MacAddress must be vaild.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput placeholder="Model Number" formControlName="EquipmentModelNumber" autocomplete="off" required>
                                <mat-error *ngIf="DeviceDetailsForm.get('EquipmentModelNumber').hasError('required')">
                                    Model Number must be entered.
                                </mat-error>
                            </mat-form-field>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput placeholder="Serial Number" formControlName="EquipmentSerialNumber" autocomplete="off" required>
                                <mat-error *ngIf="DeviceDetailsForm.get('EquipmentSerialNumber').hasError('required')">
                                    Serial Number must be entered.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput placeholder="Manufacturer" formControlName="EquipmentManufacturer" autocomplete="off" required>
                                <mat-error *ngIf="DeviceDetailsForm.get('EquipmentManufacturer').hasError('required')">
                                    Manufacturer must be entered.
                                </mat-error>
                            </mat-form-field>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput placeholder="Vendor" formControlName="EquipmentVendorDetail" autocomplete="off" required>
                                <mat-error *ngIf="DeviceDetailsForm.get('EquipmentVendorDetail').hasError('required')">
                                    Vendor must be entered.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput class="form-control" [matDatepicker]="picker1"
                                    placeholder="Manufacturer Date" formControlName="EquipmentManufacturerDate" required
                                    readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                                <mat-error *ngIf="DeviceDetailsForm.get('EquipmentManufacturerDate').hasError('required')">
                                    Manufacturer Date must be selected.
                                </mat-error>
                            </mat-form-field>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput class="form-control" [matDatepicker]="picker2"
                                    placeholder="Purchage Date" formControlName="EquipmentPurchageDate" required
                                    readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                                <mat-error *ngIf="DeviceDetailsForm.get('EquipmentPurchageDate').hasError('required')">
                                    Purchage Date must be selected.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput class="form-control" [matDatepicker]="picker3"
                                    placeholder="Warranty Date" formControlName="EquipmentWarrantyExpireDate" required
                                    readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                                <mat-error *ngIf="DeviceDetailsForm.get('EquipmentWarrantyExpireDate').hasError('required')">
                                    Warranty Date must be selected.
                                </mat-error>
                            </mat-form-field>
                        </div>
                     </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="DeviceCommunicationForm" [editable]="isEditable">
                <form [formGroup]="DeviceCommunicationForm">
                  <ng-template matStepLabel>Connection</ng-template>
                  <div class="form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select class="form-control" placeholder="Equipment Type" formControlName="EquipmentTypeId" required (selectionChange)="EquipmentTypeChnage($event.value)">
                                    <mat-option *ngFor=" let ht of EquipmentTypeData;" [value]="ht.EquipmentTypeId">
                                        {{ht.EquipmentTypeName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="DeviceCommunicationForm.get('EquipmentTypeId').hasError('required')">
                                    Equipment Type must be selected.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="ConnectionTypeId===1">
                            <mat-form-field>
                                <input matInput placeholder="IP-Address" formControlName="EquipmentIP" autocomplete="off" required>
                                <mat-error *ngIf="DeviceCommunicationForm.get('EquipmentIP').hasError('required')">
                                    IP-Address must be entered.
                                </mat-error>
                                <mat-error *ngIf="DeviceCommunicationForm.get('EquipmentIP').hasError('pattern')">
                                    IP-Address must be vaild.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="ConnectionTypeId===1">
                            <mat-form-field>
                                <input matInput placeholder="Port" formControlName="EquipmentPortNumber" autocomplete="off" required>
                                <mat-error *ngIf="DeviceCommunicationForm.get('EquipmentPortNumber').hasError('required')">
                                    Port must be entered.
                                </mat-error>
                                <mat-error *ngIf="DeviceCommunicationForm.get('EquipmentPortNumber').hasError('pattern')">
                                    Port must be vaild.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                  </div>
                </form>
            </mat-step>
        </mat-stepper>

       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="goBack()" *ngIf="selectedIndex>0">{{btn1}}</button>
        <button type="button" class="btn btn-success" (click)="goForward()">{{btnMain}}</button>
    </div>
</div>