<div class="mat-fab-btn" style="float: right;">
    <button mat-fab color="warn" aria-label="Close" mat-dialog-close matTooltip="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>
<form [formGroup]="DataDetailsForm">
    <h2 mat-dialog-title>{{PageTitle}}</h2>
    <div class="popupBox">
        <div class="form-row">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-select placeholder="Control Room" formControlName="ControlRoomId" required>
                        <mat-option *ngFor=" let ht of SiteList;" [value]="ht.EntryId">
                            {{ht.ControlRoomName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="DataDetailsForm.get('ControlRoomId').hasError('required')">
                        Control Room must be selected.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput placeholder="Gantry Name" formControlName="GantryName" autocomplete="off">
                    <mat-error *ngIf="DataDetailsForm.get('GantryName').hasError('required')">
                        Plaza Name must be entered.
                    </mat-error>
                    <mat-error *ngIf="DataDetailsForm.get('GantryName').hasError('pattern')">
                        {{error.AlphaNumericSingleSpace}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row">
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput placeholder="Latitude" formControlName="Latitude" autocomplete="off" required>
                    <mat-error *ngIf="DataDetailsForm.get('Latitude').hasError('required')">
                        Latitude must be entered.
                    </mat-error>
                    <mat-error *ngIf="DataDetailsForm.get('Latitude').hasError('pattern')">
                        {{error.Latitude}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput placeholder="Longitude" formControlName="Longitude" autocomplete="off" required>
                    <mat-error *ngIf="DataDetailsForm.get('Longitude').hasError('required')">
                        Longitude must be entered
                    </mat-error>
                    <mat-error *ngIf="DataDetailsForm.get('Longitude').hasError('pattern')">
                        {{error.Longitude}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row">
            <div class="col-md-6">
                <mat-checkbox [checked]="DataStatus" (change)="onChange($event)">Status</mat-checkbox>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <div align="end">
        <div *ngIf="ButtonShow==true">
            <div class="mat-fab-btn" style="float: right;">
                <button mat-fab color="primary" aria-label="Add" (click)="SaveDetails()" matTooltip="Save">
                <mat-icon>save</mat-icon>
            </button>
            </div>
        </div>
    </div>
</form>