<div class="mat-fab-btn" style="float: right;">
    <button mat-fab color="warn" aria-label="Close" mat-dialog-close matTooltip="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>
<h2 mat-dialog-title>Denomination Details [{{TotalAmount}}]</h2>
<div class="popupBox">
    <div class="table-responsive">
        <div class="table-responsive">
            <p-table #dt [value]="DenominationData" styleClass="p-datatable-gridlines" dataKey="EntryId" editMode="row" [rowHover]="true" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Type</th>
                        <th>Count</th>
                        <th>Amount</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr style="font-size: 10px;">
                        <td> &#8377; {{rowData.BaseValue}}</td>
                        <td> {{rowData.MoneyCount}}</td>
                        <td>
                            &#8377; {{rowData.BaseValue*rowData.MoneyCount}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div align="end">
    
</div>


