<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <a href="javascript:void(0);" (click)="NewEntry()" class="btn btn-success mb-2">
                        <i class="mdi mdi-plus me-2"></i> Add Manufacture
                    </a>
                    <div class="dropdown d-inline-block float-right">
                        <span class="p-input-icon-left">
                            <i class="mdi mdi-text-box-search-outline"></i>
                            <input type="text" pInputText class="form-control" (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                        </span>
                    </div>
                </div>
                <div class="table-responsive mt-3 listtableheight">
                    <p-table #dt [value]="DevicesData" [rowHover]="true" [scrollable]="true" [resizableColumns]="true"
                        styleClass="table table-centered datatable dt-responsive nowrap"
                        selectionMode="single" 
                        [globalFilterFields]="['ManufactureName','ManufactureMobileNumber','ManufactureEmailId','ManufactureAddress',
                        'DataStatusName']">
                        <ng-template pTemplate="header" styleClass="thead-light">
                            <tr>
                                <th>S. No.</th>
                                <th pSortableColumn="ManufactureName">Name <p-sortIcon field="ManufactureName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="ManufactureMobileNumber">Mobile Number <p-sortIcon field="ManufactureMobileNumber"></p-sortIcon>
                                </th>
                                <th pSortableColumn="ManufactureEmailId">Email Id <p-sortIcon field="ManufactureEmailId"></p-sortIcon>
                                </th>
                                <th pSortableColumn="ManufactureAddress">Address <p-sortIcon field="ManufactureAddress"></p-sortIcon>
                                </th>
                                <th pSortableColumn="DataStatusName">Status <p-sortIcon
                                        field="DataStatusName"></p-sortIcon>
                                </th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                            <tr [pSelectableRow]="rowData">
                                <td>{{i+1}}</td>
                                <td>{{rowData.ManufactureName}}</td>
                                <td>{{rowData.ManufactureMobileNumber}}</td>
                                <td>{{rowData.ManufactureEmailId}}</td>
                                <td>{{rowData.ManufactureAddress}}</td>
                                <td>{{rowData.DataStatusName}}</td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0);" (click)="onRowEditInit(rowData)"
                                        class="me-3 text-primary" data-bs-container="#tooltip-container0"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                        <i class="mdi mdi-pencil font-size-18"></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>