[Unit]
Description=My App Service
After=network.target

[Service]
User=srb
Group=srb
WorkingDirectory=/opt/soft/AvccApp
ExecStart=/home/srb/miniconda3/envs/pysy/bin/python app.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
