<div class="top-bar">
    <div class="row d-flex align-items-center">
        <div class="col-md-8  col-xs-12">
            <p><i class="arrow right"></i><i class="arrow right"></i> Dashboard</p>
        </div>
        <div class="col-md-3  col-xs-12">

        </div>
        <div class="col-md-1  col-xs-12">

        </div>
    </div>
</div>
<!-- <video src="rtsp://abc:admin123@192.168.1.64:554/Streaming/Channels/101" height="200px">
    Your browser does not support the VIDEO tag and/or RTP streams.
</video> -->
<div class="chart-responsive">
    <div class="chart-wrapper">
        <nav class="navbar navbar-light bg-custom nav-custom">
            <a class="navbar-brand">Hourly Traffic Volume</a>
        </nav>
        <canvas *ngIf="LinechartReady" height="50vh" #TraficCount baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
        </canvas>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-md-6  col-xs-12">
            <nav class="navbar navbar-light bg-custom nav-custom">
                <a class="navbar-brand">Transaction Type Traffic Volume</a>
            </nav>
            <canvas *ngIf="TranTypechartReady" height="120vh" #TranTypeCount baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </div>
        <div class="col-md-6  col-xs-12">
            <nav class="navbar navbar-light bg-custom nav-custom">
                <a class="navbar-brand">Average Lane Revenue</a>
            </nav>
            <canvas *ngIf="LanechartReady" height="120vh" #LaneRevenue baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
            </canvas>
        </div>

    </div>

  
</div>