<div class="d-flex align-items-center">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2" >
                <span [ngClass]="data.success==true ? 'text-success':'text-danger'">
                    <i class="fa" [ngClass]="data.success==true ? 'mdi mdi-check-decagram-outline':'mdi mdi-cancel  '" aria-hidden="true"></i>
                </span>
            </div>
            <div class="col-sm-10 align-items-left">
                <div *ngFor="let item of items">{{item.AlertMessage}}</div>
            </div>
        </div>
    </div>
</div>