<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <a href="javascript:void(0);" (click)="NewEntry()" class="btn btn-success mb-2">
                            <i class="mdi mdi-plus me-2"></i> Add System Vehicle Class
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown d-inline-block float-right">
                            <span class="p-input-icon-left">
                                <i class="mdi mdi-text-box-search-outline"></i>
                                <input type="text" pInputText class="form-control"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-3 listtableheight">
                    <p-table #dt [value]="DevicesData" [rowHover]="true" [scrollable]="true" [resizableColumns]="true"
                        styleClass="table table-centered datatable dt-responsive nowrap" selectionMode="single"
                        [globalFilterFields]="['SystemVehicleClassName','SystemVehicleClassDescription',
                        'SystemSubClassNames','PermissibleWeight','DataStatusName','AvcVehicleClassName']">
                        <ng-template pTemplate="header" styleClass="thead-light">
                            <tr>
                                <th pSortableColumn="SystemVehicleClassId">Id <p-sortIcon
                                        field="SystemVehicleClassId"></p-sortIcon>
                                </th>
                                <th pSortableColumn="SystemVehicleClassName">Name <p-sortIcon
                                        field="SystemVehicleClassName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="SystemVehicleClassDescription">Description <p-sortIcon
                                        field="SystemVehicleClassDescription"></p-sortIcon>
                                </th>
                                <th pSortableColumn="SystemSubClassNames">System Sub Class <p-sortIcon
                                        field="SystemSubClassNames"></p-sortIcon>
                                </th>
                                <th pSortableColumn="AvcVehicleClassName">AVC Class <p-sortIcon
                                        field="AvcVehicleClassName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="PermissibleWeight">Permissible Weight <p-sortIcon
                                        field="PermissibleWeight"></p-sortIcon>
                                </th>
                                <th pSortableColumn="DataStatusName">Status <p-sortIcon
                                        field="DataStatusName"></p-sortIcon>
                                </th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                            <tr [pSelectableRow]="rowData">
                                <td>{{rowData.SystemVehicleClassId}}</td>
                                <td>{{rowData.SystemVehicleClassName}}</td>
                                <td>{{rowData.SystemVehicleClassDescription}}</td>
                                <td>{{rowData.SystemSubClassNames}}</td>
                                <td>{{rowData.AvcVehicleClassName}}</td>
                                <td>{{rowData.PermissibleWeight}}</td>
                                <td>{{rowData.DataStatusName}}</td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0);" (click)="onRowEditInit(rowData)"
                                        class="me-3 text-primary" data-bs-container="#tooltip-container0"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                        <i class="mdi mdi-pencil font-size-18"></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>