.theam-bg {
    background: #011b41 !important;
}

.main-content {
    margin-left: 0px !important;
    height: 100vh;
}

#page-topbar {
    z-index: 1000 !important;
    height: 55px !important
}

.logout {
    cursor: pointer;
}

.navbar-header {
    height: 55px !important;
    border-bottom: 1px solid #eaedf1 !important;
    width: 100%;
    overflow: hidden;
}

.navbar-header span {
    color: #fff;
    font-size: 16px;
}

.wt-100 {
    width: 100% !important;
}

.wt-90 {
    width: 90% !important;
}

.pd-tb-5 {
    padding: 5px 0px 5px 0px !important;
}

.pd-tb-4 {
    padding: 4px 0px 4px 0px !important;
}

.page-content {
    padding: 0px !important;
    height: calc(100vh - 55px) !important;
}

.main-body {
    padding: 0 !important;
    height: calc(100vh - 55px);
    /* Full viewport height */
    display: flex;
    flex-direction: column;
}

.main-body .body-top-part {
    padding: 0 !important;
    height: calc(60vh - 33px);
    /* 60% of remaining height minus adjustment */
    width: 100%;
    border-bottom: 1px solid #eaedf1 !important;
}

.main-body .body-bottom-part {
    padding: 0 !important;
    height: calc(40vh - 22px);
    /* 40% of remaining height minus adjustment */
    width: 100%;
    border-bottom: 1px solid #eaedf1 !important;
}

.main-body .body-bottom-part .p-datatable-wrapper {
    height: calc(40vh - 40px) !important;
}

.main-body .body-footer-part {
    padding: 0 !important;
    height: 55px;
    /* Fixed height for the footer */
    width: 100%;
    flex-shrink: 0;
    /* Prevent shrinking */
}

.main-body .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}


.main-body .row>* {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

fieldset {
    border: 2px solid #ccc;
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
    margin-top: 10px;
    min-height: 95%;
}

legend {
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: -0.8em;
    left: 15px;
    background: #011b41;
    width: auto;
    height: auto;
}

.col-form-label {
    color: #fff;
}

.p-listbox {
    background: transparent !important;

}

.p-listbox .p-listbox-list .p-listbox-item {
    color: #fff !important;
    padding: 4px 0px 4px 0px;
    border-bottom: 1px solid;
}

.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    color: #1D4ED8 !important;
}

.p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled):hover {
    color: #495057 !important;
}

.p-inputtext {
    padding: 2px 2px 2px 2px;
}

.text-white {
    color: #fff !important;
}

.radio-group {
    display: contents;
    align-items: center;
    margin-right: 20px;
    /* Adjust spacing between radio button groups */
}

.p-radiobutton {
    margin: 8px;
}

.lbl {
    background-color: transparent !important;
    color: #fff !important;
}

.w-50 {
    width: 50% !important;
}

.p-inputnumber-input {
    width: 80% !important;
}

.p-inputtext:enabled:focus {
    box-shadow: none !important;
}

.trans-box {
    font-size: 12px;
}

.table-responsive {
    overflow: hidden !important;
}

.listtableheight {
    height: 60vh !important
}

.p-datatable .p-datatable-thead>tr>th {
    padding: 5px 0px 5px 0px !important;
    font-size: 10px;
    border-width: 0px 1px 1px 1px;
    background: #011b41 !important;
    color: #fff !important;
}

.p-datatable-table .p-datatable-tbody tr td {
    padding: 5px 0px 5px 0px !important;
    font-size: 9px;
    border-width: 1px;
    background: #011b41 !important;
    color: #fff !important;
}

.p-datatable-table .p-datatable-tbody tr td:focus {
    background: #EFF6FF !important;
    color: #1D4ED8 !important;
}

.p-datatable .p-datatable-tbody>tr:focus {
    outline: 0.15rem solid #BFDBFE;
    outline-offset: 0.15rem;

}




.icon-row {
    display: flex;
    justify-content: center;
    /* Center the icons in the row */
    gap: 20px;
    /* Space between each icon item */
}

.icon-item {
    display: flex;
    flex-direction: column;
    /* Stack the icon and label vertically */
    align-items: center;
    /* Center the icon and label horizontally */
    text-align: center;
}

.icon-item i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon-item i:hover {
    color: #007bff;
}

.icon-label {
    margin-top: 0px;
    font-size: 9px;
    color: #fff;
}

/****/
.icon-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    /* Add some space between icons */
}

.icon-item i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.txt-green {
    color: #00A36C !important;
}

.txt-yellow {
    color: #C0A300 !important;
}

.txt-red {
    color: #cd4242 !important;
}

.fleet-popup .icon-item i {
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.fleet-popup .icon-label {
    margin-top: 0px;
    font-size: 32px;
    color: #fff;
}

.live-stream {
    min-width: 98%;
    max-width: 98%;
    height: calc(50vh - 110px)
}

.p-dropdown {
    width: 100% !important;
    border: none !important;
}


/* .qr-img {
    width: 100%;
    height: 60vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
} */

.qr-img {
  display: block;
  margin: 0 auto;
  width: 98%;
  max-height: 60vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  object-fit: contain;
  background-color: #fff;
}

.timer-warning {
  color: #ff3b30;
  font-weight: bold;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0.3; }
  100% { opacity: 1; }
}