audio::-webkit-media-controls-mute-button { display: none !important; } audio::-webkit-media-controls-volume-slider { display: none !important; }

.col-4{
    padding-top:0px !important;
    padding-bottom:0px !important;
}