<div class="row" *ngIf="DataView==1; else notaccess">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="accordion" class="data-filter">
                    <div class="card-header">
                        <div class="dropdown d-inline-block">
                            <h5 class="mb-0">
                                <a href="javascript:void(0);" class="mb-2" (click)="ExColl($event)">
                                    <i class="mdi mdi-arrow-up-circle filter-icon-class" id="datafilterIcon"></i>
                                </a>
                                <span class="rc">Record:{{TotalCount}}</span>
                            </h5>
                        </div>
                        <div class="dropdown d-inline-block float-right">
                            <span class="p-input-icon-left">
                                <i class="fa fa-search"></i>
                                <input type="text" pInputText class="form-control"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                            </span>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <form [formGroup]="FilterDetailsForm">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="StartDateTime">Start Date Time</label>
                                            <p-calendar [showTime]="true" [showSeconds]="true" [hourFormat]="'24'"
                                                pInputText autofocus class="form-control"
                                                formControlName="StartDateTime" [readonlyInput]="true"
                                                dateFormat="dd-M-yy"></p-calendar>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="EndDateTime">End Date Time</label>
                                            <p-calendar [showTime]="true" [showSeconds]="true" [hourFormat]="'24'"
                                                pInputText autofocus class="form-control" formControlName="EndDateTime"
                                                [readonlyInput]="true" dateFormat="dd-M-yy"></p-calendar>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="ControlRoomFilterList">Control Room</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="ControlRoomFilterList"
                                                inputId="ControlRoomFilterList" [options]="ControlRoomData"
                                                (onChange)="FillPackages()" optionLabel="DataName" optionValue="DataId"
                                                placeholder="Control Room">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="PackageFilterList">Package</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="PackageFilterList"
                                                inputId="PackageFilterList" [options]="PackageFilter"
                                                (onChange)="FillChainage()" optionLabel="DataName" optionValue="DataId"
                                                placeholder="Package">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="ChainageFilterList">Chainage</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="ChainageFilterList"
                                                inputId="ChainageFilterList" [options]="ChainageFilter"
                                                optionLabel="DataName" optionValue="DataValue" placeholder="Chainage">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="DirectionFilterList">Direction</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="DirectionFilterList"
                                                inputId="DirectionFilterList" [options]="DirectionList"
                                                optionLabel="DataName" optionValue="DataValue" placeholder="Direction">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="EventFilterList">Event Type</label>
                                            <p-multiSelect appendTo="body" class="form-control select2"
                                                [style]="{'width':'100%'}" formControlName="EventFilterList"
                                                inputId="EventFilterList" [options]="EventData"
                                                optionLabel="EventTypeName" optionValue="EventTypeId"
                                                placeholder="Event Type">
                                            </p-multiSelect>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 align-self-center">
                                    <button type="button" class="btn btn-info btn-circle btn-lg btn-search"
                                        (click)="SearchEntry()">
                                        <i class="mdi mdi-feature-search-outline"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive mt-3 listtablepagging listtablepadding" id="tbl">
                    <p-table #dt [value]="callHistory" [rowHover]="true" [scrollable]="true" [resizableColumns]="true"
                        [showCurrentPageReport]="true" [rows]="50" [paginator]="true"
                        [globalFilterFields]="['CallTypeName','CallerNumber','CalleeNumber','CallDuration','StartDateTimeStamp']">
                        <ng-template pTemplate="header" styleClass="thead-light">
                            <tr>
                                <th>S. No.</th>
                                <th pSortableColumn="CallTypeName">Call Type<p-sortIcon
                                        field="CallTypeName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="CallerNumber">Caller<p-sortIcon field="CallerNumber"></p-sortIcon>
                                </th>
                                <th pSortableColumn="CalleeNumber">Reviver<p-sortIcon field="CalleeNumber"></p-sortIcon>
                                </th>
                                <th pSortableColumn="StartDateTimeStamp">Date Time<p-sortIcon
                                        field="StartDateTimeStamp"></p-sortIcon>
                                </th>
                                <th pSortableColumn="CallDuration">Duration<p-sortIcon
                                        field="CallDuration"></p-sortIcon>
                                </th>
                                <th>Recording</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{rowData.CallTypeName}}</td>
                                <td>{{rowData.CallerNumber}} ({{rowData.CallerChainageName}} {{rowData.CallerDirectionName}})</td>
                                <td>{{rowData.CalleeNumber}} ({{rowData.CalleeChainageName}} {{rowData.CalleeDirectionName}})</td>
                                <td>{{rowData.StartDateTimeStamp}}</td>
                                <td>{{rowData.CallDuration}}</td>
                                <td>
                                    <audio style="width: 100px;" controls
                                        *ngIf="rowData.CallDuration!=0 && rowData.RecordingFileName!=''">
                                        <source [src]=this.PbxRecordingPath+rowData.RecordingFileName type="audio/wav">
                                        Your browser does not support the audio tag.
                                    </audio>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #notaccess>
    <h4 style="margin: 15% 0 15% 30%;">You don't have access of this page! <br />Kindly contact Administrator, Thanks
    </h4>
</ng-template>