<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <a href="javascript:void(0);" (click)="SaveDetails()" class="btn btn-success mb-2">
                        <i class="mdi mdi-content-save-all-outline me-2"></i> Save changes
                    </a>
                    <div class="dropdown d-inline-block float-right">
                        <span class="p-input-icon-left">
                            <i class="fa fa-search"></i>
                            <input type="text" pInputText class="form-control"
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                        </span>
                    </div>
                </div>
                <div class="table-responsive mt-3 listtableheight listtablepadding">
                    <p-table #dt [value]="WeatherConfigData" [rowHover]="true" [scrollable]="true"
                        [resizableColumns]="true" styleClass="table table-centered datatable dt-responsive nowrap"
                        [globalFilterFields]="['AirTemperatureMin','AirTemperatureMax','DataStatusName']">
                        <ng-template pTemplate="header" styleClass="thead-light">
                            <tr>
                                <th class="bold">S. No.</th>
                                <th pSortableColumn="AirTemperatureMin">Air Temperature Min <p-sortIcon
                                        field="AirTemperatureMin"></p-sortIcon>
                                </th>
                                <th pSortableColumn="AirTemperatureMax" style="text-align: center;">Air Temperature Max
                                    <p-sortIcon field="AirTemperatureMax"></p-sortIcon>
                                </th>
                                <th pSortableColumn="HumidityRH" style="text-align: center;">Humidity RH <p-sortIcon
                                        field="HumidityRH"></p-sortIcon>
                                </th>
                                <th pSortableColumn="HumidityAH" style="text-align: center;">Humidity AH<p-sortIcon
                                        field="HumidityAH"></p-sortIcon>
                                </th>
                                <th pSortableColumn="Visibility" style="text-align: center;">Visibility <p-sortIcon
                                        field="Visibility"></p-sortIcon>
                                </th>
                                <th pSortableColumn="WindDirectionValue" style="text-align: center;">WindDirection Value
                                    <p-sortIcon field="WindDirectionValue"></p-sortIcon>
                                </th>
                                <th pSortableColumn="WindSpeedValue" style="text-align: center;">Wind Speed Value
                                    <p-sortIcon field="WindSpeedValue"></p-sortIcon>
                                </th>
                                <th pSortableColumn="RainValue" style="text-align: center;">RainValue <p-sortIcon
                                        field="RainValue"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                            <tr>
                                <td>{{i+1}}</td>
                                <td style="text-align: center;  width:200px;">
                                    <input class="form-control" type="number" [(ngModel)]="rowData.AirTemperatureMin">
                                </td>
                                <td style="text-align: center;  width:200px;">
                                    <input class="form-control" type="number" [(ngModel)]="rowData.AirTemperatureMax">
                                </td>
                                <td style="text-align: center;  width:200px;">
                                    <input class="form-control" type="number" [(ngModel)]="rowData.HumidityRH">
                                </td>
                                <td style="text-align: center;  width:200px;">
                                    <input class="form-control" type="number" [(ngModel)]="rowData.HumidityAH">
                                </td>
                                <td style="text-align: center;  width:200px;">
                                    <input class="form-control" type="number" [(ngModel)]="rowData.Visibility">
                                </td>
                                <td style="text-align: center;  width:200px;">
                                    <input class="form-control" type="number" [(ngModel)]="rowData.WindDirectionValue">
                                </td>
                                <td style="text-align: center;  width:200px;">
                                    <input class="form-control" type="number" [(ngModel)]="rowData.WindSpeedValue">
                                </td>
                                <td style="text-align: center;  width:200px;">
                                    <input class="form-control" type="number" [(ngModel)]="rowData.RainValue">
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>