/* You can add global styles to this file, and also import other style files */
/* https://pictogrammers.com/library/mdi/ */
/* #D6D8D9 */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D6D8D9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #D6D8D9;
}

/* tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
      border-color: #c3c3c3 !important;
      padding: 0.75rem 0.75rem !important;
  }
  
  tbody,
  td {
      color: #47484a !important;
  } */

.mat-mdc-form-field {
    display: flex !important;
    background-color: transparent !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
}

.mat-mdc-form-field-infix {
    background-color: transparent !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.mat-mdc-form-field,
.mat-mdc-floating-label {
    background-color: transparent !important;
    -moz-osx-font-smoothing: none !important;
    -webkit-font-smoothing: none !important;
    font-family: var(--bs-body-font-family) !important;
    font-size: var(--bs-body-font-size) !important;
    line-height: var(--bs-body-line-height) !important;
    font-weight: var(--mdc-typography-body1-font-weight, 400);
    letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
    text-transform: none !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.47rem 0.75rem !important;
    font-size: .875rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.mat-form-field-underline {
    background-color: #fff !important;
}

.mat-form-field-ripple {
    background-color: #fff !important;
}

.vertical-collpsed .child-menu {
    color: #495057 !important;
}

.vertical-collpsed #sidebar-menu ul li ul.sub-menu li a:hover {
    color: #f68e2b !important
}


.vertical-collpsed .child-menu:hover {
    color: #f68e2b !important
}


.p-datatable-table tbody,
tr {
    border-bottom-color: #c3c3c3 !important;
    border-bottom-width: 1px !important;
}


#sidebar-menu ul li ul.sub-menu li a:before {
    content: none !important
}

@media (max-width:993px) {
    .navbar-brand-box {
        padding: 0 0.5rem;
        text-align: center;
        width: 70px !important;
    }
}

.m-active a {
    color: #f68e2b !important
}

.m-active i {
    color: #f68e2b !important
}

.p-error {
    color: #f44336;
}

.small,
small {
    font-size: 80%;
    font-weight: 400;
}

.p-dropdown {
    background: #fff;
    border: none !important;
    transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s;
    border-radius: 3px;
    width: 100%;
}

.p-dropdown-items-wrapper {
    max-height: 200px;
    overflow: hidden;

}

.p-dropdown-items {
    margin: 0;
    padding: .5rem 0;
    list-style-type: none;
    background: #fff !important;
    border: 1px solid #ccc5c5 !important;
    border-top: none !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 0;
    padding: 0.5rem 1rem;
    border: 0;
    color: #000;
    background: #fff;
    transition: box-shadow .2s;
    border-radius: 0;
}

.modal-body {
    min-height: 230px !important;
    overflow-x: auto !important;
}

.modal-footer {
    padding: 0px !important;
}


.form-data {
    height: 30vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.equipment-form-data {
    height: 46vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ims-form-data {
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.form-check {
    margin-top: 35px;
}

.custom-cal {
    padding: 0px !important;
    height: 40px !important;
}

.form-check-input {
    background-color: #b7bdbb !important;
    border-color: #b7bdbb !important;
}

.form-check-input:checked {
    background-color: #23c58f !important;
    border-color: #23c58f !important;
}

.p-datatable-scrollable-table>.p-datatable-thead {
    background: #fff !important;
}

.p-calendar .p-datepicker {
    background: #fff !important;

}

.p-datepicker-calendar-container {
    background: #fff !important;
}

.p-calendar {
    min-width: 100% !important;
}

.p-datepicker-trigger {
    color: #fff !important;
    background: #23C58F !important;
    border: none !important;
}

.dropdown-menu a {
    cursor: pointer;
}

.p-password,
.p-inputtext {
    width: 100%;
}

.p-input-icon-right>.p-icon-wrapper {
    left: 98%;
}

.p-component {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    font-weight: 400;
}

.p-fileupload .p-fileupload-buttonbar {
    background: #f8f9fa;
    padding: 1px;
    color: #000;
    border: 1px solid #dee2e6;
    border-bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.p-fileupload {
    padding: 10px 0px 10px 0px !important;
}

.p-fluid .p-fileupload .p-button {
    width: auto;

}

.p-fileupload .p-fileupload-buttonbar .p-button {
    margin-right: 0.5rem;
    height: 36px !important;
}

.p-button.p-fileupload-choose {
    position: relative;
    overflow: hidden;
}

.p-button {
    color: #fff;
    background: #1891fc;
    border: 1px solid #000;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s;
    border-radius: 3px;
}

.p-datatable-table tbody,
tr {
    font-weight: 600;
}

.p-datatable-wrapper {
    max-height: 56vh !important
}

.page-content {
    height: 100vh;
}

.cdk-overlay-container {
    z-index: 1001 !important;
}

.modal-header {
    padding: 12px 12px !important
}

.hyperlink {
    cursor: pointer;
    color: #1891fc;
    text-decoration: underline;
}

.outer-progressbar {
    background-color: rgb(231, 234, 231);
    width: 100%;
    border: solid 1px #cfcdcd8f;
}

.inner-progressbar {
    background-color: rgb(96, 95, 94);
    color: black;
}

#page-topbar {
    z-index: 1000 !important;
    height: 55px !important
}

.navbar-header {
    height: 55px !important
}

.logo {
    line-height: 55px !important;
}

.logo img {
    height: 50px !important;
    margin-top: 11px !important;
}

.navbar-brand-box {
    padding: 0px !important;
}

.vertical-menu {
    top: 55px !important;
}

.page-content {
    padding: calc(55px) calc(24px / 2) 60px calc(24px / 2);
}

.ims-tab {
    height: 60vh !important
}

.footer {
    height: 30px !important;
    padding: 8px calc(24px / 2) !important;
}

.listheight {
    width: 100%;
    height: 74vh;
}

.ccard {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.ccard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: 1rem;
}

.ccard .card-body {
    height: 65vh;
}

.p-treenode-content {
    padding: 5px;
}

.p-tree-container li {
    background-color: #ebeff1 !important;
    transition: background-color .15s;
}

.p-treenode-label {
    font-size: .9em !important;
    font-weight: 600 !important;
    color: #416578 !important;
}

#availableDataList,#FillDataList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.parentNode {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.parentNode::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.parentNode-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.nested-active {
    list-style-type: none;
    display: block;
    background-color: #ebeff1 !important;
    transition: background-color .15s;
}

.nested-active li{
    font-size: .9em !important;
    font-weight: 600 !important;
    color: #416578 !important;
}

.bold{
    font-weight: bolder;
}

@media (max-height: 550px) {
    .page-content-wrapper {
        margin-top: -115px !important;
        height: 81vh;
    }

    .listtableheight {
        height: 60vh !important
    }

    .p-datatable-wrapper {
        max-height: 60vh !important;
    }

    .ims-tab {
        height: 56vh !important
    }

    .p-datatable-table tbody,
    tr {
        font-size: 11px !important;
        font-weight: 600;
    }

    .p-datatable-table tbody tr td {
        padding: 0px 0px 0px 0px !important;
    }
}

@media (max-height: 650px) and (min-height: 551px) {
    .page-content-wrapper {
        margin-top: -115px !important;
        height: 81vh;
    }

    .listtableheight {
        height: 64vh !important
    }

    .p-datatable-wrapper {
        max-height: 63vh !important;
    }

    .ims-tab {
        height: 60vh !important
    }

    .p-datatable-table tbody,
    tr {
        font-size: 11px !important;
        font-weight: 600;
    }

    .p-datatable-table tbody tr td {
        padding: 0px 0px 0px 0px !important;
    }
}

@media (max-height: 720px) and (min-height: 651px) {
    .page-content-wrapper {
        margin-top: -115px !important;
        height: 81vh;
    }

    .listtableheight {
        height: 69vh !important
    }

    .p-datatable-wrapper {
        max-height: 69vh !important;
    }

    .ims-tab {
        height: 66vh !important
    }

    .p-datatable-table tbody,
    tr {
        font-size: 11px !important;
        font-weight: 600;
    }

    .p-datatable-table tbody tr td {
        padding: 0px 0px 0px 0px !important;
    }
}