<div class="top-bar">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 d-md-block d-none">
            <p><i class="arrow right"></i><i class="arrow right"></i> Gantry Mapping(Journey)</p>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
<div class="table-responsive table-height-master">
    <p-table #dt [value]="DevicesData" dataKey="EntryId" editMode="row" [rowHover]="true" 
    [scrollable]="true" [style]="{'min-width':'1100px'}" styleClass="p-datatable-striped p-datatable-gridlines"
    [globalFilterFields]="['EntryGantryName','ExitGantryName','GantryDistance','DataStatusName']">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>S. No.</th>
                <th pSortableColumn="EntryGantryName">Entry Gantry <p-sortIcon field="EntryGantryName"></p-sortIcon>
                </th>
                <th pSortableColumn="ExitGantryName">Exit Gantry <p-sortIcon field="ExitGantryName"></p-sortIcon>
                </th>
                <th>Journey</th>
                <th pSortableColumn="GantryDistance">Distance <p-sortIcon field="GantryDistance"></p-sortIcon>
                </th>
                <th pSortableColumn="DataStatusName">Status <p-sortIcon field="DataStatusName"></p-sortIcon>
                </th>
                <th style="text-align: center;" *ngIf="DataUpdate==1">Update</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
            <tr style="font-size: 10px;" [pEditableRow]="rowData">
                <td>{{ri+1}}</td>
                <td>{{rowData.EntryGantryName}}</td>
                <td>{{rowData.ExitGantryName}}</td>
                <td>{{rowData.EntryGantryName}}->{{rowData.ExitGantryName}}</td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber [(ngModel)]="rowData.GantryDistance" suffix=" KM" mode="decimal" [minFractionDigits]="3" [maxFractionDigits]="3"></p-inputNumber>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.GantryDistance}} KM
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="statuses" [(ngModel)]="rowData.DataStatus" [style]="{'width':'100%'}"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.DataStatusName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center;" *ngIf="DataUpdate==1">
                    <i *ngIf="!editing" class="icon-holder c-blue-500 pi pi-pencil p-button-rounded p-button-text" pInitEditableRow (click)="onRowEditInit(rowData , ri)" matTooltip="Click to edit {{rowData.EntryGantryName}}->{{rowData.ExitGantryName}}"></i>
                    <i *ngIf="editing" class="icon-holder c-success-500 pi pi-check p-button-rounded p-button-text" pSaveEditableRow (click)="onRowEditSave(rowData , ri)"></i>
                    <i *ngIf="editing" class="icon-holder c-danger-500 pi pi-times p-button-rounded p-button-text" pCancelEditableRow (click)="onRowEditCancel(rowData , ri)" style="padding-left: 10px;"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>