<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <!-- *ngIf="UserTypeId==0 && UserTypeId==4 " -->
                    <a href="javascript:void(0);" (click)="NewEntry(3)" class="btn btn-success mb-2 mr-2">
                        <i class="mdi mdi-plus me-2"></i> New Float Porcess
                    </a>
                    <a href="javascript:void(0);" (click)="NewEntry(4)" class="btn btn-primary mb-2 mr-2">
                        <i class="mdi mdi-plus me-2"></i> Mid Float Porcess
                    </a>
                    <a href="javascript:void(0);" (click)="NewEntry(5)" class="btn btn-secondary mb-2 mr-2">
                        <i class="mdi mdi-plus me-2"></i> End Float Porcess
                    </a>
                    <div class="dropdown d-inline-block float-right">
                        <span class="p-input-icon-left">
                            <i class="mdi mdi-text-box-search-outline"></i>
                            <input type="text" pInputText class="form-control"
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                        </span>
                    </div>
                </div>
                <div class="table-responsive mt-3 listtableheight">
                    <p-table #dt [value]="DevicesData" [rowHover]="true" [scrollable]="true" [resizableColumns]="true"
                        styleClass="table table-centered datatable dt-responsive nowrap" selectionMode="single"
                        [globalFilterFields]="['PlazaName','LaneNumber','ShiftNumber','ShiftTimining','FloatTransactionTypeName','ReceiptNumber','AssignedByLoginId','AssignedToLoginId','TransactionAmount','TransactionDateStamp']">
                        <ng-template pTemplate="header" styleClass="thead-light">
                            <tr>
                                <th>S. No.</th>
                                <th pSortableColumn="LaneNumber">Lane <p-sortIcon field="LaneNumber"></p-sortIcon>
                                </th>
                                <th pSortableColumn="ShiftNumber">Shift<p-sortIcon field="ShiftNumber"></p-sortIcon>
                                </th>
                                <th pSortableColumn="TransactionDateStamp">Date<p-sortIcon
                                        field="TransactionDateStamp"></p-sortIcon>
                                </th>
                                <th pSortableColumn="ShiftTimining">Timing<p-sortIcon
                                        field="ShiftTimining"></p-sortIcon>
                                </th>
                                <th pSortableColumn="FloatTransactionTypeName">Type<p-sortIcon
                                        field="FloatTransactionTypeName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="TransactionAmount">Amount<p-sortIcon
                                        field="TransactionAmount"></p-sortIcon>
                                </th>
                                <th pSortableColumn="AssignedByLoginId">Assigned By<p-sortIcon
                                        field="AssignedByLoginId"></p-sortIcon>
                                </th>
                                <th pSortableColumn="AssignedToLoginId">Assigned To<p-sortIcon
                                        field="AssignedToLoginId"></p-sortIcon>
                                </th>
                                <th>Receipt</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                            <tr [pSelectableRow]="rowData">
                                <td>{{i+1}}</td>
                                <td>{{rowData.LaneNumber}}</td>
                                <td>{{rowData.ShiftNumber}}</td>
                                <td>{{rowData.TransactionDateStamp | date:'dd-MMM-yyyy'}}</td>
                                <td>{{rowData.ShiftTimining}}</td>
                                <td>{{rowData.FloatTransactionTypeName}}</td>
                                <td class="td-amt">{{rowData.TransactionAmount | currency:'INR':true:'1.0-2'}}</td>
                                <td>{{rowData.AssignedByLoginId}}</td>
                                <td>{{rowData.AssignedToLoginId}}</td>
                                <td>{{rowData.ReceiptNumber}}</td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0);" (click)="onReceiptDoanload(rowData.ReceiptNumber)"
                                        class="me-3 text-primary" data-bs-container="#tooltip-container0"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="download">
                                        <i class="mdi mdi-file-pdf-box font-size-18"></i>
                                    </a>
                                </td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0);" (click)="onRowEditInit(rowData)"
                                        class="me-3 text-primary" data-bs-container="#tooltip-container0"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                        <i class="mdi mdi-pencil font-size-18"></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>