<div class="top-bar">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 d-md-block d-none">
            <p><i class="arrow right"></i><i class="arrow right"></i> Control Room Configuration</p>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-md-end justify-content-between pheader">
                <i *ngIf="DataAdd==1" class="pi pi-plus-circle layout-menuitem-icon" matTooltip="Create new entry" (click)="NewEntry()"></i>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive table-height-master">
    <p-table #dt sortField="EntryId" [sortOrder]="-1" [value]="DevicesData" [rowHover]="true" [scrollable]="true" 
    [resizableColumns]="true" [style]="{'min-width':'1100px'}" styleClass="p-datatable-striped p-datatable-gridlines"
    [globalFilterFields]="['EntryId','ControlRoomName','DataStatusName']">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>S. No.</th>
                <th pSortableColumn="EntryId">Contol Room Id <p-sortIcon field="EntryId"></p-sortIcon>
                </th>
                <th pSortableColumn="ClientName">Control Room Name <p-sortIcon field="ClientName"></p-sortIcon>
                </th>
                <th pSortableColumn="DataStatusName">Status <p-sortIcon field="DataStatusName"></p-sortIcon>
                </th>
                <th style="text-align: center;">Device Type</th>
                <th style="text-align: center;" *ngIf="DataUpdate==1">Update</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
            <tr style="font-size: 10px;">
                <td>{{i+1}}</td>
                <td>{{rowData.EntryId}}</td>
                <td>{{rowData.ControlRoomName}}</td>
                <td>{{rowData.DataStatusName}}</td>
                <td style="text-align: center;">
                    <i *ngIf="DataUpdate==1" class="icon-holder c-blue-500 fa fa-list-ol" (click)="onDeviceTypeList(rowData)"></i>
                    <i *ngIf="DataUpdate!=1" class="icon-holder c-disbale-500 fa fa-list-ol" (click)="onDeviceTypeList(rowData)"></i>
                </td>
                <td style="text-align: center;" *ngIf="DataUpdate==1">
                    <i class="icon-holder c-blue-500 pi pi-pencil" (click)="onRowEditInit(rowData)"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
