USE [ATMSv1]
GO
/****** Object:  StoredProcedure [dbo].[USP_VehicleClassInsertUpdate]    Script Date: 03-10-2023 18:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_Vms_InsertUpdate] 
@MessageId	smallint,
@VmsIds varchar(25),
@MediaPath varchar(25),
@FormatId decimal(5,2),
@DisplayTimout decimal(5,2),
@ValidTillDate datetime,
@UserId bigint,
@CDateTime DateTime

AS
BEGIN
	DECLARE @MenuId smallint=8;
	DECLARE @CVal nvarchar(4000)
	DECLARE @PVal nvarchar(4000)
	CREATE TABLE #Temp(AlertMessage varchar(100))
	DECLARE @cnt int
	BEGIN TRY
	SELECT @MenuId=MenuId FROM tbl_MenuMaster WHERE MenuName ='VMS'
	IF EXISTS(SELECT MessageId FROM tbl_ManualMessageDetails where MessageId=@MessageId and MessageId<>@MessageId)
		BEGIN
			INSERT INTO #Temp(AlertMessage)
			VALUES('Message Id already exists!')
		END
	
	IF EXISTS(SELECT MessageId FROM tbl_ManualMessageDetails where MessageId=@MessageId and MessageId<>@MessageId)
		BEGIN
			INSERT INTO #Temp(AlertMessage)
			VALUES('Message  Id already exists!')
		END
	SELECT @cnt=COUNT(AlertMessage)  FROM #Temp
	IF(@cnt=0)
		BEGIN -- select * from tbl_ManualMessageDetails
			IF(@MessageId=0)
			BEGIN
				insert into tbl_ManualMessageDetails(VmsIds,MediaPath,FormatId,DisplayTimout,ValidTillDate,CreatedDate,CreatedBy)
				values(@VmsIds,@MediaPath,@FormatId,@DisplayTimout,@ValidTillDate,@CDateTime,@UserId);
				SELECT MessageId=@@IDENTITY

				SET @CVal=(SELECT * FROM tbl_ManualMessageDetails where MessageId=@MessageId FOR JSON AUTO, WITHOUT_ARRAY_WRAPPER)		
				
				INSERT INTO tbl_ActivityLog(UserId,CurrentColumn,ActionId,MenuId,CreatedDate)
				VALUES(@UserId,@CVal,'Insert',@MenuId,@CDateTime);
				
				INSERT INTO #Temp(AlertMessage)VALUES('success');
			END
			ELSE
			BEGIN
				
				SET @PVal=(SELECT * FROM tbl_ManualMessageDetails where MessageId=@MessageId FOR JSON AUTO, WITHOUT_ARRAY_WRAPPER)	
				
				UPDATE tbl_ManualMessageDetails SET VmsIds=@VmsIds,
				MediaPath=@MediaPath,FormatId=@FormatId,DisplayTimout=@DisplayTimout,ValidTillDate=@ValidTillDate,ModifiedDate=@CDateTime,ModifiedBy=@UserId
				WHERE MessageId=@MessageId
				
				SET @CVal=(SELECT * FROM tbl_ManualMessageDetails where MessageId=@MessageId FOR JSON AUTO, WITHOUT_ARRAY_WRAPPER)		

				INSERT INTO tbl_ActivityLog(UserId,PrevColumn,CurrentColumn,ActionId,MenuId,CreatedDate)
				VALUES(@UserId,@PVal,@CVal,'Update',@MenuId,@CDateTime);

				INSERT INTO #Temp(AlertMessage)VALUES('success');
			END
		END
		END TRY  
	BEGIN CATCH  
		INSERT INTO #Temp(AlertMessage)VALUES('failed');
		EXECUTE USP_ErrorInfoInsert;  
	END CATCH  
		select * from #Temp;
END


