USE [ATMSv1]
GO
/****** Object:  StoredProcedure [dbo].[USP_EquipmentDetailsGetById]    Script Date: 04-10-2023 11:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_MessageDetailsGetById]
@MessageId bigint
AS BEGIN
	SELECT * from tbl_ManualMessageDetails	WHERE MessageId=@MessageId
END
