<div class="main-body">
    <div class="body-top-part">
        <div class="row">
            <div class="col-md-2">
                <fieldset>
                    <legend>Vehicle Class</legend>
                    <p-listbox [options]="VehicleClasss" [(ngModel)]="selectedVehicleClasss"
                        optionLabel="SystemVehicleClassName" optionValue="SystemVehicleClassId" [filter]="false"
                        (onChange)="onVehicleChange($event.value)" />
                </fieldset>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12 pd-tb-4">
                        <fieldset>
                            <legend>Transaction Event</legend>
                            <div class="row d-flex justify-content-center pd-tb-4">
                                <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                    <button type="button" class="btn wt-90"
                                        [ngClass]="{'btn-outline-warning': FleetStart==false, 'btn-dark': FleetStart}"
                                        (click)="onFleetStart()">
                                        {{ FleetStart ? 'Fleet-Started' : 'Fleet-Start' }}
                                    </button>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                    <button type="button" class="btn wt-90"
                                        [ngClass]="{'btn-outline-warning': TowStart==false, 'btn-dark': TowStart}"
                                        (click)="ontteSeclect(2)">
                                        {{ TowStart ? 'Tow-Started' : 'Tow-Start' }}
                                    </button>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                    <button type="button" class="btn btn-warning wt-90" (click)="onVRN()">VRN</button>
                                </div>
                                <!-- <div class="col-md-6 d-flex justify-content-center pd-tb-4">
                                    <button type="button" class="btn btn-warning wt-90">Mid-Declare</button>
                                </div> -->
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-4 trans-box">
                <fieldset>
                    <legend>Current Transaction</legend>
                    <form [formGroup]="FormDetails">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="TransactionTypeName" class="col-sm-6 col-form-label">Transaction
                                        Type:</label>
                                    <div class="col-sm-6">
                                        <input formControlName="TransactionTypeName" type="text" pInputText
                                            autocomplete="off" class="form-control lbl" placeholder="Transaction type"
                                            readonly="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="VehicleClassName" class="col-sm-6 col-form-label">Vehicle class:</label>
                                    <div class="col-sm-6">
                                        <input formControlName="VehicleClassName" type="text" pInputText readonly="true"
                                            autocomplete="off" class="form-control lbl" placeholder="Vehicle class" />
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="VehicleClassSubName" class="col-sm-6 col-form-label">Vehicle sub class:</label>
                                    <div class="col-sm-6">
                                        <input formControlName="VehicleClassSubName" type="text" pInputText readonly="true"
                                            autocomplete="off" class="form-control lbl" placeholder="Vehicle sub class" />
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="PlateNumber" class="col-sm-3 col-form-label">Plate Number:</label>
                                    <div class="col-sm-9">
                                        <input formControlName="PlateNumber" type="text" pInputText autocomplete="off"
                                            class="form-control" placeholder="PlateNumber" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="TagStatus" class="col-sm-3 col-form-label">Tag Status:</label>
                                    <div class="col-sm-9">
                                        <input formControlName="TagStatus" type="text" pInputText autocomplete="off"
                                            class="form-control" placeholder="TagStatus" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset>
                    <legend>Live View</legend>
                    <canvas id="ptz0" class="live-stream">
                    </canvas>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="body-bottom-part">
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Recent Transaction</legend>
                    <div class="table-responsive mt-1">
                        <p-table #dt [value]="laneRecentData" [rowHover]="true" [scrollable]="true"
                            [resizableColumns]="true" styleClass="" selectionMode="single">
                            <ng-template pTemplate="header" styleClass="thead-light">
                                <tr>
                                    <th>Id</th>
                                    <th>Type</th>
                                    <th>Vehicle</th>
                                    <th>Date Time</th>
                                    <th>Toll Fare</th>
                                    <th>Weight(P)</th>
                                    <th>Weight(A)</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                <tr [pSelectableRow]="rowData">
                                    <td>{{rowData.LaneTransactionId}}</td>
                                    <td>{{rowData.TransactionTypeName}}</td>
                                    <td>{{rowData.VehicleClassName}}-{{rowData.VehicleSubClassName}}</td>
                                    <td>{{rowData.TransactionDateTime}}</td>
                                    <td>{{rowData.TransactionAmount | currency:'INR':'symbol':'1.0-2'}}</td>
                                    
                                    <td>{{rowData.PermissibleVehicleWeight}}</td>
                                    <td>{{rowData.ActualVehicleWeight}}</td>
                                    <!-- | currency:'INR':true:'1.0-2' -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="body-footer-part">
        <div class="icon-row">
            <span *ngFor="let item of equipmentListDetais" class="icon-item justify-content-center">
                <i [class]="getIconName(item)"></i>
                <div class="icon-label justify-content-center">{{ item.EquipmentTypeName }}</div>
            </span>
        </div>
    </div>
</div>