<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-color">ICD Status <span class="refresh-icon mdi mdi-refresh"
                                (click)="GetDefaultData()"></span></h5>
                        <div class="table-responsive mt-3 fastag-table listtablepadding" id="tbl">
                            <p-table #dt [value]="IcdApiData" [rowHover]="false" [scrollable]="false"
                                [resizableColumns]="false" [showCurrentPageReport]="false" [paginator]="false">
                                <ng-template pTemplate="header" styleClass="thead-light">
                                    <tr>
                                        <th>Last Request Date/Time</th>
                                        <th>Last Response Date/Time</th>
                                        <th>Failed Upload</th>
                                        <th>Upload Pending</th>
                                        <th>Upload Done</th>
                                        <th>Response Pending</th>
                                        <th>Status Pending</th>
                                        <th>Response Done</th>
                                        <th>Accepted</th>
                                        <th>Declined</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                    <tr>
                                        <td>{{rowData.LastRequestDateTime | date: 'dd-MMM-yyyy HH:mm:ss':'UTC'}}</td>
                                        <td>{{ rowData.LastResponseDateTime | date: 'dd-MMM-yyyy HH:mm:ss':'UTC' }}</td>
                                        <td style="text-align: center;">
                                            <a href="javascript:void(0);" style="cursor: pointer;"
                                                (click)="onReuploadData()" class="me-3 text-danger">
                                                <i
                                                    class="mdi mdi-arrow-up-circle font-size-18">{{rowData.FailedUpload}}</i>
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="javascript:void(0);" style="cursor: pointer;"
                                                (click)="onUploadPending()" class="me-3 text-primary">
                                                <i
                                                    class="mdi mdi-lan-pending font-size-18">{{rowData.UploadPending}}</i>
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="javascript:void(0);" style="cursor:text;"
                                                class="me-3 text-success">
                                                <i class="mdi mdi-cloud-upload font-size-18">{{rowData.UploadDone}}</i>
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="javascript:void(0);" style="cursor: pointer;"
                                                class="me-3 text-danger" (click)="onResponsePending()">
                                                <i
                                                    class="mdi mdi-receipt-text-clock-outline font-size-18">{{rowData.ResponsePending}}</i>
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="javascript:void(0);" style="cursor: text;"
                                                class="me-3 text-secondary">
                                                <i class="mdi mdi-sync font-size-18">{{rowData.CheckStatus}}</i>
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="javascript:void(0);" style="cursor: text;"
                                                class="me-3 text-primary">
                                                <i
                                                    class="mdi mdi-cloud-download-outline font-size-18">{{rowData.ResponseDone}}</i>
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="javascript:void(0);" style="cursor: text;"
                                                class="me-3 text-success">
                                                <i
                                                    class="mdi mdi-check-circle-outline font-size-18">{{rowData.SuccessResponse}}</i>
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="javascript:void(0);" style="cursor: pointer;"
                                                class="me-3 text-danger" (click)="onResponseDeclined()">
                                                <i class=" mdi mdi-cancel font-size-18">{{rowData.FailedResponse}}</i>
                                            </a>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-color">SFTP Status <span class="refresh-icon mdi mdi-refresh"
                                (click)="GetDefaultData()"></span></h5>
                        <div class="table-responsive mt-3 fastag-table listtablepadding" id="tbl">
                            <p-table #dt1 [value]="SftpStatusData" [rowHover]="false" [scrollable]="false"
                                [resizableColumns]="false" [showCurrentPageReport]="false" [paginator]="false">
                                <ng-template pTemplate="header" styleClass="thead-light">
                                    <tr>
                                        <th>Last Download Date/Time</th>
                                        <th>Last Decrypt Date/Time</th>
                                        <th>Last Processed Date/Time</th>
                                        <th>Last Init Date/Time</th>
                                        <th>Last Diff Date/Time</th>
                                        <th>Current Process Date/Time</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                    <tr>
                                        <td>{{rowData.LastFileDownlaoded | date: 'dd-MMM-yyyy HH:mm:ss':'UTC'}}</td>
                                        <td>{{rowData.LastFileDecrypted | date: 'dd-MMM-yyyy HH:mm:ss':'UTC' }}</td>
                                        <td>{{rowData.LastFileProcessed | date: 'dd-MMM-yyyy HH:mm:ss':'UTC' }}</td>
                                        <td>{{rowData.LastFileInitProcessed | date: 'dd-MMM-yyyy HH:mm:ss':'UTC' }}</td>
                                        <td>{{rowData.LastFileDiffProcessed | date: 'dd-MMM-yyyy HH:mm:ss':'UTC' }}</td>
                                        <td>{{rowData.CurrentFileProcessed | date: 'dd-MMM-yyyy HH:mm:ss':'UTC' }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <p-table #dt2 [value]="SftpCountData" [rowHover]="false" [scrollable]="false"
                                [resizableColumns]="false" [showCurrentPageReport]="false" [paginator]="false">
                                <ng-template pTemplate="header" styleClass="thead-light">
                                    <tr>
                                        <th>Downlaoded</th>
                                        <th>Encrypted</th>
                                        <th>Decrypted</th>
                                        <th>UnProcessed</th>
                                        <th>Processed</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                    <tr>
                                        <td>{{rowData.TotalDownlaoded}}</td>
                                        <td>{{rowData.TotalEncrypted}}</td>
                                        <td>{{rowData.TotalDecrypted}}</td>
                                        <td>{{rowData.TotalUnProcessed}}</td>
                                        <td>{{rowData.TotalProcessed}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <p-table #dt3 [value]="SftpCurrentData" [rowHover]="false" [scrollable]="false"
                                [resizableColumns]="false" [showCurrentPageReport]="false" [paginator]="false">
                                <ng-template pTemplate="header" styleClass="thead-light">
                                    <tr>
                                        <th>File Name</th>
                                        <th>File Date/Time</th>
                                        <th>File Upload Date/Time</th>
                                        <th>Is Decrypted</th>
                                        <th>Remark</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                    <tr>
                                        <td>{{rowData.BltFileName}}</td>
                                        <td>{{rowData.FileDateTime | date: 'dd-MMM-yyyy HH:mm:ss':'UTC' }}</td>
                                        <td>{{rowData.ModifiedTime | date: 'dd-MMM-yyyy HH:mm:ss':'UTC' }}</td>
                                        <td>{{rowData.IsDecrypted}}</td>
                                        <td>{{rowData.Remark}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-color">Manual Transaction</h5>
                        <form [formGroup]="DataDetailsForm">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="LaneId">Plate Number</label>
                                    <input formControlName="PlateNumber" type="text" pInputText required
                                        autocomplete="off" class="form-control" placeholder="Plate Number" />
                                    <small class="p-error"
                                        *ngIf="submitted && DataDetailsForm.hasError('required','PlateNumber')">Plate
                                        number must be required.</small>
                                </div>
                                <div class="col-md-3">
                                    <label for="LaneId">Lane</label>
                                    <p-dropdown appendTo="body" formControlName="LaneId" inputId="LaneId"
                                        [options]="LaneDataList" optionLabel="DataName" optionValue="DataId"
                                        placeholder="Select" class="form-control select2"></p-dropdown>
                                    <small class="p-error"
                                        *ngIf="submitted && DataDetailsForm.hasError('required','LaneId')">Lane is
                                        required.</small>
                                </div>
                                <div class="col-md-3">
                                    <label for="LaneId">Vehicle Class</label>
                                    <p-dropdown appendTo="body" formControlName="VehicleSubClassId"
                                        inputId="VehicleSubClassId" [options]="SubClassData" optionLabel="DataName"
                                        optionValue="DataId" placeholder="Select"
                                        class="form-control select2"></p-dropdown>
                                    <small class="p-error"
                                        *ngIf="submitted && DataDetailsForm.hasError('required','VehicleSubClassId')">Vehicle
                                        sub Class is
                                        required.</small>
                                </div>
                                <div class="col-md-3">
                                    <label for="TransactionDateTime">Transaction Date/Time</label>
                                    <p-calendar [showTime]="true" [showSeconds]="true"  [hourFormat]="'24'" pInputText
                                        autofocus class="form-control" formControlName="TransactionDateTime"
                                        [readonlyInput]="true" dateFormat="dd-M-yy"></p-calendar>
                                    <small class="p-error"
                                        *ngIf="submitted && DataDetailsForm.hasError('required','TransactionDateTime')">Transaction
                                        date time
                                        is
                                        required.</small>
                                </div>
                                <div class="col-md-3">
                                    <br>
                                    <button type="button" class="btn btn-secondary" (click)="submit()">Process</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>