<div class="modal-content theam-bg">
    <div class="modal-body">
       <div class="row">
        <div class="col-md-12 fleet-popup">
            <span class="icon-item justify-content-center">
                <i class="{{class_name}}"></i>
            </span>
            <span class="icon-label justify-content-center">
                Total Vehicle Cross : {{FleetCount}}
            </span>
        </div>
       </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark wt-90"
        (click)="onFleetStop()">Fleet-Stop</button>
    </div>
</div>